@charset "utf-8";
/*频道页*/
.chal, .chal_sty{ width:958px; height:auto; border:1px solid #eee; padding-bottom:10px; float:left;}
.chal_sty{ border-top:0;}
.chal li{ width:180px; height:100px; margin:8px 5px 0 6px; display:inline; float:left;}
.chal li strong{ width:180px; height:18px; line-height:18px; text-align:center; color:#fff; font-weight:normal; background:#ffba00; float:left;}
.chal li p{ width:170px; height:auto; line-height:20px; padding:5px; float:left;}
.chalbar{ width:957px; height:auto; border:1px solid #eee; border-top:0; padding:0 0 7px 1px; float:left;}
.chalbar li{ width:70px; height:50px; margin:8px 0 0 7px; border:1px solid #eee; display:inline; float:left;}
.chalad{ width:960px; height:270px; float:left;}
.chalad1, .chalad1 img{ width:200px; height:270px; float:left;}
.chalad2{ width:744px; height:268px; border:1px solid #eee; float:right;}
.chalad2 li{ width:auto; height:268px; float:left;}
#chalprdrt{ width:auto; height:30px; margin-top:8px; display:inline; float:right;}
#chalprdrt li{ width:43px; height:10px; line-height:10px; background:url(../images/chal_tit.gif) right bottom no-repeat; text-align:right; color:#000; cursor:pointer; padding:5px 7px 0 0; margin:0 8px 0 0; display:inline; float:left;}
#chalprdrt li.current{ background:url(../images/chal_tit.gif) right top no-repeat; color:#fea700; position:relative; z-index:1; float:left;}
#chalprdrt li.usual{ background:url(../images/chal_tit.gif) right bottom no-repeat; color:#000; float:left;}
#chalprdnr{ width:744px; height:auto; float:left;}
#chalprdnr .con{ width:744px; height:auto; display:none; float:left;}
/*潮货汇*/
.trend{ width:960px; height:260px; float:left;}
#trendt{ width:auto; height:16px; margin:-35px 25px 0 0; display:inline; float:right;}
#trendt li{ width:19px; height:16px; background:url(../images/trend_tit.gif) bottom no-repeat; cursor:pointer; margin:0 8px 0 0; display:inline; float:left;}
#trendt li.current{ background:url(../images/trend_tit.gif) top no-repeat; position:relative; z-index:1; float:left;}
#trendt li.usual{ background:url(../images/trend_tit.gif) bottom no-repeat; float:left;}
#trendnr{ width:960px; height:260px; float:left;}
#trendnr .con{ width:960px; height:260px; display:none; float:left;}
#trendnr .con img{ width:960px; height:260px; float:left;}
.trdtwo{ width:960px; height:275px; float:left;}
.trdtlt{ width:313px; height:275px; border:1px solid #eee; float:left;}
.trdtrt{ width:400px; height:275px; border: solid #eee; border-width:1px 0 0 1px; margin-left:10px; display:inline; float:left;}
.trdtrt li{ width:199px; height:137px; border:solid #eee; border-width:0 1px 1px 0; float:left;}
.trdtrt li img{ width:199px; height:137px; float:left;}
.trdtrt2{ width:231px; height:275px; border:solid #eee; border-width:1px 1px 1px 0; float:left;}
.trdtrt2 img{ width:231px; height:275px; float:left;}
.trdth{ width:960px; height:auto; float:left;}
.trdtht{ width:960px; height:30px; float:left;}
.trdtht strong{ width:auto; float:left;}
.trdtht span{ width:auto; height:30px; line-height:30px; color:#eee; float:right;}
#trdthrt{ width:auto; height:30px; margin-top:7px; display:inline; float:right;}
#trdthrt li{ width:66px; height:11px; line-height:11px; background:url(../images/trend_tit.gif) right bottom no-repeat; text-align:right; color:#000; cursor:pointer; padding:5px 9px 0 0; margin:0 8px 0 0; display:inline; float:left;}
#trdthrt li.current{ background:url(../images/trend_tit.gif) right top no-repeat; color:#fea700; position:relative; z-index:1; float:left;}
#trdthrt li.usual{ background:url(../images/trend_tit.gif) right bottom no-repeat; color:#000; float:left;}
#trdthrnr{ width:960px; height:auto; float:left;}
#trdthrnr .con{ width:960px; height:auto; display:none; float:left;}
.trdcot{ width:960px; height:auto; padding:0 0 15px; float:left;}
.trdcot1{ width:160px; height:240px; margin:10px 0 0; display:inline; float:left;}
.trdcot1 a{ width:160px; height:200px; float:left; cursor:pointer;}
.trdcot1 img{ width:160px; height:160px; float:left;}
.trdcot1 span{ width:160px; height:40px; line-height:20px; text-align:center; overflow:hidden; float:left;}
.trdcot1 em, .trdcot1 b{ width:160px; height:20px; line-height:20px; text-align:center; float:left;}
.trdcot1 em{ color:#666;}
.trdcot1 b, .trdcot1 ins{ color:#f00; text-decoration:none;}
.trdcot1 b{ font-size:14px;}
.trdcot2{ width:40px; height:240px; float:left;}
.trdcot3{ width:34px; height:240px; float:left;}
/*品牌馆*/
.xbrd{ width:960px; height:auto; float:left;}
.xbrd strong{ width:960px; height:25px; line-height:25px; font-size:14px; float:left;}
.xbrd p{ width:960px; height:25px; line-height:25px; color:#eee; float:left;}
.xbrdnr{ width:960px; height:auto; float:left;}
.xbrdnr1{ width:70px; height:50px; border:1px solid #eee; margin:8px 0 5px; display:inline; overflow:hidden; float:left;}
.xbrdnr2{ width:16px; height:50px; margin:8px 0 5px; display:inline; float:left;}
/*专题展*/
.topic{ width:960px; height:auto; float:left}
.topic1{ width:475px; height:135px; text-align:center; margin:5px 0 5px 0; display:inline; float:left;}
.topic1 a{ width:475px; height:135px; float:left; cursor:pointer;}
.topic1 img{ width:475px; height:100px; float:left;}
.topic1 span{ width:475px; height:35px; line-height:35px; float:left;}
.topic2{ width:10px; height:135px; margin:5px 0 5px 0; display:inline; float:left;}
/*信誉铺*/
.credit{ width:960px; height:auto; float:left;}
.cred1, .cred2{ height:110px; margin:10px 0 0 0; display:inline; float:left;}
.cred1{ width:232px;}
.cred2{ width:10px;}
.crednr{ width:300px; height:340px; border:1px solid #eee; padding:5px; float:left;}
.crednr strong{ width:300px; height:25px; line-height:25px; font-size:14px; text-align:center; float:left;}
.credcot{ width:300px; height:auto; float:left;}
.credcot1{ width:294px; height:20px; padding:0 3px; margin:6px 0 0 0; display:inline; float:left;}
.credcot1 a{ width:294px; height:20px; color:#333; cursor:pointer; float:left;}
.credcot1 a:hover{ width:294px; height:20px; color:#e00000; cursor:pointer; float:left;}
.credcot1 .tu{ width:14px; height:14px; text-align:center; color:#fff; background:url(../images/credit_bg1.gif) no-repeat; margin:3px 5px 0 0; display:inline; float:left;}
.credcot1 b img{ display:none;}
.credcot1 strong{ width:170px; height:20px; text-align:left; line-height:20px; font-size:12px; font-weight:normal; overflow:hidden; float:left;}
.credcot1 .credcot1x{ display:none;}
.credcot1 .credcot1x2{ margin:2px 0 0 0; display:inline; float:right;}
.credcot1 .credcot1nr{ width:auto; height:auto; float:right;}
.credcot2{ width:288px; height:64px; background:#f8eeda; border:1px solid #ffe18a; padding:5px; margin:5px 0 0 0; display:inline; float:left;}
.credcot2 a{ width:288px; height:64px; color:#666; text-decoration:none; cursor:pointer; float:left;}
.credcot2 a:hover{ width:288px; height:64px; color:#e00000; text-decoration:none; cursor:pointer; float:left;}
.credcot2 .tu{ width:14px; height:64px; line-height:14px; color:#f79903; text-align:left; font-size:14px; font-weight:bold; float:left;}
.credcot2 b img{ width:60px; height:60px; border:1px solid #eee; margin:0 5px 0 0; display:inline; float:left;}
.credcot2 strong{ width:200px; height:20px; line-height:20px; text-align:left; font-size:12px; overflow:hidden; float:left;}
.credcot2 .credcot1x{ width:100px; height:16px; margin:4px 0 0 0; color:#333; text-decoration:none; text-align:left; display:inline; float:left;}
.credcot2 .credcot1x2{ margin:4px 0 0 0; display:inline; float:left;}
.credcot2 .credcot1nr{ width:200px; height:40px; float:left;}
.crednr2{ width:12px; height:340px; float:left;}
/*女人馆*/
#womt{ width:auto; height:16px; margin:-35px 25px 0 0; display:inline; float:right;}
#womt li{ width:23px; height:16px; background:url(../images/woman_tit.gif) bottom no-repeat; cursor:pointer; margin:0 5px 0 0; display:inline; float:left;}
#womt li.current{ background:url(../images/woman_tit.gif) top no-repeat; position:relative; z-index:1; float:left;}
#womt li.usual{ background:url(../images/woman_tit.gif) bottom no-repeat; float:left;}
#womnr{ width:960px; height:260px; float:left;}
#womnr .con{ width:960px; height:260px; display:none; float:left;}
#womnr .con img{ width:960px; height:260px; float:left;}
#womanrt{ width:auto; height:30px; margin-top:7px; display:inline; float:right;}
#womanrt li{ width:50px; height:11px; line-height:11px; background:url(../images/woman_tit.gif) right bottom no-repeat; text-align:right; color:#000; cursor:pointer; padding:5px 18px 0 0; margin:0 8px 0 0; display:inline; float:left;}
#womanrt li.current{ background:url(../images/woman_tit.gif) right top no-repeat; color:#e00000; position:relative; z-index:1; float:left;}
#womanrt li.usual{ background:url(../images/woman_tit.gif) right bottom no-repeat; color:#000; float:left;}
.woman2{ width:958px; height:305px; border:1px solid #eee; float:left;}
.woman2 li{ width:auto; height:305px; float:left;}
/*商品类目*/
.caty{ width:956px; height:auto; border:1px solid #eee; background:#fff url(../images/category_bg.gif) repeat-y; padding:1px; float:left;}
.caty h4{ width:29px; height:auto; line-height:20px; font-size:14px; color:#fff; border-right:1px solid #fff; writing-mode:lr-tb; text-align:center; padding:10px 0; float:left;}
.catynr{ width:926px; height:auto; padding:0 0 10px 0; float:left;}
.catynr li{ width:220px; height:110px; margin:10px 0 0 10px; display:inline; float:left;}
.catynr li p a{ color:#333;}
.catynr li p a:hover{ color:#e00000;}
.catynr li strong{ width:210px; height:22px; line-height:22px; background:url(../images/arrow6.gif) left center no-repeat; padding:0 0 0 10px; float:left;}
.catynr li p{ width:205px; height:88px; line-height:22px; padding:0 5px 0 10px; float:left;}
.caty2{ width:956px; height:auto; background:#fffae7; border:2px solid #fe8802; float:left;}
.caty2 h4{ width:29px; height:auto; line-height:20px; font-size:14px; color:#fe8802; writing-mode:lr-tb; text-align:center; border-right:1px solid #fe8802; padding:10px 0; float:left;}
/*商品列表*/
.listlt{ width:210px; height:auto; float:left;}
.listlt1{ width:206px; height:auto; border:1px solid #000; padding:1px; float:left;}
.listlt1 h3{ width:186px; height:30px; line-height:30px; font-size:14px; background:#000; color:#fff; padding:0 10px; float:left;}
.listlt1 p{ width:186px; height:30px; line-height:30px; padding:0 10px; float:left;}
.listlt1 strong{ width:186px; height:25px; line-height:25px; background:#eee; padding:0 10px; border-bottom:1px solid #eaeaea; float:left; margin-right:-3px;}
.listlt1 strong em{ float:left;}
.listlt1 strong img{ width:9px; height:9px; margin:8px 0 0 0; display:inline; float:right;}
.listlt1nr{ width:206px; height:auto; padding:0 0 5px; margin:5px 0 0 0; display:inline; float:left; margin-right:-3px;}
.listlt1nr li{ width:166px; height:24px; line-height:24px; padding:0 20px; float:left;}
.listlt1nr li a{ color:#333;}
.listlt1nr li a:hover{ color:#e00000;}
.listlt1bg{ background:#fdf9f6;}
.listlt2{ width:206px; height:auto; border:1px solid #eee; padding:1px; float:left;}
.listlt2 strong{ width:186px; height:30px; line-height:30px; font-size:14px; background:#eee; padding:0 10px; float:left;}
.listlt2nr{ width:200px; height:auto; padding:3px; float:left;}
.listlt2nr li{ width:80px; height:105px; margin:8px 8px 0 10px; display:inline; float:left;}
.listlt2nr li a{ width:80px; height:105px; float:left; cursor:pointer;}
.listlt2nr li img{ width:80px; height:80px; float:left;}
.listlt2nr li span{ width:80px; height:25px; line-height:25px; color:#e00000; text-align:center; float:left;}
.listrt{ width:740px; height:auto; float:right;}
.listrtit{ width:718px; height:32px; line-height:32px; font-size:12px; background:#f9f7f7; border:1px solid #eee; border-bottom:0; padding:0px 10px; float:left;}
.listrt1{ width:730px; height:auto; padding:0 0 0 10px; margin-top:10px; display:inline; float:left;}
.listrt1 b{ width:710px; height:25px; line-height:25px; background:url(../images/arrow7.gif) left center no-repeat; padding:0 0 0 20px; float:left;}
.listrt1 p{ width:710px; height:auto; padding:0 0 0 20px; float:left;}
.listrt1 a{ width:110px; height:22px; line-height:22px; color:#333; padding:0 5px 0 0; float:left;}
.listrt1 a:hover{ color:#e00000;}
.listline{ width:740px; height:0px; border-bottom:1px dashed #eee; float:left; overflow:hidden;}
.listtit{ width:736px; height:29px; border:1px solid #fee28f; padding:1px; float:left;}
.listtnr{ width:714px; height:29px; background:url(../images/category_bg2.gif) repeat-x; padding:0 11px; float:left;}
.listtit1, .listtit2{ width:auto; height:29px; line-height:29px;}
.listtit1{ float:left;}
.listt1{ width:86px; height:20px; margin-right:15px; display:inline; float:left;}
.listt1 a{ width:66px; height:18px; line-height:18px; color:#404040; border:1px solid #c7c6c6; background:url(../images/list_1.gif) bottom no-repeat; padding:0 0 0 18px; margin:5px 0 0 0; display:inline; float:left;}
.listt1 a:hover{ width:66px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_1.gif) top no-repeat; padding:0 0 0 18px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt2{ width:86px; height:20px; margin-right:15px; display:inline; float:left;}
.listt2 a{ width:66px; height:18px; line-height:18px; color:#404040; border:1px solid #c7c6c6; background:url(../images/list_2.gif) bottom no-repeat; padding:0 0 0 18px; margin:5px 0 0 0; display:inline; float:left;}
.listt2 a:hover{ width:66px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_2.gif) top no-repeat; padding:0 0 0 18px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt3{ width:42px; height:20px; float:left;}
.listt3 a{ width:37px; height:18px; line-height:18px; color:#404040; border:1px solid #c7c6c6; background:url(../images/list_3.gif) bottom no-repeat; padding:0 0 0 3px; margin:5px 0 0 0; display:inline; float:left;}
.listt3 a:hover{ width:37px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_3.gif) top no-repeat; padding:0 0 0 3px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt4{ width:42px; height:20px;float:left;}
.listt4 a{ width:37px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_3.gif) top no-repeat; padding:0 0 0 3px; margin:5px 0 0 0; display:inline; float:left;}
.listt4 a:hover{ width:37px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_3.gif) top no-repeat; padding:0 0 0 3px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt5{ width:46px; height:20px;float:left;}
.listt5 a{ width:39px; height:18px; line-height:18px; color:#404040; border:1px solid #c7c6c6; background:url(../images/list_4.gif) bottom no-repeat; padding:0 0 0 5px; margin:5px 0 0 0; display:inline; float:left;}
.listt5 a:hover{ width:39px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_4.gif) top no-repeat; padding:0 0 0 5px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt6{ width:46px; height:20px;float:left;}
.listt6 a{ width:39px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_4.gif) top no-repeat; padding:0 0 0 5px; margin:5px 0 0 0; display:inline; float:left;}
.listt6 a:hover{ width:39px; height:18px; line-height:18px; color:#404040; border:1px solid #308ed1; background:url(../images/list_4.gif) top no-repeat; padding:0 0 0 5px; margin:5px 0 0 0; display:inline; text-decoration:none; float:left;}
.listt7{ width:auto; height:20px; margin-left:15px; float:left;}
.listt8{ width:auto; height:20px; float:left;}
.listt9{ width:auto; height:20px; margin-right:15px; float:left;}
.listmar{ margin-left:165px;}
.listtit2{ text-align:right; float:right;}
.listtit2 span{ margin-left:10px; display:inline; float:left;}
.listtit3{ width:19px; height:19px; line-height:19px; background:#fff; border:1px solid #ccc; margin-top:4px; display:inline;}
.listtit3 img{ width:4px; height:8px; margin:5px 7px; float:left;}
.listtit3 a{ width:19px; height:19px; float:left; cursor:pointer;}
.listtit4{ width:60px; height:19px; line-height:12px; background:#fff; border:1px solid #ccc; margin-top:4px; display:inline;}
.listtit4 em{ margin:4px 0 0 5px; float:left;}
.listtit4 img{ width:4px; height:8px; margin:5px 7px; float:left;}
.listtit4 a{ width:60px; height:19px; float:left; cursor:pointer;}
.listbg{ background:url(../images/list_bg1.gif) bottom repeat-x;}
.listnr{ width:740px; height:auto; margin:10px 0 0 0; display:inline; float:left;}
.listnr li{ width:222px; height:310px; text-align:center; margin:0 10px 0 14px; display:inline; float:left;}
.listnr li a{ width:222px; height:262px; float:left; cursor:pointer;}
/*.listnr li .listnrtu{ width:220px; height:220px; vertical-align:middle;*display:block;*font-family:Arial!important;*font-size:199px;*line-height:1; display:table-cell; text-align:center; background:#fff; border:1px solid #eee; float:left;}*/
.listnr li .listnrtu img{ width:220px; height:220px; float:left;}
.listnr li .listnrt{ width:220px; height:42px; line-height:21px; overflow:hidden; float:left;}
.listnr li p, .listnr li strong{ width:220px; height:21px; line-height:21px; color:#999; overflow:hidden; text-decoration:none; float:left;}
.listnr li strong, .listnr li .zi{ color:#e00000; font-style:normal;}
.listnr li strong{ font-size:14px;}
.listnr li span{ width:73px; height:15px; background:url(../images/list_5.gif) no-repeat; margin-top:-58px; float:right;}
.listnr li b, .listnr li ins{ display:none;}
.listnr2{ width:740px; height:auto; margin:10px 0 0 0; display:inline; float:left;}
.listnr2 li{ width:720px; height:92px; text-align:left; padding:0 10px; margin:10px 0 0; display:inline; border-bottom:1px dashed #eee; float:left; overflow:hidden;}
.listnr2 li a{ width:370px; height:82px; float:left; cursor:pointer;}
/*.listnr2 li .listnrtu{ width:80px; height:80px; vertical-align:middle;*display:block;*font-family:Arial!important;*font-size:70px;*line-height:1; display:table-cell; text-align:center; background:#fff; border:1px solid #eee; float:left;}*/
.listnr2 li .listnrtu img{ width:80px; height:80px;vertical-align:middle; float:left;}
.listnr2 li .listnrt{ width:270px; height:42px; line-height:21px; overflow:hidden; float:right;}
.listnr2 li p, .listnr2 li ins, .listnr2 li b, .listnr2 li strong{ height:21px; line-height:21px; color:#999;}
.listnr2 li p, .listnr2 li ins{ width:120px;}
.listnr2 li b, .listnr2 li strong{ width:150px; margin-left:20px; display:inline;}
.listnr2 li p, .listnr2 li ins{ text-align:right; text-decoration:none; float:right;}
.listnr2 li strong, .listnr2 li b{ text-align:left; float:left;}
.listnr2 li b{ font-weight:normal;}
.listnr2 li b a{ width:auto; height:21px; float:none;}
.listnr2 li strong, .listnr2 li .zi{ color:#e00000; font-style:normal;}
.listnr2 li .zi2{ display:-moz-display-box;display:inline-block;*display:block;}
.listnr2 li strong{ font-size:14px;}
.listnr2 li span{ width:73px; height:15px; background:url(../images/list_5.gif) no-repeat; margin:5px 0 0 20px; display:inline; float:left;}
/*店铺列表*/
.listnr3{ width:740px; height:auto; float:left;}
.listnr3 li{ width:720px; height:auto; line-height:20px; border-bottom:1px dashed #eee; padding:0 10px 10px; margin-top:10px; display:inline; float:left;}
.listnr3tu{ width:100px; height:100px; float:left;}
.listnr3tu img{ width:100px; height:100px; float:left;}
.listnr3zi{ width:250px; height:auto; margin-left:20px; display:inline; float:left;}
.listnr3zi span{ width:250px; height:40px; float:left;}
.listnr3x{ width:170px; height:auto; text-align:center; float:left;}
.listnr3x span, .listnr3d span{ width:170px; float:left;}
.listnr3x em{ display:-moz-display-box;display:inline-block;*display:block;}
.listnr3d{ width:170px; height:auto; text-align:right; float:right;}
/*店铺详细*/
.shopsw{ width:928px; height:auto; border:1px solid #eee; padding:15px; float:left;}
.shopsw h2{ width:928px; height:30px; line-height:25px; font-size:14px; font-weight:bold; text-align:left; border-bottom:1px solid #eee; float:left;}
.shopswtu{ width:124px; height:100px; text-align:center; float:left;}
.shopswtu img{ width:100px; height:100px;}
.shopswtu span img{ width:124px; height:39px; margin-top:20px; display:inline; float:left;}
.shopswzi{ width:410px; height:auto; margin-left:15px; display:inline; float:left;}
.shopswzi b{ width:410px; height:30px; line-height:30px; border-bottom:1px dashed #eee; padding:0 15px; float:left; margin-right:-3px;}
.shopswzi i, .shopswzi span{ font-weight:normal; font-style:normal;}
.shopswzi strong{ margin:7px 0 0 3px; display:inline; float:left;}
.shopswzi em{ float:left;}
.shopswzi span{ width:170px; float:right;}
.shopswzi ins{ width:20px; height:13px; line-height:13px; padding-left:65px; text-decoration:none; margin-top:7px; display:inline; float:right;}
.star{ background:url(../images/star_value.png) no-repeat;}
.star1{ background-position:0 -1px;}
.star2{ background-position:0 -17px;}
.star3{ background-position:0 -33px;}
.star4{ background-position:0 -50px;}
.star5{ background-position:0 -67px;}
.star6{ background-position:0 -84px;}
.star7{ background-position:0 -100px;}
.star8{ background-position:0 -116px;}
.star9{ background-position:0 -132px;}
.star10{ background-position:0 -148px;}
.star11{ background-position:0 -164px;}
.shopcard{ width:330px; height:205px; margin-left:30px; border:1px solid #000; display:inline; float:right;}
/*商品详细*/
.showtu{ width:310px; height:310px; float:left;}
.showtu img{ width:310px; height:310px; float:left;}
.showrt{ width:420px; height:auto; float:right;}
.showrt b{ display:-moz-display-box;display:inline-block;*display:block; margin:4px 0 0 0; display:inline; float:left;}
.showrt i{ font-style:normal; float:left;}
.showrt h1{ width:420px; height:54px; line-height:22px; font-size:18px; float:left;}
.showrt p{ width:420px; height:28px; line-height:28px; float:left;}
.showrt .zi{ font-size:18px; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif; color:#e00;}
.showrt span{ width:210px; float:left;}
.showline{ width:420px; height:0; border-bottom:1px dashed #eee; margin:8px 0; display:inline; float:left;}
.showan{ width:420px; height:39px; margin:25px 0 0 0; display:inline; float:left;}
.shownr{ width:736px; height:auto; border:1px solid #eee; padding:1px; float:left;}
.shownr strong{ width:716px; height:30px; line-height:30px; font-size:14px; padding:0 10px; background:#eee; float:left;}
.showcot{ width:736px; height:auto; padding:0 0 10px 0; float:left;}
.showcot li{ width:120px; height:180px; text-align:center; margin:15px 11px 0 15px; display:inline; float:left;}
.showcot li a{ width:120px; height:160px; float:left; cursor:pointer;}
.showcot li img{ width:120px; height:120px; float:left;}
.showcot li span{ width:120px; height:40px; line-height:20px; overflow:hidden; float:left;}
.showcot li b{ width:120px; height:20px; line-height:20px; color:#e00; font-weight:normal; float:left;}
.shownr2{ width:956px; height:auto; border:1px solid #eee; padding:1px; float:left;}
.shownr2 strong{ width:936px; height:30px; line-height:30px; font-size:14px; padding:0 10px; background:#eee; float:left;}
.showcot2{ width:956px; height:auto; padding:0 0 10px 0; float:left;}
.showcot2 li{ width:120px; height:180px; text-align:center; margin:15px 13px 0 24px; display:inline; float:left;}
.showcot2 li a{ width:120px; height:160px; float:left; cursor:pointer;}
.showcot2 li img{ width:120px; height:120px; float:left;}
.showcot2 li span{ width:120px; height:40px; line-height:20px; overflow:hidden; float:left;}
.showcot2 li b{ width:120px; height:20px; line-height:20px; color:#e00; font-weight:normal; float:left;}
.showcon{ width:740px; height:auto; padding:10px 0; border-top:1px solid #eee; float:left;}
.showcont{ width:740px; height:25px; line-height:25px; font-size:14px; float:left;}
/*品牌详细*/
.brdswl{ width:750px; height:auto; float:left;}
.brdswnr{ width:708px; height:auto; border:1px solid #eee; padding:15px; float:left;}
.brdswnr h3{ width:708px; height:30px; line-height:25px; font-size:14px; font-weight:bold; text-align:left; border-bottom:1px solid #eee; float:left;}
.brdswnrtu{ width:100px; height:50px; text-align:center; float:left;}
.brdswnrtu img{ width:70px; height:50px; border:1px solid #eee;}
.brdswnrzi{ width:580px; height:auto; margin-left:15px; display:inline; float:left;}
.brdswnrzi b{ width:550px; height:30px; line-height:30px; border-bottom:1px dashed #eee; padding:0 15px; float:left; margin-right:-3px;}
.brdswnrzi em{ font-weight:normal;}
.brdswnrzi span{ width:124px; height:39px; float:left;}
.brdswcor{ width:740px; height:auto; border-top:1px solid #eee; padding:10px 0; float:left;}
.brdswcort{ width:740px; height:25px; line-height:25px; font-size:14px; float:left;}
.brdswr{ width:196px; height:auto; padding:0 5px 15px; float:left;}
.brdswr li{ width:70px; height:50px; margin:15px 13px 0; border:1px solid #eee; display:inline; overflow:hidden; float:left;}
/*搜索*/
.seach{ width:714px; height:34px; line-height:34px; background:url(../images/seach_bg.gif) repeat-x; color:#333; font-size:13px; padding:0 12px; border:1px solid #ccc; float:left; overflow:hidden;}
.seach span{ color:#ccc;}
.seachlt{ width:140px; height:127px; text-align:right; margin-top:35px; display:inline; float:left;}
.seachrt{ width:550px; height:auto; color:#333; margin-top:25px; display:inline; padding:0 0 120px 0; float:right;}
.seachrt strong{ width:550px; height:35px; line-height:35px; font-size:14px; float:left;}
.seachrt span{ width:550px; height:22px; line-height:22px; float:left;}