<?xml version="1.0" encoding="utf-8"?>
<DataCacheConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableCaching>1</EnableCaching>
  <CacheDependencyAssembly>SAS.Cache</CacheDependencyAssembly>
  <CacheDatabaseName>ntw</CacheDatabaseName>
  <CacheTableList>province,city,district,catalog,navs,category</CacheTableList>
  <CommonCacheDuration>12</CommonCacheDuration>
  <ProvinceTableDependency>province</ProvinceTableDependency>
  <CityTableDependency>city</CityTableDependency>
  <DistrictTableDependency>district</DistrictTableDependency>
  <CatalogTableDependency>catalog</CatalogTableDependency>
  <NavsTableDependency>navs</NavsTableDependency>
  <CateGoryTableDependency>category</CateGoryTableDependency>
</DataCacheConfigInfo>