<?xml version="1.0" encoding="utf-8"?>
<DataCacheInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableCaching>1</EnableCaching>
  <CacheDependencyAssembly>SAS.Cache.TableCacheDependency</CacheDependencyAssembly>
  <CacheDatabaseName>ntw</CacheDatabaseName>
  <CacheTableList>company</CacheTableList>
  <CompanyTableDependency>company</CompanyTableDependency>
  <CompanyCacheDuration>12</CompanyCacheDuration>
  <CommonCacheDuration>12</CommonCacheDuration>
</DataCacheInfo>