<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="TagEvent" is_system_event="true" time_of_day="-1" minutes="720" type="SAS.Event.TagsEvent, SAS.Event" enabled="true" />
    <Event key="ForumEvent" is_system_event="true" time_of_day="1170" minutes="720" type="SAS.Event.ForumEvent, SAS.Event" enabled="true" />
    <Event key="ScriptEvent" is_system_event="true" time_of_day="-1" minutes="1" type="SAS.Event.ScriptEvent, SAS.Event" enabled="true" />
    <Event key="StatEvent" is_system_event="true" time_of_day="2" minutes="1440" type="SAS.Event.StatEvent, SAS.Event" enabled="true" />
    <Event key="NoticesEvent" is_system_event="true" time_of_day="120" minutes="1440" type="SAS.Event.NoticesEvent, SAS.Event" enabled="true" />
    <Event key="AttachmentEvent" is_system_event="true" time_of_day="2" minutes="1440" type="SAS.Event.AttachmentEvent, SAS.Event" enabled="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>