<?xml version="1.0" encoding="utf-8"?>
<TaoBaoConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UserNick>yeyong2086521</UserNick>
  <UserID>mm_13451138_0_0</UserID>
  <AppKey>12005076</AppKey>
  <AppSecret>64292c42ca49632200289324fba42572</AppSecret>
  <SeoTitle>淘之购-专业导购平台</SeoTitle>
  <SeoKeyword>导购平台,浙商黄页,天狼星</SeoKeyword>
  <SeoDescription></SeoDescription>
  <ItemPageSize>30</ItemPageSize>
  <TaoDomain>http://taobao.sirius.com/</TaoDomain>
</TaoBaoConfigInfo>