<%inherits "SAS.Sirius.Pages.personindex"%>
<%template _studioheader%>
<div class="nr article_container" style="background:url(images/ad/ad3-1bg.png);" id="post-01">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="天狼星（Sirius）" title="天狼星（Sirius）" src="images/ad/ad3-1.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">天狼星（Sirius）</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li class="next"><a href="#post-02">next</a></li>
		</ul>
	</div>
	</div>
	<div class="nr article_container" style="background:url(images/ad/ad3-2bg.png);" id="post-02">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="角宿一（Spica）" title="角宿一（Spica）" src="images/ad/ad3-2.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">角宿一（Spica）</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li><a href="#post-0">prev</a></li>
			<li class="next"><a href="#post-03">next</a></li>
		</ul>
	</div>
	</div>
	<div class="nr article_container" style="background:url(images/ad/ad3-3bg.png);" id="post-03">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="尾宿八（Shaula）" title="尾宿八（Shaula）" src="images/ad/ad3-3.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">尾宿八（Shaula）</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li><a href="#post-0">prev</a></li>
			<li class="next"><a href="#post-04">next</a></li>
		</ul>
	</div>
	</div>
	<div class="nr article_container" style="background:url(images/ad/ad3-4bg.png);" id="post-04">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="五车五（El nath）" title="五车五（El nath）" src="images/ad/ad3-4.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">五车五（El nath））</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li><a href="#post-0">prev</a></li>
			<li class="next"><a href="#post-05">next</a></li>
		</ul>
	</div>
	</div>
	<div class="nr article_container" style="background:url(images/ad/ad3-5bg.png);" id="post-05">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="玉衡星（Alioth）" title="玉衡星（Alioth）" src="images/ad/ad3-5.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">玉衡星（Alioth）</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li><a href="#post-0">prev</a></li>
			<li class="next"><a href="#post-06">next</a></li>
		</ul>
	</div>
	</div>
	<div class="nr article_container" style="background:url(images/ad/ad3-6bg.png);" id="post-06">
	<div class="maincot">
		<p class="nr1"><img class="logo" alt="摇光星（Alkaid）" title="摇光星（Alkaid）" src="images/ad/ad3-6.png" /></p>
		<div class="nr2">
			<p class="nr2zi1">摇光星（Alkaid）</p>
			<p class="nr2zi2"><span class="col1">生日：</span>*年*月*日</p>
			<p class="nr2zi2"><span class="col1">年龄：</span>风华正茂</p>
			<p class="nr2zi2"><span class="col1">介绍：</span></p>
			<p class="nr2zi2">&nbsp;&nbsp;&nbsp;&nbsp;简明扼要的描述人员。同时配置便捷按钮，进行浏览的辅助操作。提供个人首页的链接，尽量以简明的方式在文字最后提供。提供个人首页的链接，尽量以简明的方式在文字最后提供。[<a href="personalifo.shtml" class="zt3">更多...</a>]</p>
		</div>
		<ul class="nr2an prev_next">
			<li><a href="#post-0">prev</a></li>
		</ul>
	</div>
	</div>
	<%template _studiobottom%>