<%if {infloat}!=1%>
<div class="cot">
	<p class="foot mar_top_8">
		<span class="footnr f_999"><a title="设为首页" href="#" class="l_999">设为首页</a> | <a title="关于浙商" href="#" class="l_999">关于浙商</a> | <a title="帮助中心" href="help.html" class="l_999">帮助中心</a> | <a title="联系我们" href="#" class="l_999">联系我们</a> | <a title="商务合作" href="#" class="l_999">商务合作</a> | <a title="广告服务" href="#" class="l_999">广告服务</a> | <a title="站点地图" href="sitemap.html" class="l_999">站点地图</a> | <a title="警方提示防诈骗" href="#" class="l_999">警方提示防诈骗</a></span>
		<span class="footnr f_999">浙ICP备案号：<a title="浙ICP备{config.icp}" href="#" class="l_999">{config.icp}</a> 客服电话：000000000</span>
		<span class="footnr f_999">Copyright @ 2008 <a title="天狼星" href="#" class="l_999">天狼星</a> All Rights Reserved</span>
	</p>
</div>
<!--foot end-->