<%if {infloat}!=1%>
<div class="cot">
	<p class="foot mar_top_8">
		<span class="footnr f_999"><a title="设为首页" href="{rooturl}" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{rooturl}');return(false);" class="l_999">设为首页</a> | <%loop (HelpInfo) footcommonhelpinfo commonhelplist%><a title="{footcommonhelpinfo.title}" href="{rooturl}help-{footcommonhelpinfo.id}.html" class="l_999">{footcommonhelpinfo.title}</a> | <%/loop%><a title="帮助中心" href="{rooturl}help.html" class="l_999">帮助中心</a> | <a title="站点地图" href="{rooturl}sitemap.html" class="l_999">站点地图</a></span>
		<span class="footnr f_999">浙ICP备案号：<a title="浙ICP备{config.icp}" href="#" class="l_999">{config.icp}</a> QQ：317022037</span>
		<span class="footnr f_999">Copyright @ 2008-2010 <a title="天狼星" href="#" class="l_999">天狼星</a> All Rights Reserved</span>
	</p>
</div>
<!--foot end-->