<%template _compageheader%>
<body onkeydown="if(event.keyCode==27) return false;">
<div class="top">
	<div class="cot">
		<ul class="toplt">
			<li><a title="设为首页" href="{rooturl}" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{rooturl}');return(false);"><img alt="设为首页" src="{rooturl}templates/{templatepath}/images/icon/home.gif" />设为首页</a></li>
			<li><a title="收藏本站" href="javascript:window.external.AddFavorite('{rooturl}','浙商黄页-网络名片，免费网络展示平台')"><img alt="收藏本站" src="{rooturl}templates/{templatepath}/images/icon/favorites.gif" />收藏本站</a></li>
		</ul>
		<p class="toprt">
		<%loop (HelpInfo) commonhelpinfo commonhelplist%>
		    <a title="{commonhelpinfo.title}" href="{rooturl}help-{commonhelpinfo.id}.html">{commonhelpinfo.title}</a> | 
		<%/loop%>
		<a title="帮助中心" href="help.html">帮助中心</a> | <a title="提交企业信息" href="{rooturl}agreement.html" class="l_e00101">提交企业信息</a>
		</p>
	</div>
</div>
<div class="cot">
	<div class="top2">
		<p class="logo"><a title="浙江黄页" href="{rooturl}index.html"><img alt="浙江黄页" src="{rooturl}templates/{templatepath}/images/logo.gif" /></a></p>
		<div class="topban">
			<img alt="自助推广 个性名片 跨越平台 站点互通" src="{rooturl}templates/{templatepath}/images/banner.gif" />
		</div>
	</div>
	<div class="top3">
		<p class="navlt"></p>
		<ul class="navce bg1">
			{mainnavigation}
			<span class="navcetu"></span>
		</ul>
		<p class="navrt"></p>
	</div>
</div>
<%template _comsearch%>
<%else%>
<%csharp%>
Response.Clear();
Response.ContentType = "Text/XML";
Response.Expires = 0;
Response.Cache.SetNoStore();
<%/csharp%>
<?xml version="1.0" encoding="utf-8"?><root><![CDATA[
<%/if%>