<div class="cot">
	<div class="soso mar_top_3">
		<div class="soso1">
		    <iframe src="http://m.weather.com.cn/m/pn6/weather.htm " width="140" height="20" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
		</div>
		<div class="soso2">
		    <form id="searchform" name="searchform" onsubmit="return search(this);" class="soso2t">
			    <span class="soso2t1">
			    <select name="searchtype" class="select_type">
				    <option value="0">请选择类型</option>
			    <%loop (string) searchtypestr Enum.GetNames(entype_enum.GetType())%>
			    <%set (int) {searchtypevalue}=Convert.ToInt16(Enum.Parse(entype_enum.GetType(), searchtypestr))%>
			    <%set (string) {searchtypetext}=EnumCatch.GetCompanyType({searchtypevalue})%>
			        <option value="{searchtypevalue}">{searchtypetext}</option>
			    <%/loop%>
			    </select>
			    </span>
			    <span><input name="searchcontent" type="text" class="input4_soout" onfocus="this.className='input4_soon'" onblur="this.className='input4_soout'" style="width:252px;"/></span>
			    <span class="soso2t1">
			    <select name="searchclass" class="select_type2">
			        <option value="0">请选择行业类别</option>
			    <%loop (DataRow) searchcata firstcata%>
				    <option value="{searchcata[id]}">{searchcata[name]}</option>
			    <%/loop%>
			    </select>
			    </span>
			    <span><input class="soso2tan" type="submit" onclick="return search(this.form);"/></span>
		    </form>
		    <p class="soso2b">
			    <span><a href="#" class="l_fff">最新加盟企业</a></span>
			    <span class="soso2line line"></span>
			    <span><a href="#" class="l_fff">企业点击率排行</a></span>
			    <span class="soso2line line"></span>
			    <span><a href="#" class="l_fff">企业信息排行</a></span>
		    </p>
		</div>
		<div class="soso3">
			<p style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='templates/{templatepath}/images/aa/zhuti.png'); background:url(templates/{templatepath}/images/aa/zhuti.png) center top no-repeat;*background:none;"><a href="#"></a></p>
		</div>
	</div>
</div>
