<div class="cot">
	<div class="soso mar_top_3">
		<p class="soso1"></p>
		<p class="soso2"><img alt="企业搜索" src="templates/{templatepath}/images/soso-tit.gif" /></p>
		<p class="soso3"></p>
		<p class="soso4">
			<strong class="soso4nr1">浙江</strong>
			<span class="soso4nr2">
				<a href="#" class="l_e00101"><em>其他地区</em> <em><img alt="其他地区" src="templates/{templatepath}/images/icon/arrow4.gif"/></em></a>
			</span>
		</p>
		<p class="soso5"></p>
		<div class="soso6">
			<p class="soso6nr">
				<span class="soso6nr1">
				<select name="searchtype" class="select_type">
					<option>请选择类型</option>
				<%loop (string) searchtypestr Enum.GetNames(entype_enum.GetType())%>
				<%set (int) {searchtypevalue}=Convert.ToInt16(Enum.Parse(entype_enum.GetType(), searchtypestr))%>
				<%set (string) {searchtypetext}=EnumCatch.GetCompanyType({searchtypevalue})%>
				    <option value="{searchtypevalue}">{searchtypetext}</option>
				<%/loop%>
				</select>
				</span>
				<span><input name="" type="text" class="input4_soout" onfocus="this.className='input4_soon'" onblur="this.className='input4_soout'" style="width:300px;" /></span>
				<span class="soso6nr1">
				<select name="searchclass" class="select_type2">
				    <option>请选择行业类别</option>
				<%loop (DataRow) searchcata firstcata%>
					<option value="{searchcata[id]}">{searchcata[name]}</option>
				<%/loop%>
				</select>
				</span>
				<span class="soso6nr2"><a title="企业搜索" href="#"></a></span>
			</p>
			<p class="soso6nr3"><img alt="line" src="templates/{templatepath}/images/soso-bg4.gif" /></p>
			<p class="soso6nr4">
				<span><a href="#" class="l_e00101">最新加盟企业</a></span>
				<span class="soso6line line"></span>
				<span><a href="#" class="l_e00101">企业点击率排行</a></span>
				<span class="soso6line line"></span>
				<span><a href="#" class="l_e00101">企业信息排行</a></span>
			</p>
		</div>
		<p class="soso7"></p>
	</div>
</div>
