<%template _comheader%>
<div class="cot">
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a href="{forumurl}index.html">首页</a> &gt; 公告列表</span>
	</p>
	<div class="bult">
		<p class="bult1 mar_top_8"><a title="" href="#"><img alt="企业广告" src="images/aa/aa2.jpg" /></a></p>
		<div class="bult2 mar_top_8">
			<p class="bult2t">
				<em></em><strong>热门标签</strong>
			</p>
			<div class="bult2nr">
			<table border="0" cellpadding="0" cellspacing="1" class="tbbiaoq">
				 <tr>
					<td width="33%"><a title="保健食品" href="#">保健食品</a></td>
					<td width="33%"><a title="食品加工方便食品" href="#">食品加工方便食品</a></td>
					<td><a title="食用菌" href="#">食用菌</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="食品添加剂" href="#">食品添加剂</a></td>
					<td width="33%"><a title="茶叶" href="#">茶叶</a></td>
					<td><a title="调味品" href="#">调味品</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="保健食品" href="#">保健食品</a></td>
					<td width="33%"><a title="食品加工方便食品" href="#">食品加工方便食品</a></td>
					<td><a title="食用菌" href="#">食用菌</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="食品添加剂" href="#">食品添加剂</a></td>
					<td width="33%"><a title="茶叶" href="#">茶叶</a></td>
					<td><a title="调味品" href="#">调味品</a></td>
				 </tr>
			</table>
			</div>
		</div>
		<div class="bult2 mar_top_8">
			<p class="bult2t">
				<em></em><strong>相关活动</strong>
			</p>
			<ul class="bult2nr2 f_666">
				<li>
					<p>▪&nbsp;<a title="成都金岚地服饰有限公司" href="#">成都金岚地服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州浪漫一身服饰有限公司" href="#">杭州浪漫一身服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州水之恋服饰有限公司" href="#">杭州水之恋服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="香港普菲特服饰有限公司" href="#">香港普菲特服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="广州市歌莉娅女性服饰有限公司" href="#">广州市歌莉娅女性服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州江南布衣服饰有限公司" href="#">杭州江南布衣服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
			</ul>
		</div>
		<p class="bult3 mar_top_8"><a title="" href="#"><img alt="企业广告" src="images/aa/aa3.jpg" /></a></p>
	</div>
	<div class="bulstrt mar_top_8">
		<p class="bulstrt1">
			<strong>黄页公告</strong>
			<span>共290条 1/145</span>
		</p>
		<ul class="bulstrt2 f_666">
			<li>
				<p>▪&nbsp;<a title="杭州援建青川重大基础设施项目浙川大道昨正式通车" href="#">杭州援建青川重大基础设施项目浙川大道昨正式通车</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="杭城"仙梅"多为福建产 仙居林业局长紧急来杭打假" href="#">杭城"仙梅"多为福建产 仙居林业局长紧急来杭打假 仙居林业局长紧急来杭打假</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="猫咪钻进汽车引擎死活不出来 车主无奈只好拆底盘" href="#">猫咪钻进汽车引擎死活不出来 车主无奈只好拆底盘 车主无奈只好拆底盘</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="一个是好姐妹一个是前男友 这对贼鸳鸯偷了她12万" href="#">一个是好姐妹一个是前男友 这对贼鸳鸯偷了她12万 这对贼鸳鸯偷了她</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="温州“犬管办”唱“空城计”人、财、物三者皆无" href="#">温州“犬管办”唱“空城计”人、财、物三者皆无 这对贼鸳鸯偷了她</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="便宜的28元，贵的258元 高考房午休套餐非常火爆" href="#">便宜的28元，贵的258元 高考房午休套餐非常火爆</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="临安一帮抢匪敲车窗问路为名 抢了好几个单身女性" href="#">临安一帮抢匪敲车窗问路为名 抢了好几个单身女性 临安一帮抢匪敲车窗问路为名</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="宁波江北区宁馨园:神秘客狂购限价房小区48个车库" href="#">宁波江北区宁馨园:神秘客狂购限价房小区48个车库 宁波江北区宁馨园</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村" href="#">兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村 翻了数座大山后现身邻村</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="杭州援建青川重大基础设施项目浙川大道昨正式通车" href="#">杭州援建青川重大基础设施项目浙川大道昨正式通车杭州援建青川重大基础设施项目浙川大道昨正式通车</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="杭城"仙梅"多为福建产 仙居林业局长紧急来杭打假" href="#">杭城"仙梅"多为福建产 仙居林业局长紧急来杭打假仙居林业局长紧急来杭打假</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="猫咪钻进汽车引擎死活不出来 车主无奈只好拆底盘" href="#">猫咪钻进汽车引擎死活不出来 车主无奈只好拆底盘 车主无奈只好拆底盘</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="一个是好姐妹一个是前男友 这对贼鸳鸯偷了她12万" href="#">一个是好姐妹一个是前男友 这对贼鸳鸯偷了她12万 一个是好姐妹一个是前男友</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="温州“犬管办”唱“空城计”人、财、物三者皆无" href="#">温州“犬管办”唱“空城计”人、财、物三者皆无</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="便宜的28元，贵的258元 高考房午休套餐非常火爆" href="#">便宜的28元，贵的258元 高考房午休套餐非常火爆 高考房午休套餐非常火爆</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="临安一帮抢匪敲车窗问路为名 抢了好几个单身女性" href="#">临安一帮抢匪敲车窗问路为名 抢了好几个单身女性 临安一帮抢匪敲车窗问路为名</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="宁波江北区宁馨园:神秘客狂购限价房小区48个车库" href="#">宁波江北区宁馨园:神秘客狂购限价房小区48个车库 神秘客狂购限价房小区</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村" href="#">兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村 兰溪老人深山失踪三昼夜</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村" href="#">兰溪老人深山失踪三昼夜 翻了数座大山后现身邻村 翻了数座大山后现身邻村</a></p>
				<span>[2010-05-02]</span>
			</li>
			<li>
				<p>▪&nbsp;<a title="杭州援建青川重大基础设施项目浙川大道昨正式通车" href="#">杭州援建青川重大基础设施项目浙川大道昨正式通车杭州援建青川重大基础设施项目浙川大道昨正式通车</a></p>
				<span>[2010-05-02]</span>
			</li>
		</ul>
		<div class="page f_666">
			<a title="首页" href="#">首页</a>
			<a title="上一页" href="#">上一页</a>
			<a title="1" href="#">1</a>
			<span class="page2">2</span>
			<a title="3" href="#">3</a>
			<a title="4" href="#">4</a>
			<a title="5" href="#">5</a>
			<a title="6" href="#">6</a>
			<a title="下一页" href="#">下一页</a>
			<a title="末页" href="#">末页</a>
			共100页　到第
			<input type="text" name="textfield" class="input2_soout" style="width:25px;" />
			页
			<input type="button" name="button1" class="agree1" value="确定" />
		</div>
	</div>
</div>
<%template _comcopyright%>
<%template _comfooter%>
