<%template _comheader%>
<div class="cot">
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a href="{forumurl}index.html" class="l_666" title="商之源">商之源</a> &gt; 公告列表</span>
	</p>
	<div class="bult">
		<p class="bult1 mar_top_8"><a title="" href="#"><img alt="企业广告" src="images/aa/aa2.jpg" /></a></p>
		<div class="bult2 mar_top_8">
			<p class="bult2t">
				<em></em><strong>热门标签</strong>
			</p>
			<div class="bult2nr">
			<table border="0" cellpadding="0" cellspacing="1" class="tbbiaoq">
				 <tr>
					<td width="33%"><a title="保健食品" href="#">保健食品</a></td>
					<td width="33%"><a title="食品加工方便食品" href="#">食品加工方便食品</a></td>
					<td><a title="食用菌" href="#">食用菌</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="食品添加剂" href="#">食品添加剂</a></td>
					<td width="33%"><a title="茶叶" href="#">茶叶</a></td>
					<td><a title="调味品" href="#">调味品</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="保健食品" href="#">保健食品</a></td>
					<td width="33%"><a title="食品加工方便食品" href="#">食品加工方便食品</a></td>
					<td><a title="食用菌" href="#">食用菌</a></td>
				 </tr>
				 <tr>
					<td width="33%"><a title="食品添加剂" href="#">食品添加剂</a></td>
					<td width="33%"><a title="茶叶" href="#">茶叶</a></td>
					<td><a title="调味品" href="#">调味品</a></td>
				 </tr>
			</table>
			</div>
		</div>
		<div class="bult2 mar_top_8">
			<p class="bult2t">
				<em></em><strong>相关活动</strong>
			</p>
			<ul class="bult2nr2 f_666">
				<li>
					<p>▪&nbsp;<a title="成都金岚地服饰有限公司" href="#">成都金岚地服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州浪漫一身服饰有限公司" href="#">杭州浪漫一身服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州水之恋服饰有限公司" href="#">杭州水之恋服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="香港普菲特服饰有限公司" href="#">香港普菲特服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="广州市歌莉娅女性服饰有限公司" href="#">广州市歌莉娅女性服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
				<li>
					<p>▪&nbsp;<a title="杭州江南布衣服饰有限公司" href="#">杭州江南布衣服饰有限公司</a></p>
					<span>[2010-05-02]</span>
				</li>
			</ul>
		</div>
		<p class="bult3 mar_top_8"><a title="" href="#"><img alt="企业广告" src="images/aa/aa3.jpg" /></a></p>
	</div>
	<div class="bulstrt mar_top_8">
		<p class="bulstrt1">
			<strong>黄页公告</strong>
			<span>共{announcecount}条 {pageid}/{pagecount}</span>
		</p>
		<ul class="bulstrt2 f_666">
		    <%loop (AnnouncementInfo) curannounceinfo curannouncelist%>
		    <li>
				<p>▪&nbsp;<a title="{curannounceinfo.title}" href="nouncedetail-{curannounceinfo.id}.html">{curannounceinfo.title}</a></p>
				<span><%datetostr({curannounceinfo.starttime},"[yyyy-MM-dd]")%></span>
			</li>
		    <%/loop%>
		</ul>
		<div class="page f_666">
			{pagenumbers}
			共{pagecount}页　到第
			<input type="text" name="textfield" id="gopage" class="input2_soout" style="width:25px;" />
			页
			<input type="button" name="button1" class="agree1" value="确 定" onclick="window.location='nouncelist-'+document.getElementById('gopage').value+'.html';"/>
		</div>
	</div>
</div>
<%template _comcopyright%>
<%template _comfooter%>
