<%template _compageheader%>
<body>
<!--head begin-->
<div class="top">
	<div class="cot">
		<ul class="toplt">
			<li><a title="设为首页" href="#"><img alt="设为首页" src="templates/{templatepath}/images/icon/home.gif" />设为首页</a></li>
			<li><a title="收藏本站" href="#"><img alt="收藏本站" src="templates/{templatepath}/images/icon/favorites.gif" />收藏本站</a></li>
		</ul>
		<p class="toprt">
		<a title="广告服务" href="#">广告服务</a> | <a title="帮助中心" href="#">帮助中心</a> | <a title="提交企业信息" href="#" class="l_e00101">提交企业信息</a>
		</p>
	</div>
</div>
<div class="cot">
	<div class="top2">
		<p class="logo"><a title="浙江黄页" href="#"><img alt="浙江黄页" src="templates/{templatepath}/images/logo.gif" /></a></p>
		<p class="hdhelp">帮助中心</p>
	</div>
</div>
<!--head end-->
<!--第一屏 begin-->
<div class="cot">
	<p class="zshysite mar_top_3">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a href="#">首页</a> &gt; 帮助中心</span>	
	</p>
	<div class="helpcot">
		<!--左边 begin-->
		<div class="helplt mar_top_8">
			<strong>在线帮助</strong>
			<div class="helpltnr" id="help">
			<%loop helpinfos helptype%>
			    <b class="hpltnrt"><em>-</em>{helpinfos[title]}</b>
			    <ul class="hpltcot">
					<li>▪&nbsp;<a title="信用认证" href="#">信用认证</a></li>
					<li>▪&nbsp;<a title="信用指数" href="#">信用指数</a></li>
					<li>▪&nbsp;<a title="诚信中国" href="#">诚信中国</a></li>
					<li>▪&nbsp;<a title="诚信课堂" href="#">诚信课堂</a></li>
					<li>▪&nbsp;<a title="如何让排名靠前？" href="#">如何让排名靠前？</a></li>
				</ul>
			<%/loop%>
			</div>
			
		</div>
		<!--左边 end-->
		<!--右边 begin-->
		<div class="helprt mar_top_8">
			<strong>如何让排名靠前？</strong>
			<div class="helprtnr f_333">
				浙商黄页上发布的商机信息主要分为三类：供应信息、求购信息、公司信息。当用户在搜索框中输入关键词进行商机信息搜索时，搜索结果遵照以下的搜索引擎的排序规则。<br />

<b style="color:#b70000;">一、供应信息搜索的排序规则：</b><br /> 

1. 首先看信息匹配程度。搜索引擎将优先展示匹配程度好的搜索结果，匹配程度越高，排序越靠前。 <br />
(1) 一般来讲，如果查询者输入的搜索关键词在供应信息标题或供应信息详情中完整地出现，则认为匹配程度较好。例如，如果输入 “ 阀门 ” ，则以下信息都是匹配程度较好的信息： 标题 或 详情 ＝ “×× 阀门 ××” 、 “ 阀门 ××” 、 “×× 阀门 ” ； <br />
由于中国供应商的商家和商机信息特别多，为了尽量使更多的客户得到展示，对于匹配程度较好的所有信息，将首先抽取每个商家最新发布的一条信息显示一遍，再显示每个商家发布的所有信息，因此即使一家公司有多条信息匹配程度较好，也只会优先显示最新发布的一条；<br />
(2) 匹配程度一般，是指查询者输入的关键词在供应信息标题或供应信息详情中部分地出现。例如：如果输入 “ 控制阀门 ” ，则以下信息都是匹配程度一般的信息： 标题 或 详情 ＝ “×× 控制 ××” 或 “×× 阀门 ××” ；<br />
(3) 匹配程度一般的信息将排在匹配程度较好的信息之后。 <br />
因为商机搜索引擎力求把最符合查询者需要的商机优先呈现，所以匹配程度原则是供应信息搜索的最主要原则。如果不符合以上匹配原则，即如果商家发布的信息和用户输入的搜索关键词没有相关性时，则不会出现在搜索结果中，或者相关性较弱时，排序则较靠后。 <br />
提示：<br />
信息的标题务必对产品准确描述。如 “DL1312 工业控制阀门 ” ，而不要只写成 “DL1312” ，否则当查询者用“工业控制阀门”做关键词搜索时，就找不到您的信息了；<br />
在发布供应信息时，仔细选择分类（行业及产品门类目录），避免因为分类选择不准确而不能被搜到。如选择“球阀”产品的分类时，选择了“蝶阀”，这样查询者在球阀的分类中就找不到您的产品了； <br />
2. 其次是按照会员等级排序。在按照匹配程度排序后，对于同样匹配程度的信息，将优先展示名企会员的信息，然后展示信用会员的信息，最后是普通会员。 <br />
如某名企会员发布信息的标题是 “ 供应气动液压油泵 ” 、某信用会员发布信息的标题是 “ 手摇油泵 ” 、某普通会员发布信息的标题是 “ 高温油泵 ” ，当用户在搜索框输入 “ 油泵 ” 进行搜索时，这三条信息都将被搜索到，并按照 “ 供应气动液压油泵 ” 、 “ 手摇油泵 ” 、 “ 高温油泵 ” 的顺序排列。<br />
3. 最后是发布时间原则。即对于相同会员等级的商家发布的相同匹配程度的信息，将按照信息发布的时间排序，最新发布的信息排序靠前。 <br />
时间原则，即最新发布的信息排序靠前，将保证最新、最具有时效性的信息优先得到展示的机会 <br />
提示：<br />
尽可能地经常登录中国供应商客户管理后台系统，发布信息，保持自己发布信息的时效性，将有助于信息排序靠前，增大获取客户青睐的机会。 <br />
另外，供应信息还可以按照信用指数再次排序。排序规则为：<br /> 
首先看匹配程度，匹配程度相同时，按照信用指数高低排序，指数高的排序靠前。在匹配程度相同且信用指数也相同时，按照信息发布时间排序，最新发布的信息排序靠前。 <br />

<b style="color:#b70000;">二、求购信息搜索的排序规则：</b> <br />

与供应信息搜索排序规则基本相同。<br />

<b style="color:#b70000;">三、公司信息搜索的排序规则：</b> <br />

公司搜索，只有输入的关键字在商家的公司名称中完全出现才能够被搜索到。对被搜到的所有公司，按照信用指数从高到低排序。因此，提高信用指数，将有助于获得较好的排序。<br />
提示： <br />
名企会员和信用会员将获得基础的信用指数，名企会员的基础信用指数高于信用会员； <br />
名企会员或信用会员的信用指数将随企业成为会员的时间长度累加，成为会员的时间越长，指数越高； <br />
通过尽量多发布证书荣誉，可以展示自己企业的实力，将有助于提高信用指数。
			</div>
		</div>
		<!--右边 end-->
	</div>
</div>
<!--第一屏 end-->
<%/if%>
<%template _comcopyright%>
<%template _comfooter%>
