<%template _comheader%>
<!--第一屏 begin-->
<div class="cot">
	<!--左边 begin-->
	<div class="onelt mar_top_8">
		<div class="onelt1 f_333" id="bulletin">
			<p class="onelt1tit1">公告栏</p>
			<ul class="onelt1nr">
				<li>▪&nbsp;<a title="1688开业注册赢金币" href="#" style="color:#f00;">1688开业"注册赢金币"...</a></li>
				<li>▪&nbsp;<a title="阿里集团开通智利地震专项" href="#">阿里集团开通智利地震专项阿里集团开通智利地震专项</a></li>
				<li>▪&nbsp;<a title="精选爆款" href="#">精选爆款...</a></li>
				<li>▪&nbsp;<a title="特色礼品盛宴 正在进行" href="#" style="color:#f00;">特色礼品盛宴 正在进行...</a></li>
				<li>▪&nbsp;<a title="厂家清仓1件不留" href="#">厂家清仓1件不留...</a></li>
			</ul>
			<p class="onelt1tit1">最新活动</p>
			<ul class="onelt1nr">
				<li>▪&nbsp;<a title="1688开业注册赢金" href="#">1688开业"注册赢金币"...</a></li>
				<li>▪&nbsp;<a title="阿里集团开通智利地震专项" href="#" style="color:#f00;">阿里集团开通智利地震专项...</a></li>
				<li>▪&nbsp;<a title="精选爆款" href="#">精选爆款...</a></li>
				<li>▪&nbsp;<a title="特色礼品盛宴 正在进行" href="#">特色礼品盛宴 正在进行...</a></li>
				<li>▪&nbsp;<a title="厂家清仓1件不留" href="#" style="color:#f00;">厂家清仓1件不留...</a></li>
			</ul>
		</div>
		<div class="onelt2 mar_top_8" id="tao">
			<ul id="onelt2tit">
				<li>淘宝热卖</li>
				<li>人气店铺</li>
			</ul>
			<div id="onelt2con">
				<div class="con">
					<ul class="onelt2nr">
						<li>
							<p class="onelt2nrtu"><a title="" href="#" style="color:#f00;"><img alt="" src="templates/{templatepath}/images/aa/aa8.jpg" /></a></p>
							<p class="onelt2nrzi line"><a title="socool女包" href="#">socool女包全场包邮,买二件socool女包全场包邮,买二件socool女包全场包邮,买二件</a></p>
						</li>
						<li>
							<p class="onelt2nrtu"><a title="" href="#" style="color:#f00;"><img alt="" src="templates/{templatepath}/images/aa/aa8.jpg" /></a></p>
							<p class="onelt2nrzi line"><a title="socool女包" href="#">socool女包全场包邮,买二件</a></p>
						</li>
					</ul>
				</div>
				<div class="con">
					<ul class="onelt2nr">
						<li>
							<p class="onelt2nrtu"><a title="" href="#" style="color:#f00;"><img alt="" src="templates/{templatepath}/images/aa/aa8.jpg" /></a></p>
							<p class="onelt2nrzi">
								<span class="onelt2nrzi1 line"><a title="socool女包" href="#">socool女包全场包邮,买二件</a></span>
								<span class="onelt2nrzi2" style="width:17px; background-position:top left;"></span>
							</p>
						</li>
						<li>
							<p class="onelt2nrtu"><a title="" href="#" style="color:#f00;"><img alt="" src="templates/{templatepath}/images/aa/aa8.jpg" /></a></p>
							<p class="onelt2nrzi">
								<span class="onelt2nrzi1 line"><a title="socool女包" href="#">socool女包全场包邮,买二件</a></span>
								<span class="onelt2nrzi2" style="width:34px; background-position:bottom left;"></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<p class="onelt3 line"></p>
	</div>
	<!--左边 end-->
	<!--中间 begin-->
	<div class="onece mar_left_10 mar_top_8">
		<div class="onece1" id="bill">
			<div id="onece1con">
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
			</div>
			<ul id="onece1t">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
		<div class="onece2 mar_top_8">
			<p class="onece2t">
				<em></em><strong>区域市场</strong>
				<span class="onece2t1"><a title="" href="#">杭州</a>  <a title="" href="#">金华</a>  <a title="" href="#">温州</a>  <a title="" href="#">嘉兴</a></span>
			</p>
			<ul class="onece2nr f_666">
				<li>
					<b>杭州：</b>
					<a title="" href="#" style="color:#f00;">四季青服装</a>
					<a title="" href="#">西湖龙井市场</a>
					<a title="" href="#">四季青服装</a>
					<a title="" href="#">西湖龙井市场</a>
				</li>
				<li>
					<b>义乌：</b>
					<a title="" href="#">义乌小商品</a>
					<a title="" href="#">义乌小商品</a>
					<a title="" href="#" style="color:#f00;">义乌小商品</a>
					<a title="" href="#">义乌小商品</a>
				</li>
				<li>
					<b>嘉兴：</b>
					<a title="" href="#">海宁皮革城</a>
					<a title="" href="#" style="color:#f00;">海宁皮革城</a>
					<a title="" href="#">海宁皮革城</a>
					<a title="" href="#">海宁皮革城</a>
				</li>
				<li>
					<b>宁波：</b>
					<a title="" href="#">临沂批发城</a>
					<a title="" href="#">临沂批发城</a>
					<a title="" href="#">临沂批发城</a>
					<a title="" href="#">临沂批发城</a>
				</li>
				<li>
					<b>金华：</b>
					<a title="" href="#">金华大洋路市场</a>
					<a title="" href="#" style="color:#f00;">金华大洋路市场</a>
					<a title="" href="#">金华大洋路市场</a>
					<a title="" href="#">金华大洋路市场</a>
				</li>
				<li>
					<b>温州：</b>
					<a title="" href="#">温州七浦路服装</a>
					<a title="" href="#">西湖龙井市场</a>
					<a title="" href="#">四季青服装</a>
					<a title="" href="#">温州七浦路服装</a>
				</li>
			</ul>
		</div>
	</div>
	<!--中间 end-->
	<!--右边 begin-->
	<div class="onert mar_top_8">
		<div class="onert1">
			<span class="onert1an1"><a title="提交企业信息" href="#"></a></span>
			<span class="onert1an2"><a title="提交企业信息" href="#"></a></span>
			<i class="lt"></i><i class="rt"></i>
		</div>
		<div class="onert2 mar_top_8">
			<span>最新加入企业：</span>
			<ul class="onecomp" id="listcomp">
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
			</ul>
		</div>
		<div class="onert3 mar_top_8" id="prod">
			<div class="onert3tit">
				<ul id="onert3t">
					<li>生产型企业</li>
					<li>销售型企业</li>
				</ul>
				<p class="onert3tr"><a class="l_f00_u" title="" href="#">立即提交企业信息</a></p>
			</div>
			<div id="onert3con">
				<div class="con f_333">
					<ul class="onert3nr">
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">香港普菲特服饰有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">佛山市南海区金钰轩傢俬厂</a></li>
						<li>[<a class="l_f00" title="" href="#">机械</a>] <a title="" href="#">河南华泰特种电缆有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">农业</a>] <a title="" href="#">郑州锦水实业有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">青岛昊坤重型机械技术有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">河南黎明路桥重工有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">机械</a>] <a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">北京医模科技有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">农业</a>] <a title="" href="#">郑州市郑蝶阀门有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">上海世邦机器有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="onert3nr">
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">香港普菲特服饰有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">佛山市南海区金钰轩傢俬厂</a></li>
						<li>[<a class="l_f00" title="" href="#">机械</a>] <a title="" href="#">河南华泰特种电缆有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">机械</a>] <a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">北京医模科技有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">农业</a>] <a title="" href="#">郑州市郑蝶阀门有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">上海世邦机器有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">农业</a>] <a title="" href="#">郑州锦水实业有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">纺织</a>] <a title="" href="#">青岛昊坤重型机械技术有限公司</a></li>
						<li>[<a class="l_f00" title="" href="#">家居</a>] <a title="" href="#">河南黎明路桥重工有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--右边 end-->
</div>
<!--第二屏 begin-->
<div class="cot">
	<div class="type typew1 mar_top_8">
		<p class="type1 type1w1">
			<em></em><strong>行业市场</strong><span><a class="l_f00_u" title="" href="#">免费发布企业信息</a></span>
		</p>
		<%loop (DataRow) cataloginfo cataloglist1%>
		<div class="type2">
			<strong class="type2t">{cataloginfo[name]}</strong>
			<ul class="type2nr">
			<%set (int) {computenum}=0%>
			<%set (int) {computetimes}=0%>
			<%loop (DataRow) subcata cataloglist2%>
			<%if {subcata[parentid]}=={cataloginfo[id]}%>
				<li <%if {computetimes}%2==1%>class="tpbg"<%/if%>>
				<%if {computenum}%2==1%>
			        <%set {computetimes}={computetimes}+1%>
			    <%/if%>
					<strong><a class="l_e00101" title="{subcata[name]}" href="{subcata[id]}">{subcata[name]}</a></strong>
					<p>
					<%set (int){catastrlength} = 0%>
					<%loop (DataRow) subsubcata cataloglist3%>
					<%if {subsubcata[parentid]}=={subcata[id]}%>
					<%set {catastrlength}={catastrlength}+{subsubcata[name]}.Length%>
					<%if {catastrlength}>40%>
					    <%break%>
					<%/if%>
					<a title="{subsubcata[name]}" href="{subsubcata[id]}">{subsubcata[name]}</a> | 
					<%/if%>
					<%/loop%>
					<a class="l_f00" title="" href="#">更多&gt;&gt;</a></p>
				</li>
				<%set {computenum}={computenum}+1%>
			<%/if%>
			<%/loop%>
			</ul>
		</div>
		<%/loop%>
	</div>
	<div class="tprt">
		<div class="card card1 mar_top_8">
			<p class="cardt">
				<em></em><strong>证书认证企业</strong><span><a class="l_f00_u" title="" href="#">立即上传企业证书</a></span>
			</p>
			<ul class="catop2">
				<li><a title="" href="#">香港普菲特服饰有限公司</a></li>
				<li><a title="" href="#">佛山市南海区金钰轩傢俬厂</a></li>
				<li><a title="" href="#">河南华泰特种电缆有限公司</a></li>
				<li><a title="" href="#">郑州锦水实业有限公司</a></li>
				<li><a title="" href="#">青岛昊坤重型机械技术有限公司</a></li>
				<li><a title="" href="#">河南黎明路桥重工有限公司</a></li>
				<li><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></li>
				<li><a title="" href="#">北京医模科技有限公司</a></li>
				<li><a title="" href="#">郑州市郑蝶阀门有限公司</a></li>
				<li><a title="" href="#">上海世邦机器有限公司</a></li>
			</ul>
		</div>
		<p class="cardad mar_top_8"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></p>
		<div class="card card2 mar_top_8">
			<p class="cardt">
				<em></em><strong>企业信誉排行榜</strong><span><a class="l_f00_u" title="" href="#">如何提高企业信誉度</a></span>
			</p>
			<ul class="catop">
				<li>
					<em class="catopem1">1</em>
					<p><a title="" href="#">香港普菲特服饰有限公司</a></p>
					<span>100</span>
				</li>
				<li>
					<em class="catopem1">2</em>
					<p><a title="" href="#">佛山市南海区金钰轩傢俬厂</a></p>
					<span>98</span>
				</li>
				<li>
					<em class="catopem1">3</em>
					<p><a title="" href="#">河南华泰特种电缆有限公司</a></p>
					<span>92</span>
				</li>
				<li>
					<em class="catopem2">4</em>
					<p><a title="" href="#">郑州锦水实业有限公司</a></p>
					<span>88</span>
				</li>
				<li>
					<em class="catopem2">5</em>
					<p><a title="" href="#">青岛昊坤重型机械技术有限公司</a></p>
					<span>83</span>
				</li>
				<li>
					<em class="catopem2">6</em>
					<p><a title="" href="#">河南黎明路桥重工有限公司</a></p>
					<span>82</span>
				</li>
				<li>
					<em class="catopem2">7</em>
					<p><a title="" href="#">浙江浦江瑞博工艺饰品有限公司</a></p>
					<span>78</span>
				</li>
				<li>
					<em class="catopem2">8</em>
					<p><a title="" href="#">北京医模科技有限公司</a></p>
					<span>76</span>
				</li>
				<li>
					<em class="catopem2">9</em>
					<p><a title="" href="#">郑州市郑蝶阀门有限公司</a></p>
					<span>73</span>
				</li>
				<li>
					<em class="catopem2">10</em>
					<p><a title="" href="#">上海世邦机器有限公司</a></p>
					<span>68</span>
				</li>
			</ul>
		</div>
		<div class="card card3 mar_top_8">
			<p class="cardt">
				<em></em><strong>服务与帮助</strong>
			</p>
			<ul class="cahelp">
				<li>▪&nbsp;<a title="" href="#" style="color:#f00;">黄金展位 免费咨询最新活动 提供在线服务！</a></li>
				<li>▪&nbsp;<a title="" href="#">如何获得积分 提高企业信誉度？</a></li>
				<li>▪&nbsp;<a title="" href="#" style="color:#f00;">如何提升企业搜索排名？</a></li>
				<li>▪&nbsp;<a title="" href="#">同行竞争怎么脱颖而出？</a></li>
				<li>▪&nbsp;<a title="" href="#">让客户第一时间找到你！</a></li>
			</ul>
		</div>
		<p class="cardad mar_top_8"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></p>
	</div>
</div>
<!--第二屏 end-->
<div class="cot">
	<div class="type typew2 mar_top_8">
		<p class="type1 type1w2">
			<em></em><strong>企业名片</strong><span><a class="l_f00_u" title="" href="#">免费获得企业名片</a></span>
		</p>
		<ul class="mcd" id="mcd">
			<li>
				<a title="" href="#">
				<img alt="" src="templates/{templatepath}/images/hycard/hycard1.gif" />
				<p class="overlay" style="display:none;"></p>
				<p class="ic_caption">
					<strong class="ic_category">杭州生活主题服装有限公司</strong>
					<span class="ic_zi">联系人：某某某</span>
					<span class="ic_zi">联系电话：0571-86081444</span>
					<span class="ic_text">详细地址：杭州市滨江区长河路滨康路口拓森科技园</span>
					<span class="ic_text">经营模式：生产加工</span>
				</p>
				</a>
			</li>
			<li>
				<a title="" href="#">
				<img alt="" src="templates/{templatepath}/images/hycard/hycard2.gif" />
				<p class="overlay" style="display:none;"></p>
				<p class="ic_caption">
					<strong class="ic_category">杭州生活主题服装有限公司</strong>
					<span class="ic_zi">联系人：某某某</span>
					<span class="ic_zi">联系电话：0571-86081444</span>
					<span class="ic_text">详细地址：杭州市滨江区长河路滨康路口拓森科技园</span>
					<span class="ic_text">经营模式：生产加工</span>
				</p>
				</a>
			</li>
			<li>
				<a title="" href="#">
				<img alt="" src="templates/{templatepath}/images/hycard/hycard3.gif" />
				<p class="overlay" style="display:none;"></p>
				<p class="ic_caption">
					<strong class="ic_category" style="font-family:经典超圆简">杭州生活主题服装有限公司</strong>
					<span class="ic_zi">联系人：某某某</span>
					<span class="ic_zi">联系电话：0571-86081444</span>
					<span class="ic_text">详细地址：杭州市滨江区长河路滨康路口拓森科技园</span>
					<span class="ic_text">经营模式：生产加工</span>
				</p>
				</a>
			</li>
			<li>
				<a title="" href="#">
				<img alt="" src="templates/{templatepath}/images/hycard/hycard4.gif" />
				<p class="overlay" style="display:none;"></p>
				<p class="ic_caption">
					<strong class="ic_category">杭州生活主题服装有限公司</strong>
					<span class="ic_zi">联系人：某某某</span>
					<span class="ic_zi">联系电话：0571-86081444</span>
					<span class="ic_text">详细地址：杭州市滨江区长河路滨康路口拓森科技园</span>
					<span class="ic_text">经营模式：生产加工</span>
				</p>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="cot">
	<div class="link mar_top_8">
		<b>友情链接</b><span></span>
		<p>
		<%loop friendlink friendlinklist%>
		{friendlink[note]}
		<%/loop%>
		</p>
	</div>
</div>
<%template _comcopyright%>
<%template _comfooter%>