<%template _comheader%>
<div class="cot">
<p class="zshysite mar_top_8">
	<i class="zslt"></i><i class="zsrt"></i>
	<span class="zshysnr">您当前的位置：<a href="{forumurl}index.html" title="商之源">商之源</a> &gt; 查询提交状态</span>
</p>
<!--左边 begin-->
<div class="zshylt">
	<div class="inq1 mar_top_8">
		<form name="checkform" class="inq1ce">
			<em>请输入企业名称查询企业提交状态：</em>
			<em><input name="inqyname" type="text" class="input4_soout" onfocus="this.className='input4_soon'" onblur="this.className='input4_soout'" style="width:350px;" /></em>
			<em><input type="submit" class="so2" value=""/></em>
		</form>
		<i class="lt"></i><i class="rt"></i>
	</div>
	<%if {getParm}.Length>0%>
	<div class="inq2 mar_top_8">
		<p class="inq2t">
			<span class="inq2t1">
				查询到与 "{getParm}" 相关的数据 共 <i class="f_e00101">{companycount}</i> 条
			</span>
			<span class="inq2t2"></span>
		</p>
		<p class="inq2t">
			<b class="inq3t1">企业名称</b>
			<b class="inq3t2">审核状态</b>
			<b class="inq3t3">原 因</b>
			<b class="inq3t4">操 作</b>
		</p>
		<%loop (Companys) incompanyinfo companylist%>
	    <p class="inq3">
		    <span class="inq3t1"><a title="{incompanyinfo.en_name}" class="l_333" href="{incompanyinfo.en_id}.html">{incompanyinfo.en_name}</a></span>
		    <%if {incompanyinfo.en_status}==0%>
		    <span class="inq3t2 f_e00101">审核未通过</span>
		    <span class="inq3t3">{incompanyinfo.en_reason}</span>
		        <%if {incompanyinfo.en_visble}==0%>
		    <span class="inq3t4"><a title="完整{incompanyinfo.en_name}注册信息" class="l_f00_u" href="companypostreg.aspx?companyid={incompanyinfo.en_id}">完整注册信息</a></span>
		        <%else if {incompanyinfo.en_visble}==1%>
		    <span class="inq3t4 f_ff8a00">很抱歉该公司信息未通过审核，请联系客服修正相关内容</span>
		        <%/if%>
		    <%else if {incompanyinfo.en_status}==1%>
		    <span class="inq3t2 f_ff8a00">服务审核中</span>
		    <span class="inq3t3">{incompanyinfo.en_reason}</span>
		    <span class="inq3t4 f_ff8a00">请耐心等待，或联系客服查看审核进度</span>
		    <%else if {incompanyinfo.en_status}==2%>
		    <span class="inq3t2 f_0e8202">审核已通过</span>
		    <span class="inq3t3"></span>
		    <span class="inq3t4"><a title="{incompanyinfo.en_name}" class="l_f00_u" href="promotion-{incompanyinfo.en_id}.html">立即推广</a></span>
		    <%/if%>
	    </p>
		<%/loop%>
		<div class="page f_666">
			{pagenumbers}
			共{pagecount}页　到第
			<input type="text" name="textfield" class="input3" style="width:25px;" />
			页
			<input type="button" name="button1" class="agree1" value="确 定" />
		</div>
	</div>
	<%/if%>
</div>
<!--左边 end-->
<!--右边 begin-->
<div class="zshyrt">
	<div class="zsk mar_top_8">
		<p class="zskt">
			<em></em><strong>企业信誉排行榜</strong><span><a class="l_f00_u" title="" href="#">提高信誉度</a></span>
		</p>
		<ul class="zstop2">
		    <%loop (Companys) creditcompanyinfo creditcompanylist%>
		    <li>
				<em class="<%if {creditcompanyinfo__loop__id}<4%>zstopem1<%else%>zstopem2<%/if%>">{creditcompanyinfo__loop__id}</em>
				<p><a title="{creditcompanyinfo.en_name}" href="{creditcompanyinfo.en_id}.html">{creditcompanyinfo.en_name}</a></p>
			</li>
		    <%/loop%>
		</ul>
	</div>
</div>
<!--右边 end-->
</div>
<%template _comcopyright%>
<%template _comfooter%>