<%template _compageheader%>
<body>
<div id="copys">
<%if {page_err}==0%>
    <%if {msgbox_text}!=""%>
    <b class="f_805952_14">{msgbox_text}</b>
    <%else%>
    <%if {msgtype}==0%>
	<p>法&nbsp;&nbsp;&nbsp;&nbsp;人：<b class="f_805952_14">{tipmsgeninfo.en_corp}</b></p>
	<p>联&nbsp;系&nbsp;人：{tipmsgeninfo.en_contact}</p>
	<p>电&nbsp;&nbsp;&nbsp;&nbsp;话：{tipmsgeninfo.en_phone}</p>
	<p>移动电话：{tipmsgeninfo.en_mobile}</p>
	<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：{tipmsgeninfo.en_fax}</p>
	<p>地&nbsp;&nbsp;&nbsp;&nbsp;址：{tipmsgeninfo.provinceName} {tipmsgeninfo.cityName} {tipmsgeninfo.districtName} {tipmsgeninfo.en_address}</p>
	<p>邮&nbsp;&nbsp;&nbsp;&nbsp;编：{tipmsgeninfo.en_post}</p>
	<p>公司主页：<a href="#" class="l_333">{tipmsgeninfo.en_web}</a></p>
	<%else%>
	<%if {msgtype}==1%>
	<b class="f_805952_14"><%set (string){tipmsgencotype}=EnumCatch.GetEnCommType({tipmsgeninfo.en_enco})%>{tipmsgencotype}</b>
	<p>成立时间：{tipmsgeninfo.en_builddate}</p>
	<p>注册资本：{tipmsgeninfo.reg_capital}万元</p>
	<p>注&nbsp;册&nbsp;号：{tipmsgeninfo.reg_code}</p>
	<p>注册机关：{tipmsgeninfo.reg_organ}</p>
	<p>年检时间：{tipmsgeninfo.reg_year}</p>
	<p>营业期限：{tipmsgeninfo.reg_date}</p>
	<p>注册地址：{tipmsgeninfo.reg_address}</p>
	<%/if%>
	<%/if%>
	<%/if%>
<%else%>
<b class="f_805952_14">出现了{page_err}个错误</b>
<p>{msgbox_text}</p>
<%/if%>
</div>
<%template _comfooter%>
