<%template _comheader%>
<!--第一屏 begin-->
<div class="cot">
	<!--左边 begin-->
	<div class="hylt hyltw1 mar_top_8" id="hylt">
		<div class="hyltit">
			<ul id="hyltit1">
				<li>浙商活动</li>
				<li>淘之购活动</li>
			</ul>
			<p class="hyltit2"></p>
		</div>
		<div id="hyltcon">
			<div class="con">
				<ul class="hyltnr">
				<%loop (ActivityInfo) hyactinfo hyactlist%>
				    <li>▪&nbsp;<a target="_blank" title="{hyactinfo.atitle}" href="activity-{hyactinfo.id}.html">{hyactinfo.atitle}</a></li>
			    <%/loop%>
			    <%if {hyactinfo__loop__id}<8%><%repeat("<li>▪&nbsp;</li>", 8-{hyactinfo__loop__id})%><%/if%>
				</ul>
			</div>
			<div class="con">
				<ul class="hyltnr">
				<%loop (ActivityInfo) hytaoactinfo hytaoactlist%>
				    <li>▪&nbsp;<a target="_blank" title="{hytaoactinfo.atitle}" href="activity-{hytaoactinfo.id}.html">{hytaoactinfo.atitle}</a></li>
			    <%/loop%>
			    <%if {hytaoactinfo__loop__id}<8%><%repeat("<li>▪&nbsp;</li>", 8-{hytaoactinfo__loop__id})%><%/if%>
				</ul>
			</div>
		</div>
	</div>
	<!--左边 end-->
	<!--中间 begin-->
	<div class="hyce mar_left_10 mar_top_8">
		<div class="hyce1" id="bill">
			<div id="hyce1con">
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
			</div>
			<ul id="hyce1t">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
		<div class="hyce2">
			<strong><img alt="数据动态" src="templates/{templatepath}/images/hy_data.gif" /></strong>
			<ul class="hyce2nr">
				<li>收录企业：<em class="col_blu">{allcount}</em></li>
				<li>审核通过：<em class="col_gre">{passcount}</em></li>
				<li>今日收录：<em class="col_red">{todaycount}</em></li>
				<li>待审核数：<em class="col_yel">{waitcount}</em></li>
			</ul>
		</div>
	</div>
	<!--中间 end-->
	<!--右边 begin-->
	<div class="hylt hyrt mar_top_8">
		<p class="hyrtit"><strong>最新审核通过企业</strong></p>
		<ul id="hyrtnr">
		    <%loop (Companys) hyupdatecompanyinfo hyupdatecompanylist%>
		    <%set (string){mancatalogname}=Utils.CutString({hyupdatecompanyinfo.catalogName},0,6)%>
				<li>[<a class="l_f00" title="{hyupdatecompanyinfo.catalogName}" href="zshy-{hyupdatecompanyinfo.tempCatalogID}.html">{mancatalogname}</a>] <a title="{hyupdatecompanyinfo.en_name}" href="{hyupdatecompanyinfo.en_id}.html" target="_blank">{hyupdatecompanyinfo.en_name}</a></li>
			<%/loop%>
		</ul>
	</div>
	<!--右边 end-->
</div>
<!--第二屏 begin-->
<div class="cot">
	<div class="hytlt mar_top_8">
		<strong>活跃企业展示区</strong>
		<div class="hytltnr">
			<ul class="hytltcot">
			<%loop (Companys) scoredcompanyinfo hyscoredcompanylist%>
			<%if {scoredcompanyinfo__loop__id}==1%>
			    <li class="hytltcot1">
					<p><a title="{scoredcompanyinfo.en_name}" href="{scoredcompanyinfo.en_id}.html" target="_blank">{scoredcompanyinfo.en_name}</a></p>
					<span>网络评分：{scoredcompanyinfo.enScored}分</span>
					<em>[<a class="l_f00" title="{scoredcompanyinfo.en_name}" href="promotion-{scoredcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%else%>
			    <li class="hytltcot2">
					<p><a title="{scoredcompanyinfo.en_name}" href="{scoredcompanyinfo.en_id}.html" target="_blank">{scoredcompanyinfo.en_name}</a></p>
					<em>[<a class="l_f00" title="{scoredcompanyinfo.en_name}" href="promotion-{scoredcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%/if%>
			<%/loop%>
			</ul>
			<p class="hytltline"></p>
			<ul class="hytltcot">
			<%loop (Companys) creditcompanyinfo hycreditcompanylist%>
			<%if {creditcompanyinfo__loop__id}>8%><%break%><%/if%>
			<%if {creditcompanyinfo__loop__id}==1%>
				<li class="hytltcot1">
					<p><a title="{creditcompanyinfo.en_name}" href="{creditcompanyinfo.en_id}.html">{creditcompanyinfo.en_name}</a></p>
					<span>企业信誉：{creditcompanyinfo.en_credits}</span>
					<em>[<a class="l_f00" title="{creditcompanyinfo.en_name}" href="promotion-{creditcompanyinfo.en_id}.html">立即推广</a>]</em>
				</li>
			<%else%>
				<li class="hytltcot2">
					<p><a title="{creditcompanyinfo.en_name}" href="{creditcompanyinfo.en_id}.html">{creditcompanyinfo.en_name}</a></p>
					<em>[<a class="l_f00" title="{creditcompanyinfo.en_name}" href="promotion-{creditcompanyinfo.en_id}.html">立即推广</a>]</em>
				</li>
			<%/if%>
			<%/loop%>
			</ul>
		</div>
	</div>
	<div class="hytrt mar_top_8">
		<strong>主题企业</strong>
		<ul class="hytrtnr">
			<li class="hytrtnr1"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
			<li class="hytrtnr2"></li>
			<li class="hytrtnr1"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
		</ul>
	</div>
</div>
<!--第二屏 end-->
<!--第三屏 begin-->
<div class="cot">
	<div class="hyindy mar_top_18">
		<p class="hyindyt">
			<strong><img alt="工业区" src="templates/{templatepath}/images/hy_tit1.gif" /></strong>
			<em><a title="" href="#">更多&gt;&gt;</a></em>
		</p>
		<div class="hyindy1" id="hyindy1">
			<ul id="hyindy1t">
				<li>杭州市</li>
				<li>嘉兴市</li>
				<li>宁波市</li>
			</ul>
			<div id="hyindy1con">
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">1河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">1郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">1青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">1河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">1北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">2河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">2郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">2青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">2河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">2北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">3河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">3郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">3青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">3河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">3北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hyindy2">
			<p class="lt"><img id="btn1" alt="左边" src="templates/{templatepath}/images/icon/arrow10.gif" /></p>
			<div id="hyindy2c1">
				<ul class="hyindy2nr">
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa12.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa11.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa5.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa2.jpg" /></a></li>
				</ul>
			</div>
			<p class="rt"><img id="btn2" alt="右边" src="templates/{templatepath}/images/icon/arrow11.gif" /></p>
		</div>
	</div>
	<div class="hyindy mar_top_18">
		<p class="hyindyt">
			<strong><img alt="商业服务" src="templates/{templatepath}/images/hy_tit2.gif" /></strong>
			<em><a title="" href="#">更多&gt;&gt;</a></em>
		</p>
		<div class="hyindy1" id="hyindy2">
			<ul id="hyindy2t">
				<li>杭州市</li>
				<li>嘉兴市</li>
				<li>宁波市</li>
			</ul>
			<div id="hyindy2con">
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">1河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">1郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">1青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">1河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">1北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">2河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">2郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">2青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">2河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">2北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">3河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">3郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">3青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">3河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">3北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hyindy2">
			<p class="lt"><img id="btn3" alt="左边" src="templates/{templatepath}/images/icon/arrow10.gif" /></p>
			<div id="hyindy2c2">
				<ul class="hyindy2nr">
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa12.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa11.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa5.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa2.jpg" /></a></li>
				</ul>
			</div>
			<p class="rt"><img id="btn4" alt="右边" src="templates/{templatepath}/images/icon/arrow11.gif" /></p>
		</div>
	</div>
	<div class="hyad mar_top_8"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa6.jpg" /></a></div>
	<div class="hyindy mar_top_18">
		<p class="hyindyt">
			<strong><img alt="公共服务" src="templates/{templatepath}/images/hy_tit3.gif" /></strong>
			<em><a title="" href="#">更多&gt;&gt;</a></em>
		</p>
		<div class="hyindy1" id="hyindy3">
			<ul id="hyindy3t">
				<li>杭州市</li>
				<li>嘉兴市</li>
				<li>宁波市</li>
			</ul>
			<div id="hyindy3con">
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">1河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">1郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">1青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">1河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">1北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">2河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">2郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">2青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">2河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">2北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">3河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">3郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">3青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">3河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">3北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hyindy2">
			<p class="lt"><img id="btn5" alt="左边" src="templates/{templatepath}/images/icon/arrow10.gif" /></p>
			<div id="hyindy2c3">
				<ul class="hyindy2nr">
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa12.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa11.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa5.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa2.jpg" /></a></li>
				</ul>
			</div>
			<p class="rt"><img id="btn6" alt="右边" src="templates/{templatepath}/images/icon/arrow11.gif" /></p>
		</div>
	</div>
	<div class="hyindy mar_top_18">
		<p class="hyindyt">
			<strong><img alt="社会组织" src="templates/{templatepath}/images/hy_tit4.gif" /></strong>
			<em><a title="" href="#">更多&gt;&gt;</a></em>
		</p>
		<div class="hyindy1" id="hyindy4">
			<ul id="hyindy4t">
				<li>杭州市</li>
				<li>嘉兴市</li>
				<li>宁波市</li>
			</ul>
			<div id="hyindy4con">
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">1河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">1郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">1青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">1河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">1北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">1点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">1北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">1上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">1北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">1西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">1浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">2河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">2郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">2青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">2河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">2北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">2点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">2北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">2上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">2北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">2西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">2浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
				<div class="con">
					<ul class="hyindynr">
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3佛山市南海区金钰轩傢俬厂</a></li>
						<li>·<a title="" href="#">3河南华泰特种电缆有限公司</a></li>
						<li>·<a title="" href="#">3郑州锦水实业有限公司</a></li>
						<li>·<a title="" href="#">3青岛昊坤重型机械技术有限公司</a></li>
						<li>·<a title="" href="#">3河南黎明路桥重工有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
						<li>·<a title="" href="#">3北京医模科技有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3香港普菲特服饰有限公司</a></li>
						<li>·<a title="" href="#">3点意空间展览展示有限公司</a></li>
						<li>·<a title="" href="#">3北京中全清茂展览展示</a></li>
						<li>·<a title="" href="#">3上海巨臣展览展示服务有限公司</a></li>
						<li>·<a title="" href="#">3北京天陛展览展示有限公司</a></li>
						<li>·<a title="" href="#">3西安视创展览装饰有限公司</a></li>
						<li>·<a title="" href="#">3浙江浦江瑞博工艺饰品有限公司</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hyindy2">
			<p class="lt"><img id="btn7" alt="左边" src="templates/{templatepath}/images/icon/arrow10.gif" /></p>
			<div id="hyindy2c4">
				<ul class="hyindy2nr">
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa12.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa11.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa5.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></li>
					<li><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa2.jpg" /></a></li>
				</ul>
			</div>
			<p class="rt"><img id="btn8" alt="右边" src="templates/{templatepath}/images/icon/arrow11.gif" /></p>
		</div>
	</div>
</div>
<!--第三屏 end-->
<%template _comcopyright%>
<%template _comfooter%>