<?xml version="1.0"?>
<APIConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <AppCollection>
    <ApplicationInfo>
      <AppName>netcms</AppName>
      <AppUrl>http://www.cncms.com/</AppUrl>
      <APIKey>d04f70c3ed9ce7988e9936ef8f31ca38</APIKey>
      <Secret>f8a92f70c2acf8cd70271dd7d4a148f2</Secret>
      <CallbackUrl>http://www.cncms.com/</CallbackUrl>
      <SyncUrl>http://www.cncms.com/</SyncUrl>
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
    <ApplicationInfo>
      <AppName>团队站点</AppName>
      <AppUrl>http://www.tlx.com/</AppUrl>
      <APIKey>0aa84e049f14b709aa9d8a88c339d9f6</APIKey>
      <Secret>22428a70d38bbe6f3a757a05af5515a8</Secret>
      <CallbackUrl>http://www.tlx.com/</CallbackUrl>
      <SyncUrl>http://www.tlx.com/</SyncUrl>
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
  </AppCollection>
</APIConfigInfo>