@charset "utf-8";
/* 浙商黄业 */
/* 左边 */
.zshylt{ width:740px; height:auto; float:left;}
.zshy1{ width:740px; height:auto; float:left;}
.zshy1 dt{ width:723px; height:20px; line-height:20px; color:#403635; background:url(../images/icon/arrow.gif) left center no-repeat; padding:0 0 0 17px; float:left;}
.zshy1 dd{ width:723px; height:auto; color:#666; padding:0 0 0 17px; float:left;}
.zshy1zt{ width:144px; height:25px; line-height:25px; float:left;}
.zshy1zt2{ width:723px; height:25px; line-height:25px; text-align:left; margin:3px 0; float:left;}
.zshy1zt2 span{ float:left;}
.zshy1zt2so{ width:53px; height:20px; margin:0 0 0 5px;}
.zshy1zt2so a{ width:53px; height:20px; background:url(../images/soso2.gif) top no-repeat; float:left;}
.zshy1zt2so a:hover{ width:53px; height:20px; background:url(../images/soso2.gif) bottom no-repeat; float:left;}
.zshy1line{ width:740px; height:1px; border-top:1px dashed #eee; float:left;}
.zshynr{ width:740px; height:auto; float:left; overflow:hidden;}
.zshynrdd{ padding:10px 0 10px 0; color:#666; border-bottom:1px solid #eee; float:left;}
.zshynrdd2{ padding:10px 0 10px 0; color:#666; background:#f8f7f7; border-bottom:1px solid #eee; float:left;}
.zshynrtit{ width:720px; height:28px; background:url(../images/line-bg1.jpg) 0 -47px repeat-x; padding:10px 10px 0; float:left;}
.zshynrt1{ width:710px; height:28px; line-height:28px; float:left;}
.zshynrt1 em{ margin-right:7px; float:left;}
.zshyline{ width:1px; height:15px; margin:5px 0 0 0; background:#d0c3c0;}
.zshynrt2{ height:28px; line-height:28px; text-align:left; float:right;}
.zshynrt2 i{ font-style:normal;}
.zshynrt3{ width:130px; height:18px; line-height:18px; border:1px solid #7e9db9; background:#fff url(../images/icon/arrow3.gif) top right no-repeat; display:inline; position:relative; padding:0 0 0 2px; margin:2px 0 0 0; display:inline; float:left; z-index:100;}
.zshynrt3 em{ font-style:normal; float:left;}
.zshynrt3nr{ width:132px; height:68px; overflow:hidden; position:absolute; left:-1px; top:19px; background:#fff; border: solid #7e9db9; border-width:0 1px 1px 1px; float:left;}
.zshynrt3 i{ width:130px; line-height:18px; font-style:normal; padding:2px 2px 2px 2px; border-bottom:1px solid #cbdbe9; cursor:pointer; float:left;}
.zshynrt3 i:hover{ background:#eee;}
.zshynrt3 i.hover{ background:#eee;}
.zshynrt3 img{ margin:0 2px 0 0;}
.zshypos{ width:120px; height:18px; line-height:18px; border:1px solid #7e9db9; background:#fff url(../images/icon/arrow3.gif) bottom right no-repeat; display:inline; padding:0 0 0 2px; float:left;}
.zshynr1{ width:740px; height:90px; text-align:left; margin:0 0 5px 0; float:left;}
.zshynr1lt{ width:425px; height:90px; text-align:left; margin:0 0 0 5px; float:left;}
.zshynr1lt1{ width:425px; height:30px; line-height:30px; letter-spacing:1px; float:left;}
.zshynr1lt2{ width:425px; height:60px; line-height:20px; float:left;}
.zshynr1ce{ width:140px; height:90px; line-height:30px; text-align:right; margin-right:15px; float:left;}
.zshynr2{ width:735px; height:25px; line-height:25px; text-align:left; margin:0 0 0 5px; float:left;}
.zscard{ width:330px; height:205px; margin:10px 20px; display:inline; position:relative; overflow:hidden; float:left;}
.zscard img{ width:330px; height:205px; float:left;}
.zscard1{ width:305px; height:155px; padding:55px 10px 0; float:left;}
.zscard1zt1{ width:300px; height:25px; line-height:25px; text-align:left; float:left;}
.zscard1zt2{ width:300px; height:16px; line-height:16px; text-align:left; float:left;}
.zscard2{ width:170px; height:25px; text-align:right; float:right;}
.zscard2nr1{ width:55px; height:20px; padding:0 0 0 20px; background:url(../images/tab-tit4.gif) no-repeat; margin:0 10px 0 0; display:inline; float:left;}
.zscard2nr2{ width:55px; height:20px; padding:0 0 0 20px; background:url(../images/tab-tit5.gif) no-repeat; float:left;}
.overlay{ position:absolute; top:0; bottom:0; left:0; right:0; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.ic_caption{ line-height:19px; position:absolute; overflow:hidden; left:0; right:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; padding:7px 5px 5px;}
.ic_category{ text-transform:uppercase; font-size:18px; padding:1px 5px; margin:0px; display:block;}
.ic_zi{ padding:1px 5px; margin:0px; display:block;}
.ic_text{ padding:1px 5px; text-align:justify; display:block;}

/* 右边 */
.zshyrt{ width:210px; height:auto; float:right;}
.zshyrt1{ width:210px; height:210px; float:left;}
.zshyrt1 img{ width:210px; height:210px; float:left;}
.zshyrt2sub{ width:210px; height:35px; float:left;}
.zshyrt2sub a{ width:210px; height:35px; background:url(../images/an3.jpg) top no-repeat; float:left;}
.zshyrt2sub a:hover{ width:210px; height:35px; background:url(../images/an3.jpg) bottom no-repeat; float:left;}
.zsk{ width:208px; height:auto; border:1px solid #e7e7e9; float:left;}
.zskt{ width:188px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.zskt em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.zskt strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}

.zstop2{ width:188px; height:auto; padding:5px 10px; float:left;}
.zstop2 li{ width:188px; height:25px; line-height:25px; color:#666; text-align:left; float:left; overflow:hidden; display:inline;}
.zstopem1, .zstopem2{ width:15px; height:13px; line-height:13px; text-align:center; margin:5px 8px 0 0; display:inline; float:left;}
.zstopem1{ color:#ff4e00; background:url(../images/icon/sort.gif) left no-repeat;}
.zstopem2{ color:#6f3d33; background:url(../images/icon/sort.gif) right no-repeat;}
.zstop2 p{ width:160px; height:25px; line-height:25px; overflow:hidden; float:left;}
.zshyrtad{ width:210px; height:65px; float:left;}
.zshyrtad img{ width:210px; height:65px; float:left;}

/* 企业展示 */
.zsshowlt{ width:678px; height:auto; background:#f8f6f6; border:1px solid #e6e4e4; padding:30px; float:left;}
.zsshowlt1{ width:678px; height:35px; line-height:35px; font:26px Verdana, Arial, '宋体'; font-weight:bold; text-align:center; border-bottom:1px dashed #e6e4e4; padding:0 0 5px 0; float:left;}
.tbshow{ width:100%; float:left;}
.tbshow td{ color:#666; line-height:25px; text-align:left;}
.tbshow td b{ color:#333;}
.tbshow td a{ margin:0 15px 0 0;}
.zsshowltnr{ width:678px; height:auto; line-height:25px; text-align:left; letter-spacing:1px; text-indent:2em; margin:20px 0; display:inline; float:left;}
.zsshowltnr1{ width:678px; height:30px; float:left;}
.zsshowltnr1 img{ width:678px; height:30px; float:left;}
.tbhot{ width:100%; background:#e6e4e4; float:left;}
.tbhot td{ color:#666; line-height:25px; padding:0 10px; background:#fff; text-align:left;}
.tbhot td span{ float:right;}
.zsshowltnr2{ width:678px; height:30px; line-height:30px; font-size:14px; margin:20px 0 0 0; float:left;}
.zsshowltnr3{ width:658px; height:25px; line-height:25px; background:#fff; border:1px solid #e6e4e4; padding:10px; float:left;}
.zsshowltnr3 b, .zsshowltnr3 span{ margin:0 5px 0 0; float:left;}
.zsshowltnr3so{ width:61px; height:23px;}
.zsshowltnr3so a{ width:61px; height:23px; background:url(../images/soso-an1.jpg) top no-repeat; float:left;}
.zsshowltnr3so a:hover{ width:61px; height:23px; background:url(../images/soso-an1.jpg) bottom no-repeat; float:left;}
/*企业推广*/
.pmt{ width:886px; height:auto; background:#f7f1f0; border:1px solid #e6e4e4; padding:30px 36px 36px; float:left;}
.pmtit{ width:886px; height:45px; line-height:45px; color:#666; font-size:26px; background:url(../images/line.gif) left bottom repeat-x; float:left;}
.pmtnrlt{ width:485px; height:auto; margin:15px 0 0 0; display:inline; float:left;}
.pmtnrlt p{ width:485px; height:23px; line-height:23px; float:left;}
.pmtnrrt{ width:342px; height:193px; background:#fff url(../images/hycard/tijiao-bg1.gif) bottom right no-repeat; border:solid #999; border-width:1px 0; margin:15px 0 0 0; display:inline; position:relative; padding:5px 10px; float:right;}
.pmtnrrt .lt, .pmtnrrt .rt{ width:1px; height:203px; background:#999; position:absolute; top:0;}
.pmtnrrt .lt{ left:-1px;}
.pmtnrrt .rt{ right:-1px;}
.pmtnrrt strong{ width:329px; height:30px; line-height:30px; color:#403635; font-size:14px; background:url(../images/line.gif) left bottom repeat-x; padding:0 5px; float:left;}
.pmtnrrt p{ width:339px; height:auto; line-height:22px; color:#666; margin:7px 0 0 0; display:inline; float:left;}
.pmt1{ width:886px; height:auto; background:#f7f6f8; border:1px solid #e6e4e4; padding:15px 36px 15px; float:left;}
.pmt1lt{ width:330px; height:auto; float:left;}
.pmt1lt1{ width:330px; height:30px; line-height:30px; font-size:14px; float:left;}
.pmt1lt1 em{ font-size:12px; font-weight:normal; color:#f00;}
.pmt1lt2{ width:330px; height:205px; float:left;}
.pmt1lt4{ width:330px; height:230px; line-height:25px; background:#fff; border:1px solid #ccc; padding:5px; float:left;}
.pmt1rt{ width:520px; height:auto; float:right;}
.pmt1rt1{ width:520px; height:30px; line-height:30px; color:#805952; float:left;}
.pmt1rt2{ width:520px; height:auto; float:left;}
.pmt1rt3{ width:113px; height:33px; float:left;}
.pmt1rt3 a{ width:113px; height:33px; background:url(../images/an4.jpg) top no-repeat; float:left;}
.pmt1rt3 a:hover{ width:113px; height:33px; background:url(../images/an4.jpg) bottom no-repeat; float:left;}

/*帮助中心*/
.helplt{ width:194px; height:auto; background:#fbf9f8; border:1px solid #c2b2af; padding:1px 1px 30px; float:left;}
.helplt1{ width:174px; height:30px; line-height:30px; background:#a48b87; font-size:14px; padding:0 10px; float:left;}
.helplt2{ width:174px; height:auto; float:left;}
.helplt2li1{ width:164px; height:14px; line-height:14px; background:#fbf9f8; border-top:1px solid #fff; border-bottom:1px solid #f5f2f0; padding:7px 15px; float:left;}
.helplt2li2{ width:164px; height:14px; line-height:14px; background:#fff; border-top:1px solid #fff; border-bottom:1px solid #f5f2f0; padding:7px 15px; float:left;}
.helprt{ width:748px; height:auto; border:1px solid #c2b2af; padding:1px 1px 30px; float:right;}
.helprt1{ width:738px; height:22px; background:url(../images/line-bg1.jpg) 0 -49px repeat-x; padding: 7px 5px; display:inline; float:left; overflow:hidden;}
.helprt1tu{ width:auto; height:22px; backgroung:url(../images/arrow2.gif) no-repeat; float:left;}
.helprt1zt{ width:auto; height:22px; line-height:25px; font-size:14px; color:#403635; margin:0 0 0 5px; float:left;}
.helprt2{ width:698px; height:auto; padding:20px; display:inline; float:left;}
