@charset "utf-8";
/* 黄页首页 */
/* 第一屏 */
.hylt{ height:223px; border:1px solid #eee6e3;}
.hyltw1{ width:218px; float:left;}
.hyltit{ width:218px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; position:relative; float:left;}
#hyltit1{ width:165px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; position:relative; float:left;}
.hyltit2{ width:57px; height:28px; position:absolute; border-bottom:1px solid #eee6e3; right:0; top:0;}
#hyltit1 li{ width:80px; height:28px; line-height:28px; color:#92665e; font-size:14px; text-align:center; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #eee6e3; border-right:1px solid #eee6e3; cursor:pointer; float:left;}
#hyltit1 li.current{ color:#92665e; font-weight:bold; background:#fff; border-bottom:0px; border-right:1px solid #eee6e3;}
#hyltit1 li.usual{ color:#92665e; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #e7e7e9; border-right:1px solid #e7e7e9;}
#hyltcon{ width:218px; height:auto; float:left;}
#hyltcon .con{ width:218px; height:auto; display:none; float:left;}
.hyltnr{ width:198px; height:auto; padding:7px 10px 0; float:left;}
.hyltnr li{ width:198px; height:23px; line-height:23px; overflow:hidden; float:left;}
.hyce{ width:430px; height:auto; float:left; overflow:hidden;}
.hyce1{ width:430px; height:180px; float:left;}
#hyce1t{ width:60px; height:20px; z-index:1; position:relative; margin:-25px 8px 0 0; display:inline; float:right;}
#hyce1t li{ width:15px; height:15px; line-height:14px; color:#fff; margin-right:3px; text-align:center; background:#a48b87; border:1px solid #e7dad8; cursor:pointer; float:left;}
#hyce1t li.current{ color:#fff; background:#b10101; border:1px solid #e7dad8;}
#hyce1t li.usual{ color:#333; background:#a48b87; border:1px solid #e7dad8;}
#hyce1con{ width:430px; height:180px; float:left;}
#hyce1con .con{ width:430px; height:180px; display:none; float:left;}
#hyce1con img{ width:430px; height:180px; float:left;}
.hyce2{ width:400px; height:36px; background:#f7f3f2; margin-top:3px; display:inline; padding:3px 15px; float:left;}
.hyce2 strong{ width:64px; height:23px; margin:6px 0 0 0; display:inline; float:left;}
.hyce2nr{ width:300px; height:36px; float:right;}
.hyce2nr li{ width:150px; height:18px; line-height:20px; color:#666; float:left;}
.hyce2nr li .col_red{ color:#f00;}
.hyce2nr li .col_gre{ color:#0cae00;}
.hyce2nr li .col_yel{ color:#ff8a00;}
.hyce2nr li .col_blu{ color:#0096ff;}
.hyrt{ width:288px; float:right;}
.hyrtit{ width:268px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #eee6e3; padding:0 10px; position:relative; float:left;}
.hyrtit strong{ width:auto; height:28px; line-height:28px; font-size:14px; color:#92665e; float:left;}
.hyrtit span{ width:auto; height:14px; padding:7px 0; float:right;}
#hyrtnr{ width:268px; height:184px; padding:0 10px 0; margin-top:7px; display:inline; float:left; overflow:hidden;}
#hyrtnr li{ width:268px; height:23px; line-height:23px; overflow:hidden; float:left;}
/* 第二屏 */
.hytlt{ width:660px; height:auto; float:left;}
.hytlt strong, .hytrt strong{ height:25px; line-height:25px; font-size:14px; color:#92665e; padding:0 10px; float:left;}
.hytlt strong{ width:640px;}
.hytrt strong{ width:270px;}
.hytltnr{ width:658px; height:209px; border:1px solid #eee6e3; padding:10px 0; float:left;}
.hytltcot{ width:305px; height:auto; color:#666; margin-left:12px; display:inline; float:left;}
.hytltcot1{ width:305px; height:58px; float:left;}
.hytltcot1 p{ width:305px; height:25px; line-height:25px; font-size:14px; font-weight:bold; float:left;}
.hytltcot1 span{ width:auto; height:25px; line-height:25px; color:#fe8f00; float:left;}
.hytltcot1 em{ width:auto; height:23px; line-height:23px; float:right;}
.hytltcot2{ width:305px; height:23px; float:left;}
.hytltcot2 p{ width:230px; height:23px; float:left;}
.hytltcot2 em{ width:auto; height:23px; float:right;}
.hytltline{ width:12px; height:209px; border-right:1px solid #eee; float:left;}
.hytrt{ width:290px; height:auto; float:right;}
.hytrtnr{ width:290px; height:auto; float:left;}
.hytrtnr1, .hytrtnr1 img{ width:290px; height:110px; float:left;}
.hytrtnr2{ width:290px; height:10px; float:left;}
/* 第三屏 */
.hyindy{ width:958px; height:auto; border:1px solid #eee6e3; float:left;}
.hyindyt{ width:938px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #eee6e3; padding:0 10px; position:relative; float:left;}
.hyindyt strong{ width:142px; height:36px; position:absolute; left:0; top:-7px; float:left;}
.hyindyt em{ width:auto; height:28px; line-height:28px; float:right;}
.hyindy1{ width:535px; height:255px; padding:0 10px; float:left;}
#hyindy1t, #hyindy2t, #hyindy3t, #hyindy4t{ width:33px; height:auto; float:left;}
#hyindy1t li, #hyindy2t li, #hyindy3t li, #hyindy4t li{ width:17px; height:53px; line-height:18px; color:#92665e; margin-right:3px; text-align:center; background:url(../images/hy_bg1.gif) no-repeat; font-size:14px; font-weight:bold; cursor:pointer; padding:8px 8px; margin:12px 0 0 0; display:inline; float:left;}
#hyindy1t li.current, #hyindy2t li.current, #hyindy3t li.current, #hyindy4t li.current{ color:#92665e; background:url(../images/hy_bg2.gif) no-repeat;}
#hyindy1t li.usual, #hyindy2t li.usual, #hyindy3t li.usual, #hyindy4t li.usual{ color:#666; background:url(../images/hy_bg1.gif) no-repeat;}
#hyindy1con, #hyindy2con, #hyindy3con, #hyindy4con{ width:490px; height:auto; padding:8px 0; float:right;}
#hyindy1con .con, #hyindy2con .con, #hyindy3con .con, #hyindy4con .con{ width:490px; height:auto; display:none; float:left;}
.hyindynr{ width:490px; height:auto; float:left;}
.hyindynr li{ width:245px; height:24px; line-height:24px; color:#666; float:left;}
.hyindy2{ width:403px; height:255px; background:url(../images/hy_bg.gif) repeat-x; position:relative; float:left;}
.hyindy2 .lt, .hyindy2 .rt{ width:26px; height:40px; position:absolute; top:110px;}
.hyindy2 .lt{ left:2px;}
.hyindy2 .rt{ right:2px}
#hyindy2c1, #hyindy2c2, #hyindy2c3, #hyindy2c4{ width:338px; height:213px; position:absolute; left:32px; top:20px; float:left; overflow:hidden;}
.hyindy2nr{ width:1690px; height:213px; float:left;}
.hyindy2nr li{ width:330px; height:205px; padding:3px; border:1px solid #ccc; background:#fff; margin-right:10px; display:inline; float:left;}
.hyindy2nr li img{ width:330px; height:205px; float:left;}
.hyad, .hyad img{ width:960px; height:70px; float:left;}

/* 浙商黄页 */
/* 左边 */
.zshylt{ width:740px; height:auto; float:left;}
.zshy1{ width:740px; height:auto; float:left;}
.zshy1 dt{ width:723px; height:20px; line-height:20px; color:#403635; background:url(../images/icon/arrow.gif) left center no-repeat; padding:0 0 0 17px; float:left;}
.zshy1 dd{ width:723px; height:auto; color:#666; padding:0 0 0 17px; float:left;}
.zshy1zt{ width:144px; height:25px; line-height:25px; float:left;}
.zshy1zt2{ width:723px; height:25px; line-height:25px; text-align:left; margin:3px 0; float:left;}
.zshy1zt2 span{ float:left;}
.zshy1zt2so{ width:53px; height:20px; margin:0 0 0 5px;}
.zshy1zt2so a{ width:53px; height:20px; background:url(../images/soso2.gif) top no-repeat; float:left;}
.zshy1zt2so a:hover{ width:53px; height:20px; background:url(../images/soso2.gif) bottom no-repeat; float:left;}
.zshy1line{ width:740px; height:1px; border-top:1px dashed #eee; float:left;}
.zshynr{ width:740px; height:auto; float:left; overflow:hidden;}
.zshynrdd{ padding:15px 0 15px 0; color:#666; border-bottom:1px solid #eee; float:left;}
.zshynrdd2{ padding:15px 0 15px 0; color:#666; background:#f8f7f7; border-bottom:1px solid #eee; float:left;}
.zshynrtit{ width:740px; height:67px; float:left;}
.zshynrt1{ width:718px; height:26px; line-height:20px; background:url(../images/bg1.gif) repeat-x; padding:5px 10px 0; border:1px solid #f9e0ab; float:left;}
.zshynrt1 em{ margin-right:7px; float:left;}
.zshyline{ width:1px; height:15px; margin:5px 0 0 0; background:#d0c3c0;}
.zshynrt2{ height:28px; line-height:26px; text-align:left; float:right;}
.zshynrt2 i{ font-style:normal;}
.zshynrt3{ width:130px; height:18px; line-height:18px; border:1px solid #7e9db9; background:#fff url(../images/icon/arrow3.gif) top right no-repeat; display:inline; position:relative; padding:0 0 0 2px; margin:1px 0 0 0; display:inline; float:left; z-index:100;}
.zshynrt3 em{ font-style:normal; float:left;}
.zshynrt3nr{ width:132px; height:auto; overflow:hidden; position:absolute; left:-1px; top:19px; background:#fff; border: solid #7e9db9; border-width:0 1px 1px 1px; float:left;}
.zshynrt3 i{ width:128px; line-height:18px; font-style:normal; padding:2px 2px 2px 2px; border-bottom:1px solid #cbdbe9; cursor:pointer; float:left; margin-right:-3px;}
.zshynrt3 i:hover{ background:#eee;}
.zshynrt3 i.hover{ background:#eee;}
.zshynrt3 img{ margin:0 2px 0 0;}
.zshynrt4{ width:720px; height:28px; line-height:26px; background:url(../images/line-bg1.jpg) 0 -47px repeat-x; padding:10px 10px 0; float:left;}
.zshynrt5{ width:350px; height:26px; line-height:24px; margin:-2px 0 0 0; float:left;}
.zshynrt5 em{ margin:2px 5px 0 0; display:inline; float:left;}
.zshymar_t{ margin:-50px 0 0 0; display:inline;}
.zshynrt6{ width:auto; height:26px; line-height:22px!important;line-height:26px; margin:0 10px 0 0; float:left;}
.zshynrt6 a{ width:auto; height:17px; line-height:17px; text-align:center; background:#fff; border:1px solid #b4b4b4; margin:0 0 0 7px; padding:0 6px; float:left; cursor:pointer;}
.zshynrt6 a:hover{ width:auto; height:17px; line-height:17px; border:1px solid #9c827d; padding:0 6px; float:left}
.zshynrt6 i{ line-height:14px; margin:2px 0 0 0; float:left;}
.zshynrt6 img{ margin:2px 0 0 0;}
.zshypos{ width:120px; height:18px; line-height:18px; border:1px solid #7e9db9; background:#fff url(../images/icon/arrow3.gif) bottom right no-repeat; display:inline; padding:0 0 0 2px; float:left;}
.zshynr1{ width:740px; height:auto; text-align:left; margin:0 0 5px 0; float:left;}
.zshynr1lt{ width:370px; height:40px; line-height:20px; color:#333; text-align:left; margin:0 0 0 5px; overflow:hidden; float:left;}
.zshynr1lt1{ width:730px; height:30px; line-height:30px; letter-spacing:1px; float:left;}
.zshynr1ce{ width:80px; height:20px; line-height:20px; text-align:center; margin:20px 0 0 10px; float:left;}
.zshynr1ce2{ width:78px; height:40px; line-height:20px; color:#333; text-align:center; margin:0 0 0 10px; float:left;}
.zshynr1ce2 b{display:block;}
.zshynr2{ width:700px; height:25px; line-height:25px; text-align:left; margin:0 0 0 5px; float:left;}
.zshynr2lt{ float:left;}
.zshynr2rt{ margin:0 0 0 130px; display:inline; float:left;}
.zshynr2rt2{ float:right;}
.zshynr3{ width:735px; height:25px; line-height:25px; text-align:left; margin:0 0 0 5px; float:left;}
.zscard{ width:330px; height:205px; margin:20px 20px 10px; display:inline; position:relative; overflow:hidden; float:left;}
.zscard img{ width:330px; height:205px; float:left;}
.zscard1{ width:305px; height:155px; padding:55px 10px 0; float:left;}
.zscard1zt1{ width:300px; height:25px; line-height:25px; text-align:left; float:left;}
.zscard1zt2{ width:300px; height:16px; line-height:16px; text-align:left; float:left;}
.zscard2{ width:170px; height:25px; text-align:right; float:right;}
.zscard2nr1{ width:55px; height:20px; padding:0 0 0 20px; background:url(../images/tab-tit4.gif) no-repeat; margin:0 10px 0 0; display:inline; float:left;}
.zscard2nr2{ width:55px; height:20px; padding:0 0 0 20px; background:url(../images/tab-tit5.gif) no-repeat; float:left;}
.overlay{ position:absolute; top:0; bottom:0; left:0; right:0; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.ic_caption{ line-height:19px; position:absolute; overflow:hidden; left:0; right:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; padding:7px 5px 5px;}
.ic_category{ text-transform:uppercase; font-size:18px; padding:1px 5px; margin:0px; display:block;}
.ic_zi{ padding:1px 5px; margin:0px; display:block;}
.ic_text{ padding:1px 5px; text-align:justify; display:block;}
/*弹出页*/
#copys span{ width:60px; text-align:left;}
/* 右边 */
.zshyrt{ width:210px; height:auto; float:right;}
.zshyrt1{ width:210px; height:210px; float:left;}
.zshyrt1 img{ width:210px; height:210px; float:left;}
.zshyrt2sub{ width:210px; height:35px; float:left;}
.zshyrt2sub a{ width:210px; height:35px; background:url(../images/an3.jpg) top no-repeat; float:left;}
.zshyrt2sub a:hover{ width:210px; height:35px; background:url(../images/an3.jpg) bottom no-repeat; float:left;}
.zsk{ width:208px; height:auto; border:1px solid #e7e7e9; float:left;}
.zskt{ width:188px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.zskt em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.zskt strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}
.zskt span{ width:auto; height:24px; line-height:24px; float:right;}
.zstop2{ width:188px; height:auto; padding:5px 10px; float:left;}
.zstop2 li{ width:188px; height:25px; line-height:25px; color:#666; text-align:left; float:left; overflow:hidden; display:inline;}
.zstopem1, .zstopem2{ width:15px; height:13px; line-height:13px; text-align:center; margin:5px 8px 0 0; display:inline; float:left;}
.zstopem1{ color:#ff4e00; background:url(../images/icon/sort.gif) left no-repeat;}
.zstopem2{ color:#6f3d33; background:url(../images/icon/sort.gif) right no-repeat;}
.zstop2 p{ width:160px; height:25px; line-height:25px; overflow:hidden; float:left;}
.zshyrtad{ width:210px; height:65px; float:left;}
.zshyrtad img{ width:210px; height:65px; float:left;}
/* 企业展示 */
.osw{ width:912px; height:auto; background:#fbfafa; border:1px solid #ede6e4; padding:15px 23px; float:left;}
.osw h1{ width:912px; height:40px; line-height:40px; font:26px Verdana, Arial, '宋体'; color:#000; text-align:left; float:left;}
.oswlt{ width:525px; height:183px; background:#fffefa; border:1px solid #feefc6; padding:10px 15px; float:left; position:relative;}
.oswlt p{ width:520px; line-height:24px; float:left;}
.oswlt1{ width:60px; float:left;}
.oswlt2{ width:460px; float:left;}
.oswmore{ width:510px; height:18px; line-height:18px; text-align:right; background:url(../images/icon/arrow7.gif) center right no-repeat; padding:0 10px 0 0; float:left;}
.oswpf{ width:auto; font-weight:normal; position:absolute; top:25px; right:30px; z-index:10;}
.oswrt{ width:330px; height:205px; float:right;}
.tswlt{ width:555px; height:50px; float:left;}
.tswltp1{ width:400px; height:36px; margin:14px 0 0 0; display:inline; float:left;}
.tswltp1 span{ width:400px; height:16px; line-height:16px; color:#999; margin:4px 0 0 0; display:inline; float:left;}
.tswltp2{ width:93px; height:30px; display:inline; margin:20px 0 0 0; float:right;}
.tswltp2 a{ width:93px; height:30px; background:url(../images/an-pinlun.gif) top no-repeat; float:left;}
.tswltp2 a:hover{ width:93px; height:30px; background:url(../images/an-pinlun.gif) bottom no-repeat; float:left;}
.tswrt{ width:330px; height:30px; margin:20px 0 0 0; display:inline; float:right;}
.tswrt a{ width:93px; height:30px; background:url(../images/an-tuiguang.gif) top no-repeat; float:left;}
.tswrt a:hover{ width:93px; height:30px; background:url(../images/an-tuiguang.gif) bottom no-repeat; float:left;}
.tsw{ width:912px; height:auto; background:#fbfafa; border:1px solid #ede6e4; padding:15px 23px; float:left!important;float:none; position:relative;}
.tsw b{ width:912px; height:25px; line-height:25px; font-size:14px; color:#333; float:left;}
.tswnr{ width:909px; height:72px; line-height:24px; overflow:hidden; float:left;}
.tswnrxin{ width:909px; height:auto; line-height:24px; float:left;}
.tswnr2{ width:909px; height:auto; line-height:24px; float:left;}
.tswan{ width:auto; height:17px; text-align:center; color:#666; background:url(../images/an-inf.gif) repeat-x; border:1px solid #e9e9e9; position:absolute; bottom:-12px; padding:5px 8px 0; left:430px; cursor:pointer;}
.tswan:hover{ color:#f00;}
.tswan em{ width:8px; height:4px; margin:5px 5px 0 0; display:inline; float:left;}
.fsw{ width:958px; height:auto; border:1px solid #ede6e4; float:left;}
.fswt{ width:938px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.fswt em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.fswt strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#000; float:left;}
.fswnr{ width:958px; height:158px; margin:15px 0 0 0; display:inline; float:left;}
.fswnr li{ width:213px; height:140px; margin:0 8px 0 15px; display:inline; border:1px solid #eee; float:left;}
.fswnr li img{ width:213px; height:140px; float:left;}
.fsw2{ width:918px; height:auto; padding:10px 20px; float:left;}
.fswnr2{ width:918px; height:auto; float:left;}
.fswnr2 li{ width:918px; height:auto; border-bottom:1px solid #eee; padding:5px 0 10px 0; float:left;}
.fswnr2zi{ width:918px; height:30px; float:left;}
.fswnr2zi1{ width:400px; height:30px; line-height:30px; float:left;}
.fswnr2zi2{ width:500px; height:30px; line-height:30px; color:#999; text-align:right; float:right;}
.fswnr2zt{ width:918px; height:auto; line-height:22px; color:#333; float:left;}
.fswt2{ width:912px; height:28px; line-height:28px; background:#faf8f8; font-size:14px; padding:0 23px; float:left;}
.fswnr3{ width:918px; height:auto; padding:10px 20px; float:left;}
.fsw3 td{ vertical-align:top; padding:5px 0;}
.fsw3zi{ color:#999; line-height:20px;}
/*公告*/
.bult{ width:290px; height:auto; float:left;}
.bult1{ width:290px; height:240px; float:left;}
.bult1 img{ width:290px; height:240px; float:left;}
.bult2{ width:288px; height:auto; border:1px solid #e7e7e9; float:left;}
.bult2t{ width:268px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.bult2t em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.bult2t strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}
.bult2t span{ width:auto; height:24px; line-height:24px; float:right;}
.bult2nr{ width:268px; height:auto; padding:10px; float:left;}
.tbbiaoq{ width:100%; background:#e6e4e4; float:left;}
.tbbiaoq td{ color:#666; height:30px; text-align:center; padding:0 5px; background:#fff;}
.bult2nr2{ width:268px; height:auto; padding:10px; float:left;}
.bult2nr2 li{ width:268px; height:25px; line-height:25px; float:left;}
.bult2nr2 p{ width:185px; height:25px; float:left; overflow:hidden;}
.bult2nr2 span{ width:75px; color:#999; float:right;}
.bult3{ width:290px; height:160px; float:left;}
.bult3 img{ width:290px; height:160px; float:left;}
.burt{ width:600px; height:auto; background:#f7f7f7; border:1px solid #e5e5e5; padding:29px; float:right;}
.burt h2{ width:600px; height:35px; line-height:35px; font:26px Verdana, Arial, '宋体'; font-weight:bold; text-align:center; padding:0 0 5px 0; float:left;}
.burt2{ width:600px; height:25px; line-height:20px; text-align:center; color:#999; border-bottom:1px dashed #e6e4e4; padding:0 0 5px 0; float:left;}
.burtnr{ width:600px; height:auto; line-height:25px; text-align:left; margin:20px 0; display:inline; float:left;}
.burtnr1{ width:600px; height:30px; float:left;}
.burtnr1 img{ width:600px; height:30px; float:left;}
.tbhot{ width:100%; background:#e6e4e4; float:left;}
.tbhot td{ color:#666; line-height:25px; padding:0 10px; background:#fff; text-align:left;}
.tbhot td span{ float:right;}
.burtnr2{ width:600px; height:30px; line-height:30px; font-size:14px; margin:20px 0 0 0; float:left;}
.burtnr3{ width:578px; height:25px; line-height:25px; background:#fff; border:1px solid #e6e4e4; padding:10px; float:left;}
.burtnr3 b, .burtnr3 span{ margin:0 5px 0 0; float:left;}
.burtnr3so{ width:61px; height:24px;}
.bulstrt{ width:640px; height:auto; border:1px solid #e5e5e5; padding:10px; float:right;}
.bulstrt1{ width:620px; height:30px; line-height:30px; border-bottom:1px solid #e5e5e5; padding:0 10px; float:right;}
.bulstrt1 strong{ width:auto; height:30px; font-size:14px; float:left;}
.bulstrt1 span{ width:auto; height:30px; text-align:left; color:#999; float:right;}
.bulstrt2{ width:640px; height:auto; margin:10px 0 0 0; display:inline; float:left;}
.bulstrt2 li{ width:620px; height:30px; line-height:30px; border-bottom:1px dashed #eee; padding:0 10px; float:left;}
.bulstrt2 p{ width:530px; height:30px; float:left; overflow:hidden;}
.bulstrt2 span{ width:75px; color:#999; float:right;}
/*企业推广*/
.pmt{ width:886px; height:auto; background:#f7f1f0; border:1px solid #e6e4e4; padding:30px 36px 36px; float:left;}
.pmtit{ width:886px; height:45px; line-height:45px; color:#666; font-size:26px; background:url(../images/line.gif) left bottom repeat-x; float:left;}
.pmtnrlt{ width:485px; height:auto; margin:15px 0 0 0; display:inline; float:left;}
.pmtnrlt p{ width:485px; height:23px; line-height:23px; float:left;}
.pmtnrrt{ width:342px; height:193px; background:#fff url(../images/hycard/tijiao-bg1.gif) bottom right no-repeat; border:solid #999; border-width:1px 0; margin:15px 0 0 0; display:inline; position:relative; padding:5px 10px; float:right;}
.pmtnrrt .lt, .pmtnrrt .rt{ width:1px; height:203px; background:#999; position:absolute; top:0;}
.pmtnrrt .lt{ left:-1px;}
.pmtnrrt .rt{ right:-1px;}
.pmtnrrt strong{ width:329px; height:30px; line-height:30px; color:#403635; font-size:14px; background:url(../images/line.gif) left bottom repeat-x; padding:0 5px; float:left;}
.pmtnrrt p{ width:339px; height:auto; line-height:22px; color:#666; margin:7px 0 0 0; display:inline; float:left;}
.pmt1{ width:886px; height:auto; background:#f7f6f8; border:1px solid #e6e4e4; padding:15px 36px 15px; float:left;}
.pmt1lt{ width:330px; height:auto; float:left;}
.pmt1lt1{ width:330px; height:30px; line-height:30px; font-size:14px; float:left;}
.pmt1lt1 em{ font-size:12px; font-weight:normal; color:#f00;}
.pmt1lt2{ width:330px; height:205px; line-height:25px; float:left;}
.pmt1lt2zi1{ float:left;}
.pmt1lt2zi2{ float:right;}
.pmt1lt4{ width:330px; height:230px; line-height:25px; background:#fff; border:1px solid #ccc; padding:5px; float:left;}
.pmt1rt{ width:520px; height:auto; float:right;}
#pmt1rt1, #pmt1rt3, #pmt1rt5, #pmt1rt7{ width:520px; height:30px; line-height:30px; color:#805952; float:left;}
#pmt1rt1 li, #pmt1rt3 li, #pmt1rt5 li, #pmt1rt7 li{ width:60px; height:26px; line-height:26px; background:#fff; text-align:center; border:1px solid #c7c1c1; border-bottom:0; margin:4px 0 0 4px; display:inline; cursor:pointer; float:left;}
#pmt1rt1 li.current, #pmt1rt3 li.current, #pmt1rt5 li.current, #pmt1rt7 li.current{ color:#92665e; font-weight:bold; background:#fff; text-align:center; border:1px solid #7f9db9; z-index:10; position:relative; border-bottom:0;}
#pmt1rt1 li.usual, #pmt1rt3 li.usual, #pmt1rt5 li.usual, #pmt1rt7 li.usual{ color:#92665e; font-weight:bold; background:#fff; text-align:center; z-index:10; border:1px solid #c7c1c1; border-bottom:0;}
#pmt1rt2, #pmt1rt4, #pmt1rt6, #pmt1rt8{ width:520px; height:auto; float:left;}
#pmt1rt2 .con, #pmt1rt4 .con, #pmt1rt6 .con, #pmt1rt8 .con{ width:520px; height:auto; display:none; float:left;}
.pmt1rt3{ width:113px; height:33px; float:left;}
.pmt1rt3 a{ width:113px; height:33px; background:url(../images/an4.jpg) top no-repeat; float:left;}
.pmt1rt3 a:hover{ width:113px; height:33px; background:url(../images/an4.jpg) bottom no-repeat; float:left;}
/*网站地图*/
.mapt{ width:958px; height:auto; background:url(../images/line-bg2.jpg) repeat-x; border:1px solid #ede6e4; float:left;}
.maptit{ width:269px; height:20px; border:1px solid #fff; padding:4px 10px 0; float:left;}
.maptit em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.maptit strong{ width:auto; height:20px; line-height:20px; font-size:13px; color:#92665e; float:left;}
.mapnr{ width:940px; height:auto; padding:0 10px 10px; float:left;}
.mapnr li{ width:940px; height:auto; margin:15px 0 0 0; display:inline; float:left;}
.mapnr li strong{ width:93px; height:25px; line-height:25px; color:#666; background:url(../images/mapbg.gif) no-repeat; text-align:center; float:left;}
.mapnr li p{ width:840px; height:auto; line-height:25px; color:#999; float:right;}
/*查询提交状态*/
.inq1{ width:740px; height:46px; background:url(../images/inquiry-bg2.gif) repeat-x; position:relative; float:left; overflow:hidden;}
.inq1 .lt, .inq1 .rt{ width:5px; height:46px; background:url(../images/inquiry-bg1.gif) no-repeat; position:absolute; top:0;}
.inq1 .lt{ left:0;}
.inq1 .rt{ background-position:-5px 0; right:0;}
.inq1ce{ width:690px; height:24px; line-height:24px; font-size:13px; font-weight:bold; color:#7c453e; padding:11px 15px; float:left;}
.inq1ce em{ margin-right:3px; float:left;}
.inq2{ width:740px; height:auto; background:url(../images/bg1.gif) repeat-x; float:left;}
.inq2t{ width:710px; height:29px; padding:0 15px; float:left;}
.inq2t1{ width:550px; height:21px; line-height:21px; margin:5px 0 0 0; float:left;}
.inq2t1 em{ margin-right:3px; float:left;}
.inq2t2{ width:auto; height:29px; line-height:29px; float:right;}
.inq2t2 i{ font-style:normal;}
.inq3{ width:710px; height:auto; line-height:26px; padding:2px 15px 0; border-bottom:1px solid #eee; float:left;}
.inq3t1{ width:210px; line-height:26px; margin:0 10px 0 0; display:inline; float:left;}
.inq3t2{ width:120px; line-height:26px; float:left;}
.inq3t3{ width:245px; text-align:center; line-height:26px; float:left;}
.inq3t4{ width:120px; text-align:right; line-height:26px; float:left;}
/*帮助中心*/
.helpcot{ width:960px; height:auto; border-bottom:1px solid #e5e5e5; overflow:hidden; padding:0 0 20px 0; float:left;}
.helplt{ width:199px; height:auto; background:#f7f7f7; border:1px solid #e5e5e5; border-right:0; padding:20px; float:left; margin-bottom:-2000px; padding-bottom:2000px; float:left;}
.helplt strong{ width:199px; height:30px; line-height:30px; font-size:14px; float:left;}
.helpltnr{ width:199px; height:auto; float:left;}
.hpltnrt{ width:189px; height:30px; line-height:30px; color:#91655c; margin:5px 0 0 0; display:inline; cursor:pointer; float:left;}
.hpltnrt em{ width:11px; height:11px; line-height:12px; color:#999; text-align:center; background:#fff; border:1px solid #e5e5e5; margin:8px 8px 0 0; display:inline; float:left;}
.hpltcot{ width:189px; height:auto; margin:3px 0 0 0; display:none; float:left;}
.hpltcot li{ width:169px; height:25px; line-height:25px; color:#666; padding:0 0 0 20px; float:left;}
.helprt{ width:678px; height:auto; background:#fff; border:1px solid #e5e5e5; padding:20px; margin-bottom:-2000px; padding-bottom:2000px; float:left; margin-right:-3px;}
.helprt strong{ width:675px; height:30px; line-height:30px; font-size:14px; float:left;}
.helprtnr{ width:675px; height:auto; line-height:25px; margin:10px 0 0 0; display:inline; float:left;}
/*今日浏览*/
.tvit{ width:960px; height:50px; line-height:50px; font-size:30px; color:#f00; text-align:center; float:left;}
.tview{ width:960px; height:auto; float:left;}
.tview1{ width:310px; height:196px; float:left;}
.tview1 img{ width:310px; height:196px; float:left;}
.tview2{ width:15px; height:196px; float:left;}
/*关于浙商*/
.aboutlt{ width:232px; height:auto; float:left;}
.aboutit{ width:230px; height:103px; float:left;}
.aboutnr{ width:190px; height:auto; border: solid #e5e5e5; border-width:0 1px 1px; padding:10px 20px; float:left;}
.aboutnr li{ width:170px; height:30px; line-height:30px; font-size:14px; font-weight:bold; background:url(../images/icon/arrow.gif) left center no-repeat; padding:0 0 0 20px; float:left;}
.aboutrt{ width:716px; height:auto; float:right;}
.about1{ width:714px; height:1px; background:#e5e5e5; border: solid #fff; border-width:0 1px; float:left;}
.about1t{ width:664px; height:35px; line-height:35px; font-size:14px; border: solid #e5e5e5; border-width:0 1px; padding:10px 25px; float:left;}
.aboutcot{ width:664px; height:auto; line-height:25px; border: solid #e5e5e5; border-width:0 1px; padding:0 25px 20px; float:left;}