@charset "utf-8";
/*bg*/
.bg1{ background:url(../images/line-bg1.jpg) repeat-x;}
/*header*/
.top{ width:100%; height:26px; background:#eee; color:#666; float:left; overflow:hidden;}
.toplt{ width:auto; height:26px; float:left;}
.toplt li{ width:100px; height:26px; line-height:28px; float:left;}
.toplt li img{ width:16px; height:16px; margin:5px 5px 0 0; float:left;}
.toprt{ width:auto; height:26px; line-height:28px; float:right;}
.top2{ width:960px; height:auto; float:left;}
.logo{ width:auto; height:61px; float:left;}
.help{ width:auto; height:40px; line-height:40px; color:#403635; font:30px "Microsoft YaHei", Arial, Tahoma; font-weight:bold; margin:20px 5px 0 0; float:right;}
.help1{ width:auto; line-height:22px; color:#fff; font-size:14px; float:left;}
.help2{ width:53px; height:20px; margin:0 0 0 5px;*margin:1px 0 0 5px; float:left;}
.help2 a{ width:53px; height:20px; background:url(../images/soso3.gif) no-repeat; float:left;}
.help2 a:hover{ width:53px; height:20px; background:url(../images/soso3.gif) 0 -21px no-repeat; float:left;}
.soso{ width:auto; height:20px; background:#eee; padding:4px 5px; margin:25px 0 0 0; float:right;}
.soso1{ width:auto; height:20px; margin:0 3px 0 0;*margin:-1px 3px 0 0; display:inline; float:left;}
.soso2{ width:53px; height:20px; float:left;}
.soso2 a{ width:53px; height:20px; background:url(../images/soso1.gif) no-repeat; float:left;}
.soso2 a:hover{ width:53px; height:20px; background:url(../images/soso1.gif) 0 -21px no-repeat; float:left;}
.navlt, .navrt{ width:3px; height:38px; background:url(../images/bg1.jpg) no-repeat; float:left;}
.navce{ width:924px; height:32px; padding:6px 15px 0; letter-spacing:1px; z-index:0; position:relative; float:left;}
.navce1{ width:auto; height:21px; line-height:21px; color:#fff; padding:0 9px; float:left; display:inline; font-size:14px; font-weight:bold;}
.navce2{ width:auto; height:21px; line-height:21px; padding-left:12px; font-size:14px; font-weight:bold; background:url(../images/nav1.gif) left no-repeat; display:inline; float:left;}
.navce2rt{ padding:0 12px 0 0;  float:left; background:url(../images/nav1.gif) right no-repeat;}
.navce3{ width:auto; height:21px; line-height:21px; padding-left:12px; font-size:14px; font-weight:bold; background:url(../images/nav2.gif) left no-repeat; display:inline; float:left;}
.navce3rt{ padding:0 12px 0 0;  float:left; background:url(../images/nav2.gif) right no-repeat;}
.navline{ width:1px; height:10px; margin:5px 15px 0; background:#d0c6c4; float:left;}
.navcetu{ width:37px; height:22px; float:left; z-index:1; position:relative; margin:-20px 0 0 -385px;*margin:-40px 0 0 -345px;}
.navrt{ background-position:-3px 0;}
/*footer*/
.foot{ width:960px; height:auto; border-top:2px solid #eee; padding:5px 0 0 0; float:left;}
.footnr{ width:960px; height:20px; line-height:20px; text-align:center; float:left;}









