

body{ margin:0px; padding:0px; font-size:12px; background:#fff; font-family:宋体, Arial, Helvetica, sans-serif;}
span,p,ol,ul,li,form,input,ul,li,dt,dl,dd,em,a,h1,h2,h3,h4,h5,h6,i,iframe,center{ margin:0px; padding:0px;}
input,ul,li{list-style-type:none;}
em{ font-style:normal;}
img{ border:0px;}
*html{ overflow-x:hidden;}
html,body{ height:100%;}

body{ scrollbar-darkshadow-color:#808080; scrollbar-face-color:#DDDDDD; scrollbar-highlight-color:#EEEEEE; scrollbar-shadow-color:#DEE3E7; scrollbar-3dlight-color:#D1D7DC; scrollbar-arrow-color:#000000; scrollbar-track-color:#EDEDED;}

/*链接颜色*/
.zt1:link, .zt1:visited{ text-decoration:none; color:#426293;}
.zt1:hover{ color:#E50029; text-decoration:underline;}
.zt2:link, .zt2:visited{ text-decoration:none; color:#000;}
.zt2:hover{ color:#E50029; text-decoration:underline;}




.zi1{ color:#ff0000;}
.zi2{ color:#38506C;}


/*按钮*/
input.an1{ width:auto; height:22px; line-height:22px; padding:0px 2px; text-align:center; letter-spacing:1px; background:url(../images/admin-bg3.png) repeat-x 0px -227px; color:#065081; border:1px solid #9ab3c3; cursor:pointer;}
input.an2{ width:auto; height:20px; line-height:20px; padding:0px 2px; text-align:center; letter-spacing:1px; background:url(../images/admin-bg3.png) repeat-x 0px -227px; color:#065081; border:1px solid #9ab3c3; cursor:pointer;}
input.an3{ width:65px; height:25px; line-height:25px; text-align:center; letter-spacing:1px; background:url(../images/admin-bg.png) no-repeat 0px -229px; color:#fff; border:0px; cursor:pointer;}
input.an4{ width:auto; height:24px; line-height:24px; padding:0px 2px; text-align:center; letter-spacing:1px; background:url(../images/admin-bg3.png) repeat-x 0px -279px; color:#065081; border:1px solid #9ab3c3; cursor:pointer;}


.input1{ height:20px; line-height:20px; border:1px solid #7ea2c0; padding:0px 2px;}
.input2{ height:18px; line-height:18px; border:1px solid #7f9db9; padding:0px 2px;}

.ginput1{ width:90%; border:none; background:none; height:22px; line-height:22px; padding:0px 3px;}
.ginput2{ width:90%; border:1px solid #fff; background:#F0F8FF; height:20px; line-height:20px; padding:0px 3px;}
.ginput3{ width:90%; border:1px solid #eee; background:#fff; height:20px; line-height:20px; padding:0px 3px;}
.ginput4{ width:90%; border:1px solid #3399FF; background:#C0DDFC; height:20px; line-height:20px; padding:0px 3px;}

select{ color:#000000; background-color:#FFFFFF;}

/*Login*/
#LoginBar { position: absolute; left:50%; Top:50%; margin-top: -210px; z-index: 1; margin-left: -220px; width: 600px;  Height: 420px }
	#LoginBar .LoginTop {font-size:0; line-height:15px; height:15px;}
		.FormNav {background:url(../images/login-center.gif) repeat-y left top;}
		.FormNav dl {background:url(../images/key.gif) no-repeat 0 22px; padding:30px 30px 30px 100px;}
		.FormNav dt,.FormNav dd { line-height:35px; height:40px;}
		.FormNav label { padding-right:15px; font-size:14px; color:#666; font-weight:bold;}
		.FormNav dd img { margin-left:20px;margin-bottom:-18px;}

.FormBase,.FormFocus,.FormCode,.formnoborder{ font-family:Arial, Helvetica, sans-serif; background-color: #fff; padding:0.2em 0;border:1px double #ccc;}
	.formnoborder { background:transparent; border:1px solid #FFF;}
	*html .FormBase,*html .FormFocus,*html .FormCode,*html .formnoborder {height:26px; padding:0; line-height:26px;}
	*+html .FormBase,*+html .FormFocus,*+html .FormCode,*+html .formnoborder {height:26px; padding:0; line-height:26px;}
.FormFocus { border: 1px double #3399ff; background-color: #c0ddfc;}
.FormCode {width:80px;}
.FormNav button { width:60px; height:26px; border:0; background:url(../images/button.gif) no-repeat left top; cursor:pointer; margin-left:65px;}
#copyright { position: absolute; left:44%; bottom:50%; text-align:center; height:100px; margin-left: -220px; margin-bottom: -180px;}
.nofocus { border:1px solid #CCC; background:#EEE; color:#545454; padding:0.4em 0;}
    *html .nofocus {height:26px; padding:0; line-height:26px;}
    *+html .nofocus {height:26px; padding:0; line-height:26px;}
/*Login*/

label{border:0px; position:relative; top:-3px; font-size: 12px; padding:0 6px; }
textarea,.subject { border:1px solid #c0c0c0; background-color: #FFF;font-size: 12px; color: #000;}
