<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=YEYONG,1433\SQLSERVER2008;User ID=sa;Password=123;Initial Catalog=ntw;Pooling=true</Dbconnectstring>
  <Tableprefix>sas_</Tableprefix>
  <Sitepath>/</Sitepath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>0cb7fdf8-2f1c-407e-b851-d6dbf6776c10</Founderuid>
</BaseConfigInfo>