<%template _comheader%>
<div class="cot">
<p class="bd_site mar_top">
	您当前的位置：<a href="{forumurl}index.html" title="商之源">商之源</a> &gt; <font class="f_c00">查询提交状态</font>
	<i class="lt"></i><i class="rt"></i>
</p>
<!--左边 begin-->
</div>
<div class="cot">
	<div class="ltnr">
	    <b class="inq1 mar_top">请输入企业名称查询企业提交状态：</b>
		<form name="checkform" class="inq1">
			<span><input name="inqyname" type="text" class="input4" style="width:372px" /></span>
			<span class="an"><a title="查询" onclick="checkform.submit();"></a></span>
		</form>
	<%if {getParm}.Length>0%>
	<div class="inq mar_top2">
		<p class="intit">
			<span class="olbg2">
				查询到与 "<font class="f_c00">{getParm}</font>" 相关的数据 共 <font class="f_c00">{companycount}</font> 条
			</span>
		</p>
		<ul class="inqnr">
			<li>
				<b class="w1">企业名称</b>
				<b class="w2">审核状态(原因)</b>
				<b class="w3">便捷操作</b>
			</li>
		    <%loop (Companys) incompanyinfo companylist%>
	        <li>
				<span class="w1">{incompanyinfo.en_name}</span>
				<span class="w2">
				    <%if {incompanyinfo.en_status}==0%>
				    <font class="f_c00">审核未通过</font>({incompanyinfo.en_reason})
				    <%else if {incompanyinfo.en_status}==1%>
				    <font class="c2">服务审核中</font>
				    <%else if {incompanyinfo.en_status}==2%>
				    <font class="c1">审核已通过</font>
				    <%/if%>
				</span>
				<span class="w3">
			    <%if {incompanyinfo.en_status}==0%>
			        <%if {incompanyinfo.en_visble}==0%>
			        <a title="完整{incompanyinfo.en_name}注册信息" class="l_c00" href="companypostreg.aspx?companyid={incompanyinfo.en_id}">完整注册信息</a>
			        <%else if {incompanyinfo.en_visble}==1%>
			        <font class="c2">很抱歉该公司信息未通过审核，请联系客服修正相关内容</font>
			        <%/if%>
			    <%else if {incompanyinfo.en_status}==1%>
			        <font class="c2">请耐心等待，或联系客服查看审核进度</font>
			    <%else if {incompanyinfo.en_status}==2%>
			        <a title="推广{incompanyinfo.en_name}" class="l_c00" href="promotion-{incompanyinfo.en_id}.html">立即推广</a>
			    <%/if%>
				</span>
	        </li>
		    <%/loop%>
		</ul>
		<p class="page mar_top">
			{pagenumbers}
		</p>
	</div>
	<%/if%>
</div>
<!--左边 end-->
<!--右边 begin-->
<div class="rtnr">
	<div class="ozs ozw1 mar_top" id="ozs">
		<strong class="olbg">企业排行</strong>
		<ul class="olbg" id="lttit">
			<li>信誉度</li>
			<li>点击率</li>
			<li>评  论</li>
		</ul>
		<div id="ozsnr">
			<div class="con">
				<ul class="rankc">
			    <%loop (Companys) creditcompanyinfo creditcompanylist%>
			        <li><em>{creditcompanyinfo__loop__id}</em><p><a title="{creditcompanyinfo.en_name}" href="company-{creditcompanyinfo.en_id}.html" target="_blank">{creditcompanyinfo.en_name}</a></p><span><font class="f_c00">{creditcompanyinfo.en_credits}</font></span></li>
			    <%/loop%>
				</ul>
			</div>
			<div class="con">
				<ul class="rankc">
				<%loop (Companys) clickcompanyinfo companyaccesseslist%>
			        <li><em>{clickcompanyinfo__loop__id}</em><p><a title="{clickcompanyinfo.en_name}" href="company-{clickcompanyinfo.en_id}.html" target="_blank">{clickcompanyinfo.en_name}</a></p><span><font class="f_c00">{clickcompanyinfo.en_accesses}</font></span></li>
			    <%/loop%>
				</ul>
			</div>
			<div class="con">
				<ul class="rankc">
				<%loop (Companys) commentcompanyinfo commentcompanylist%>
		            <li><em>{commentcompanyinfo__loop__id}</em><p><a title="{commentcompanyinfo.en_name}" href="company-{commentcompanyinfo.en_id}.html" target="_blank">{commentcompanyinfo.en_name}</a></p><span><font class="f_c00">{commentcompanyinfo.en_sell}</font></span></li>
		        <%/loop%>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--右边 end-->
</div>
<%template _comcopyright%>
<%template _comfooter%>