
<!--内容结束-->

<!--底部开始-->
<div class="ftnr">
	<div class="ft">
	<div class="ftcot">
		<p class="ft1"><a href="index.shtml" class="zt2">网站首页</a>　<a href="team.shtml" class="zt2">团队首页</a>　<a href="personal.shtml" class="zt2">个人首页</a>　<a href="activities.shtml" class="zt2">团队活动</a>　<a href="results.shtml" class="zt2">成果展示</a>　<a href="contact.shtml" class="zt2">联系方式</a></p>
	</div>
	<p class="ft2 line"></p>
	<div class="ftcot">
		<p class="ft3">Powered by <strong><a href="http://www.sirius.org.cn" target="_blank" title="{forumproductname}">Sirius Studio 2009.</a></strong>{forumversion}</p>
	</div>
	</div>
</div>
<!--底部结束-->
</div>

</body>

</html>