<!--内容结束-->

<!--底部开始-->
<div class="ftnr">
	<div class="ft">
	<div class="ftcot">
		<p class="ft1"><a href="studioindex.aspx" class="zt2">网站首页</a>　<a href="team.shtml" class="zt2">团队首页</a>　<a href="personindex.aspx" class="zt2">个人首页</a>　<a href="activities.shtml" class="zt2">团队活动</a>　<a href="results.shtml" class="zt2">成果展示</a>　<a href="contact.shtml" class="zt2">联系方式</a></p>
	</div>
	<p class="ft2 line"></p>
	<div class="ftcot">
		<p class="ft3">Powered by <strong><a href="http://www.sirius.org.cn" target="_blank" title="{forumproductname}" class="zt5">Sirius Studio</a></strong>2009&nbsp;<em style="font-weight:700;">version{forumversion}</em>.</p>
		<p class="ft3">Copyright©2009-2010  <strong><a href="http://www.sirius.org.cn" target="_blank" title="{forumproductname}" class="zt5">天狼星工作室</a></strong>  版权所有</p>
	</div>
	</div>
</div>
<!--底部结束-->
</div>

</body>

</html>