<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=YEYONG,1433\SQLSERVER2008;User ID=sa;Password=123;Initial Catalog=ntw;Pooling=true</Dbconnectstring>
  <NTWCMSDbconnectstring>Data Source=YEYONG,1433\SQLSERVER2008;User ID=sa;Password=123;Initial Catalog=NetCMS;Pooling=true</NTWCMSDbconnectstring>
  <PlatformDbConnectstring>Data Source=10.0.0.253; User ID=test; Password=123_qwe@wm!; Initial Catalog=old_websen;Pooling=true</PlatformDbConnectstring>
  <Tableprefix>sas_</Tableprefix>
  <Sitepath>/</Sitepath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
</BaseConfigInfo>