<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=.;User ID=sa;Password=123;Initial Catalog=ntw;Pooling=true</Dbconnectstring>
  <Tableprefix>sas_</Tableprefix>
  <Sitepath>/</Sitepath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
</BaseConfigInfo>