<%template _compageheader%>
<body onkeydown="if(event.keyCode==27) return false;">
<div class="top">
	<div class="cot">
		<ul class="toplt">
			<li><a title="设为首页" href="#" class="l_666"><img alt="设为首页" src="templates/{templatepath}/images/icon/home.gif" />设为首页</a></li>
			<li><a title="收藏本站" href="#" class="l_666"><img alt="收藏本站" src="templates/{templatepath}/images/icon/favorites.gif" />收藏本站</a></li>
		</ul>
		<p class="toprt">
		<a title="广告服务" href="#" class="l_666">广告服务</a> | <a title="帮助中心" href="#" class="l_666">帮助中心</a> | <a title="提交企业信息" href="{forumurl}companypost.aspx" class="l_e00101">提交企业信息</a>
		</p>
	</div>
</div>
<div class="cot">
	<div class="top2">
		<p class="logo"><a title="浙江黄页" href="#"><img alt="浙江黄页" src="templates/{templatepath}/images/logo.gif" /></a></p>
		<div class="topban">
			
		</div>
	</div>
	<div class="top3">
		<p class="navlt"></p>
		<ul class="navce bg1">
			{mainnavigation}
			<li class="navce3"><p class="navce3rt"><a title="淘之购" href="#" class="l_805952">淘之购</a></p></li>
			<span class="navcetu"></span>
		</ul>
		<p class="navrt"></p>
	</div>
</div>
<%template _comsearch%>
<%else%>
<%csharp%>
Response.Clear();
Response.ContentType = "Text/XML";
Response.Expires = 0;
Response.Cache.SetNoStore();
<%/csharp%>
<?xml version="1.0" encoding="utf-8"?><root><![CDATA[
<%/if%>