<%template _compostheader%>

		<div class="tijiao">
			<p class="tijiao1"></p>
			<form name="form1" id="form1" method="post" class="tijiao2">
			<%if {page_err}==0%>
                <%if {msgbox_text}!=""&&{ispost}%>
                    <%template _commsgbox%>
                <%else%>
				<div class="tijiao2nr">
					<p class="tjp1">用户协议</p>
				</div>
				<b class="tijiao2nr1 tj2nrbg">阅读用户协议</b>
				<table border="0" cellspacing="0" cellpadding="0" class="tdtj mar_top_8">
				  <tr>
					<td width="18%" class="tdtj1">用户协议：<span class="f_e00101">*</span></td>
					<td class="tdtj2">
					<span class="f_b5b5b5">请仔细阅读浙商黄页网站用户协议，“同意”则继续提交企业信息。</span>
					<textarea class="input2_soout" style="width:500px; height:390px;" onfocus="this.className='input2_soon'" onblur="this.className='input2_soout'">
    提醒：贵司资料上网后会受到客户及工商质检部门等多方关注，请如实填写！因此虚假信息产生的相关责任，由贵司自行承担！

《提交企业信息时的协议声明》
    欢迎阅读浙商黄页服务条款协议(下称“本协议”)。本协议阐述之条款和条件适用于您使用www.zheshangonline.com网站所提供的在全球企业间(B-TO-B)电子市场(e-market)中进行贸易和交流的各种工具和服务(下称“服务”)。 
 
1. 接受条款。 
    以任何方式进入www.zheshangonline.com网站即表示您同意自己已经与浙商黄页订立本协议，且您将受本协议的条款和条件(“条款”) 约束。浙商黄页可随时自行全权决定更改“条款”。如“条款”有任何变更，浙商黄页将在其网站上刊载公告，通知予您。如您不同意相关变更，必须停止使用“服务”。经修订的“条款”一经在浙商黄页网站的公布后，立即自动生效。您应在第一次登录后仔细阅读修订后的“条款”，并有权选择停止继续使用“服务”；一旦您继续使用“服务”，则表示您已接受经修订的“条款”，当您与浙商黄页发生争议时，应以最新的服务协议为准。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。除非经浙商黄页的授权高层管理人员签订书面协议，本协议不得另行作出修订。 

2.谁可使用www.zheshangonline.com网站？ 
    “服务”仅供能够根据相关法律规定的有完全民事行为能力的人（自然人或公司）。浙商黄页可随时自行全权决定拒绝向任何人士提供“服务”。 
 
3. 收费。 
    本公司保留在根据第1条通知您后，收取“服务”费用的权利。您因进行交易、向本公司获取有偿服务或接触本公司服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。本公司保留在无须发出书面通知，仅在浙商黄页网站公示的情况下，暂时或永久地更改或停止部分或全部“服务”的权利。
 
4.浙商黄页网站仅作为交易地点。 
    本公司网站仅作为用户物色交易对象，就货物和服务的交易进行协商，以及获取各类与贸易相关的服务的地点。但是，本公司不能控制交易所涉及的物品的质量、安全或合法性，商贸信息的真实性或准确性，以及交易方履行其在贸易协议项下的各项义务的能力。本公司不能也不会控制交易各方能否履行协议义务。此外，您应注意到，与外国国民、未成年人或以欺诈手段行事的人进行交易的风险是客观存在的。 
 
5.您的资料和供买卖的物品。 
    “您的资料”包括您在注册、交易或列举物品过程中、在任何公开信息场合或通过任何电子邮件形式，向本公司或其他用户提供的任何资料，包括数据、文本、软件、音乐、声响、照片、图画、影像、词句或其他材料。您应对“您的资料”负全部责任，而本公司仅作为您在网上发布和刊登“您的资料”的被动渠道。但是，倘若本公司认为“您的资料”可能使本公司承担任何法律或道义上的责任，或可能使本公司 (全部或部分地) 失去本公司的互联网服务供应商或其他供应商的服务，或您未在浙商黄页规定的期限内登录或再次登录网站，则本公司可自行全权决定对“您的资料”采取本公司认为必要或适当的任何行动，包括但不限于删除该类资料。您特此保证，您对提交给浙商黄页的“您的资料”拥有全部权利，包括全部版权。您确认，浙商黄页没有责任去认定或决定您提交给本公司的资料哪些是应当受到保护的，对享有“服务”的其他用户使用“您的资料”，本公司也不必负责。 

5.1 关于您的资料的规则。 
    您同意，“您的资料”和您供在浙商黄页网站上交易的任何“物品”（泛指一切可供依法交易的、有形的或无形的、以各种形态存在的某种具体的物品，或某种权利或利益，或某种票据或证券，或某种服务或行为。本协议中“物品”一词均含此义） 
a. 不会有欺诈成份，与售卖伪造或盗窃无涉； 
b. 不会侵犯任何第三者对该物品享有的物权，或版权、专利、商标、商业秘密或其他知识产权，或隐私权、名誉权； 
c. 不会违反任何法律、法规、条例或规章 (包括但不限于关于规范出口管理、贸易配额、保护消费者、不正当竞争或虚假广告的法律、法规、条例或规章)； 
d. 不会含有诽谤（包括商业诽谤）、非法恐吓或非法骚扰的内容； 
e. 不会含有淫秽、或包含任何儿童色情内容； 
f. 不会含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序； 
g. 不会直接或间接与下述各项货物或服务连接，或包含对下述各项货物或服务的描述：(i) 本协议项下禁止的货物或服务；或 (ii) 您无权连接或包含的货物或服务。此外，您同意不会：(h) 在与任何连锁信件、大量胡乱邮寄的电子邮件、滥发电子邮件或任何复制或多余的信息有关的方面使用“服务”；(i) 未经其他人士同意，利用“服务”收集其他人士的电子邮件地址及其他资料；或 (j) 利用“服务”制作虚假的电子邮件地址，或以其他形式试图在发送人的身份或信息的来源方面误导其他人士。 
 
5.2 被禁止物品。 
    您不得在本公司网站公布或通过本公司网站买卖：(a) 可能使本公司违反任何相关法律、法规、条例或规章的任何物品；或 (b) 浙商黄页认为应禁止或不适合通过本网站买卖的任何物品。
 
6. 您授予本公司的许可使用权。 
    您授予本公司独家的、全球通用的、永久的、免费的许可使用权利 (并有权在多个层面对该权利进行再授权)，使本公司有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示"您的资料"或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将"您的资料"纳入其他作品内。 
 
7.隐私。 
    尽管有第6条所规定的许可使用权，浙商黄页将仅根据本公司的隐私声明使用“您的资料”。本公司隐私声明的全部条款属于本协议的一部份，因此，您必须仔细阅读。请注意，您一旦自愿地在浙商黄页交易地点披露“您的资料”，该等资料即可能被其他人士获取和使用。 
 
8.交易程序。 
 
8.1 添加产品描述条目。产品描述是由您提供的在浙商黄页网站上展示的文字描述、图画和/或照片，可以是(a) 对您拥有而您希望出售的产品的描述；或 (b) 对您正寻找的产品的描述。您可在浙商黄页网站发布任一类产品描述，或两种类型同时发布，条件是，您必须将该等产品描述归入正确的类目内。浙商黄页不对产品描述的准确性或内容负责。 
 
8.2 就交易进行协商。 
    交易各方通过在浙商黄页网站上明确描述报盘和回盘，进行相互协商。所有各方接纳报盘或回盘将使所涉及的浙商黄页用户有义务完成交易。除非在特殊情况下，诸如用户在您提出报盘后实质性地更改对物品的描述或澄清任何文字输入错误，或您未能证实交易所涉及的用户的身份等，报盘和承诺均不得撤回。 
 
8.3 处理交易争议。 
(i)浙商黄页不涉及用户间因交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。倘若您与一名或一名以上用户，或与您通过本公司网站获取其服务的第三者服务供应商发生争议，您免除浙商黄页 (及本公司代理人和雇员) 在因该等争议而引起的，或在任何方面与该等争议有关的不同种类和性质的任何(实际和后果性的) 权利主张、要求和损害赔偿等方面的责任。
(ii)浙商黄页有权受理并调处您与其他用户因交易产生的争议，同时有权单方面独立判断其他用户对您的投诉及(或)索偿是否成立，若浙商黄页判断索偿成立，则您应及时使用自有资金进行偿付，否则浙商黄页有权使用您交纳的保证金（如有）或扣减已购浙商黄页及其关联公司的产品或服务中未履行部分的费用的相应金额或您在浙商黄页网站所有账户下的其他资金(或权益)等进行相应偿付。浙商黄页没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿浙商黄页的全部损失，否则浙商黄页有权通过前述方式抵减相应资金或权益，如仍无法弥补浙商黄页损失，则浙商黄页保留继续追偿的权利。因浙商黄页非司法机构，您完全理解并承认，浙商黄页对证据的鉴别能力及对纠纷的处理能力有限，受理贸易争议完全是基于您之委托，不保证争议处理结果符合您的期望，亦不对争议处理结果承担任何责任。
(iii) 浙商黄页有权通过电子邮件等联系方式向您了解情况，并将所了解的情况通过电子邮件等方式通知对方，您有义务配合浙商黄页的工作，否则浙商黄页有权做出对您不利的处理结果。
(ⅳ)经生效法律文书确认用户存在违法或违反本协议行为或者浙商黄页自行判断用户涉嫌存在违法或违反本协议行为的，浙商黄页有权在浙商黄页中文网站上以网络发布形式公布用户的违法行为并做出处罚（包括但不限于限权、终止服务等）。
 
8.4 运用常识。 
    本公司不能亦不试图对其他用户通过“服务”提供的资料进行控制。就其本质而言，其他用户的资料，可能是令人反感的、有害的或不准确的，且在某些情况下可能带有错误的标识说明或以欺诈方式加上标识说明。本公司希望您在使用本公司网站时，小心谨慎并运用常识。 
 
9.交易系统。 
 
9.1 不得操纵交易。 
    您同意不利用帮助实现蒙蔽或欺骗意图的同伙(下属的客户或第三方)，操纵与另一交易方所进行的商业谈判的结果。 
 
9.2 系统完整性。 
    您同意，您不得使用任何装置、软件或例行程序干预或试图干预浙商黄页网站的正常运作或正在本公司网站上进行的任何交易。您不得采取对任何将不合理或不合比例的庞大负载加诸本公司网络结构的行动。

9.3 反馈。 
    您不得采取任何可能损害信息反馈系统的完整性的行动，诸如：利用第二会员身份标识或第三者为您本身留下正面反馈；利用第二会员身份标识或第三者为其他用户留下负面反馈 (反馈数据轰炸)；或在用户未能履行交易范围以外的某些行动时，留下负面的反馈 (反馈恶意强加)。 
 
9.4 不作商业性利用。 
    您同意，您不得对任何资料作商业性利用，包括但不限于在未经浙商黄页授权高层管理人员事先书面批准的情况下，复制在浙商黄页网站上展示的任何资料并用于商业用途。  

9.5 依法经营。 
    您同意，您确保依法经营，不得利用浙商黄页提供的在线交易服务从事违法犯罪活动（包括但不限于偷逃税等）。 
 
10. 违反规则会有什么后果？ 
    在不限制其他补救措施的前提下，发生下述任一情况，本公司可立即发出警告，暂时中止、永久中止或终止您的会员资格，删除您的任何现有产品信息，以及您在网站上展示的任何其他资料：(i) 您违反本协议；(ii) 本公司无法核实或鉴定您向本公司提供的任何资料；或 (iii) 本公司相信您的行为可能会使您、本公司用户或通过本公司或本公司网站提供服务的第三者服务供应商发生任何法律责任。在不限制任何其他补救措施的前提下，倘若发现您从事涉及本公司网站的诈骗活动，浙商黄页可暂停或终止您的帐户。
 
11. 服务“按现状”提供。 
    本公司会尽一切努力使您在使用浙商黄页网站的过程中得到乐趣。遗憾的是，本公司不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致数据损失或其他服务中断。为此，您明确理解和同意，您使用“服务”的风险由您自行承担。“服务”以“按现状”和“按可得到”的基础提供。浙商黄页明确声明不作出任何种类的所有明示或暗示的保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为等方面的保证。浙商黄页对下述内容不作保证：(i)“服务”会符合您的要求；(ii)“服务”不会中断，且适时、安全和不带任何错误；(iii) 通过使用“服务”而可能获取的结果将是准确或可信赖的；及 (iv) 您通过“服务”而购买或获取的任何产品、服务、资料或其他材料的质量将符合您的预期。通过使用“服务”而下载或以其他形式获取任何材料是由您自行全权决定进行的，且与此有关的风险由您自行承担，对于因您下载任何该等材料而发生的您的电脑系统的任何损毁或任何数据损失，您将自行承担责任。您从浙商黄页或通过或从“服务”获取的任何口头或书面意见或资料，均不产生未在本协议内明确载明的任何保证。 
 
12. 责任范围。 
    您明确理解和同意，浙商黄页不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论浙商黄页是否已被告知该等损害赔偿的可能性)：(i) 使用或未能使用“服务”；(ii) 因通过或从“服务”购买或获取任何货物、样品、数据、资料或服务，或通过或从“服务”接收任何信息或缔结任何交易所产生的获取替代货物和服务的费用；(iii) 未经批准接入或更改您的传输资料或数据；(iv) 任何第三者对“服务”的声明或关于“服务”的行为；或 (v) 因任何原因而引起的与“服务”有关的任何其他事宜，包括疏忽。 
 
13. 赔偿。 
    您同意，因您违反本协议或经在此提及而纳入本协议的其他文件，或因您违反了法律或侵害了第三方的权利，而使第三方对浙商黄页及其子公司、分公司、董事、职员、代理人提出索赔要求（包括司法费用和其他专业人士的费用），您必须赔偿给浙商黄页及其子公司、分公司、董事、职员、代理人，使其等免遭损失。 
 
14. 遵守法律。 
    您应遵守与您使用“服务”，以及与您竞买、购买和销售任何物品以及提供商贸信息有关的所有相关的法律、法规、条例和规章。 
 
15. 无代理关系。 
    您与浙商黄页仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇用与被雇用或特许权授予与被授予关系。 
 
16. 广告和金融服务。 
    您与在“服务”上或通过“服务”物色的刊登广告人士通讯或进行业务往来或参与其推广活动，包括就相关货物或服务付款和交付相关货物或服务，以及与该等业务往来相关的任何其他条款、条件、保证或声明，仅限于在您和该刊登广告人士之间发生。您同意，对于因任何该等业务往来或因在“服务”上出现该等刊登广告人士而发生的任何种类的任何损失或损毁，浙商黄页无需负责或承担任何责任。您如打算通过“服务”创设或参与与任何公司、股票行情、投资或证券有关的任何服务，或通过“服务”收取或要求与任何公司、股票行情、投资或证券有关的任何新闻信息、警戒性信息或其他资料，敬请注意，浙商黄页不会就通过“服务”传送的任何该等资料的准确性、有用性或可用性、可获利性负责或承担任何责任，且不会对根据该等资料而作出的任何交易或投资决策负责或承担任何责任。 
 
17. 链接。 
    “服务”或第三者均可提供与其他万维网网站或资源的链接。由于浙商黄页并不控制该等网站和资源，您承认并同意，浙商黄页并不对该等外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等负责或承担任何责任。您进一步承认和同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，浙商黄页均不承担责任。 
 
18. 通知。 
    除非另有明确规定，任何通知应以电子邮件形式发送，(就浙商黄页而言) 电子邮件地址为 aaa@126.com，或 (就您而言) 发送到您在登记过程中向浙商黄页提供的电子邮件地址，或有关方指明的该等其他地址。在电子邮件发出二十四 (24) 小时后，通知应被视为已送达，除非发送人被告知相关电子邮件地址已作废。或者，本公司可通过邮资预付挂号邮件并要求回执的方式，将通知发到您在登记过程中向浙商黄页提供的地址。在该情况下，在付邮当日三 (3) 天后通知被视为已送达。 
 
19. 不可抗力。 
    对于因本公司合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使本公司延迟或未能履约的，浙商黄页不对您承担任何责任。 
 
20. 转让。 
    浙商黄页转让本协议无需经您同意。 
 
21. 其他规定。 
    本协议取代您和浙商黄页先前就相同事项订立的任何书面或口头协议。本协议各方面应受中华人民共和国大陆地区法律的管辖。倘若本协议任何规定被裁定为无效或不可强制执行，该项规定应被撤销，而其余规定应予执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。本公司未就您或其他人士的某项违约行为采取行动，并不表明本公司撤回就任何继后或类似的违约事件采取行动的权利。 

22. 诉讼。 
    因本协议或本公司服务所引起或与其有关的任何争议应向浙江省杭州市西湖区人民法院提起诉讼，并以中华人民共和国法律为管辖法律。

《浙商黄页禁止及限制发布的产品》
    禁止发布的产品：包含违反国家相关法律法规的产品、不适合在网络平台发布的产品等，故不允许发布；
    限制发布的产品：国家相关法律法规针对某些特定产品有其严格的资质要求，客户发布此类产品必须上传相关的有效证明。
    浙商黄页用户在发布产品信息前，应当仔细阅读本《禁止&限制发布的供求信息产品规则》，并予以遵守。由于发布下列产品信息所引起的法律责任由相关用户完全承担，与浙商黄页无关。一旦浙商黄页发现有任何违反本规则的产品信息，浙商黄页有权立即予以删除，并保留警告、暂停服务，直至终止服务的权力，请各用户自觉遵守。

★	禁止发布供求信息的产品：
1、毒品（含毒品原料）、剧毒化学品、兴奋剂，暨根据国家颁布的相关法律条例进行控制，如海洛因、迷幻药等；
2、任何形式的枪支（包括枪支配件）、弹药及仿真枪等，如枪械、枪械仿制品、子（炮）弹、枪支瞄准器、消音器、麻醉注射枪、射击枪等；
3、易燃、易爆物品、有毒、有腐蚀性的化学物品，如火药、炸药、雷管等；
4、黄色淫秽物品、性服务，如成人影碟、色情写真、情色小说等任何形式的淫秽书籍、出版物等； 
5、含有反动、种族或者宗教歧视或其他法律所禁止的出版物、文件、资料等；
6、任何形式的由国家相关部门颁发的证件及政府文件，如身份证、档案、各类许可证、介绍信、学历证书、涉及国家秘密的资料或者文件等；
7、伪造、变造的物品，如伪造的证件、票据、钱币、执照和许可证等；
8、人体器官、遗体；
9、警用器械，如警棍、手铐、脚铐、警服、警帽、警笛、警徽等警用器材；
10、窃听、窃照等专用间谍器材，如针孔摄像机、隐形摄像机、眼镜摄像机、口香糖摄像机、钢笔摄像机、领带摄像机、隐形耳机等；
11、管制刀具，如匕首、弹簧刀；
12、其他武器，如具有较大杀伤力的弓弩、吹箭、弓箭等；
13、赌具，如吃角子老虎机、老虎机上分器、透视麻将、透视扑克、红光扑克、摇控骰子等；
14、走私、翻新或造假的数码类产品，如水(黑)货、港行、欧版、三码机、五码机等；
15、任何侵犯他人知识产权的商品信息，如假冒商品信息，侵犯他人版权或者专利权的产品，非法复制品（如盗版、翻录、备份、盗录等）、软件程序、电视游戏、音乐集、电影、电视节目或照片；
16、特殊药品及原料药（治疗性功能障碍，肿瘤，糖尿病，艾滋病，癫痫，红斑狼疮，性病，乙肝，白癜风药品，戒毒药品，抗生素成品，麻醉药品，精神药品，药疗用毒性药品，放射性药品和医疗机构制剂等）；
17、论文代写、枪手代考类服务；
18、原油、地沟油、部分用途的地沟油提取设备及提取技术；
19、野生动物、世界\国家保护类动物、濒危动物活体、内脏、任何肢体、皮毛、标本及其制品，特别是象牙及玳瑁制品； 
20、国家或地方法律法规中明文规定重点保护的珍稀植物及其制品，如野生红豆杉； 
21、任何形式的需通过正规途径申领的票据，如发票、核销单等； 
22、股票、公司债券及其他证券，不具有效形和流通性的为收藏目的转让的情况除外； 
23、彩票，不具有效形和流通性的为收藏目的转让的情况除外； 
24、非法所得之物，如走私、盗窃或抢劫所得物品； 
25、短信群发类硬件设备、短信群发类工具，如短信猫、CDMA MODEM、GPRS MODEM等；
26、 其他可能危害他人安全、利益或者用于违法目的的物品，如撬锁设备（万能钥匙）、解密软件、导弹发射程序、汽车反雷达测速仪、车用电子狗、 GPS预警器、银行卡复制设备、汽车防盗系统解码器软件、翻转车牌架、遥控信号拦截器、加油机干扰器、汽车跑表器等； 
27、涉及任何形式的泄露个人隐私或者公司商业机密，如QQ聊天记录查询、公司商业资料等；
28、地面卫星电视、卫星广播类接收器材，如广播发射台、碟型卫星天线、卫视器材等； 
29、烟草、烟草制品，如烟叶、香烟等。 
30、流通人民币，任何人不得出售或购买正在流通的人民币； 
31、《中华人民共和国文物保护法》第五十一条规定不得买卖的文物，如馆藏文物，出土文物，国家保护级文物；
32、Email 地址列表、网址列表、在中国互联网信息中心（ CNNIC ）注册的域名； 
33、无注册号的磁带或光盘，共享软件； Beta 级或未公布的软件；未同设备捆绑出售的 OEM 软件； 
34、国家法律规定适用许可证管理规定而不能提供相关许可证的产品； 
35、国家法律、法规目前没有批准的特殊服务行业，如私家侦探、债务追收、涉外婚介等； 
36、医疗卫生服务信息，如医疗、预防、保健、康复、健康教育、心理健康咨询等；
37、部分保健食品，如带有减肥、丰胸、壮阳功能的食品；
38、网络游戏虚拟类商品，如网游帐号、游戏装备、游戏外挂、网络私服等；
39、手机卡复制器类产品，如一卡多号、一卡多号复制器、手机魔卡等；
40、被国家相关监管部门通告并曝光的属于质量不合格类的产品，如假药、问题奶粉等；
41、根据法律、法规禁止销售或本网站认为违反公共良俗而不应贩售的物品。
★ 限制发布供应信息的产品
1、药品，许可经营（需提供：药准字号）； 
2、医疗器械，许可经营（需提供：药械准字号）； 
3、部分物理治疗设备，许可经营（需同时提供：《医疗器械注册证》、药械准字号）；
4、隐形眼镜及护理液，许可经营（需同时提供：《医疗器械注册证》、《医疗器械经营许可证》、药械准字号）；
5、文物，仅可按《中华人民共和国文物保护法》第 50 条规定进行民间收藏文物的买卖（需提供：《相关批准文件》）； 
6、海关罚没类物资，许可经营（需提供：《相关批准文件》）；
7、烟花爆竹，许可经营（需提供：《烟花爆竹安全生产许可证》或《烟花爆竹销售许可证》）；
8、音像制品，许可经营（需同时提供：《音像制品经营许可证》、音像制品对应编码）；
9、开锁工具、开锁服务，许可经营（需提供：带有此产品或此服务经营范围的《营业执照》或《相关许可证明》）；
10、奥运福娃、2008奥运相关标志，使用奥林匹克标志加工的产品，许可经营（需提供：奥组委颁发的《生产许可证》或《许可经营证》）；
11、涉及第三方知识产权的物品，如国际知名品牌服装鞋帽、箱包、饰品、化妆品等；许可经营（需提供：《品牌授权证》）；
12、二手轿车，许可经营（需提供：带有"旧机动车"经营范围的《营业执照》或《二手车所有权证》）；
13、世博会相关产品，许可经营（需提供：世博会标志管理办公室颁发的《授权许可证》）
14、根据其他法律、法规禁止销售或本网站认为违背公序良俗应限制销售的其他商品。 
★ 其它经本网站认定为不应发布的产品。
					</textarea>
					</td>
				  </tr>
				</table>
				<p class="tijiao2nr1">
				<input type="hidden" name="submitstatus" />
				<input name="agree" type="submit" class="tijiaoan2" value="同意" onclick="this.form.submitstatus.value=1"/>
				<input name="disagree" type="submit" class="tijiaoan1" value="不同意" onclick="this.form.submitstatus.value=0"/>
				</p>
				<%/if%>
			<%else%>
			    <%template _commsgbox%>
			<%/if%>
			</form>
			<p class="tijiao3"></p>
		</div>
<%template _companypostfooter%>