<%template _comheader%>
<div class="cot">
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a title="商之源" href="{forumurl}index.html">商之源</a> &gt; 网站地图</span>
	</p>
	<div class="mapt mar_top_8">
		<p class="maptit">
			<em></em><strong>浙商黄页服务项</strong>
		</p>
	</div>
	<ul class="mapnr">
		<li>
			<strong>网站导航</strong>
			<p>
			<%loop (DataRow) mapnavinfo1 mapnavlist1%>
			<%if {mapnavinfo1__loop__id}>1%> | <%/if%><a title="{mapnavinfo1[title]}" class="l_2d0b00_u" href="{mapnavinfo1[url]}">{mapnavinfo1[name]}</a>
			<%/loop%>			
			</p>
		</li>
		<li>
			<strong>企业类别</strong>
			<p>
			<%loop (DataRow) mapcataloginfo mapcataloglist%>
			<%if {mapcataloginfo__loop__id}>1%> | <%/if%><a title="{mapcataloginfo[name]}" class="l_2d0b00_u" href="zshy-{mapcataloginfo[id]}.html">{mapcataloginfo[name]}</a>
			<%/loop%>
			</p>
		</li>
	</ul>
	<div class="mapt mar_top_8">
		<p class="maptit">
			<em></em><strong>淘之购服务项</strong>
		</p>
	</div>
	<ul class="mapnr">
		<li>
			<strong>网站导航</strong>
			<p>
			<%loop (DataRow) mapnavinfo2 mapnavlist2%>
			<%if {mapnavinfo2__loop__id}>1%> | <%/if%><a title="{mapnavinfo2[title]}" class="l_2d0b00_u" href="{mapnavinfo2[url]}">{mapnavinfo2[name]}</a>
			<%/loop%>			
			</p>
		</li>
		<li>
			<strong>商品分类</strong>
			<p><a title="" class="l_2d0b00_u" href="#">女装、女士精品</a> | <a title="" class="l_2d0b00_u" href="#">女士内衣、男士内衣、家居服</a> | <a title="" class="l_2d0b00_u" href="#">配件、皮带、围巾、领带、帽子手套</a> | <a title="" class="l_2d0b00_u" href="#">饰品、流行首饰、时尚饰品</a> | <a title="" class="l_2d0b00_u" href="#">品牌手表、流行手表</a></p>
		</li>
	</ul>
</div>
<%template _comcopyright%>
<%template _comfooter%>