<%template _comheader%>
<div class="cot">
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a title="" href="#">首页</a> &gt; 网站地图</span>
	</p>
	<div class="mapt mar_top_8">
		<p class="maptit">
			<em></em><strong>浙商黄页服务项</strong>
		</p>
	</div>
	<ul class="mapnr">
		<li>
			<strong>网站导航</strong>
			<p>
			<%loop (DataRow) mapnavinfo1 mapnavlist1%>
			<%if {mapnavinfo1__loop__id}>1%> | <%/if%><a title="{mapnavinfo1[title]}" class="l_2d0b00_u" href="{mapnavinfo1[url]}">{mapnavinfo1[name]}</a>
			<%/loop%>			
			</p>
		</li>
		<li>
			<strong>企业类别</strong>
			<p>
			<%loop (DataRow) mapcataloginfo mapcataloglist%>
			<%if {mapcataloginfo__loop__id}>1%> | <%/if%><a title="{mapcataloginfo[name]}" class="l_2d0b00_u" href="zshy-{mapcataloginfo[id]}.html">{mapcataloginfo[name]}</a>
			<%/loop%>
			</p>
		</li>
	</ul>
	<div class="mapt mar_top_8">
		<p class="maptit">
			<em></em><strong>淘之购服务项</strong>
		</p>
	</div>
	<ul class="mapnr">
		<li>
			<strong>网站导航</strong>
			<p>
			<%loop (DataRow) mapnavinfo2 mapnavlist2%>
			<%if {mapnavinfo2__loop__id}>1%> | <%/if%><a title="{mapnavinfo2[title]}" class="l_2d0b00_u" href="{mapnavinfo2[url]}">{mapnavinfo2[name]}</a>
			<%/loop%>			
			</p>
		</li>
		<li>
			<strong>服装服饰</strong>
			<p><a title="" class="l_2d0b00_u" href="#">女装、女士精品</a> | <a title="" class="l_2d0b00_u" href="#">女士内衣、男士内衣、家居服</a> | <a title="" class="l_2d0b00_u" href="#">配件、皮带、围巾、领带、帽子手套</a> | <a title="" class="l_2d0b00_u" href="#">饰品、流行首饰、时尚饰品</a> | <a title="" class="l_2d0b00_u" href="#">品牌手表、流行手表</a></p>
		</li>
		<li>
			<strong>鞋帽箱包</strong>
			<p><a title="" class="l_2d0b00_u" href="#">男女箱包、单肩包、手提包、旅行箱</a> | <a title="" class="l_2d0b00_u" href="#">帽子手套</a> | <a title="" class="l_2d0b00_u" href="#">女鞋/凉鞋/凉拖/单鞋/百丽</a> | <a title="" class="l_2d0b00_u" href="#">男鞋/皮鞋/休闲鞋</a></p>
		</li>
		<li>
			<strong>手机数码</strong>
			<p><a title="" class="l_2d0b00_u" href="#">品牌手机</a> | <a title="" class="l_2d0b00_u" href="#">国货精品手机</a> | <a title="" class="l_2d0b00_u" href="#">电脑硬件、台式整机、网络设备</a> | <a title="" class="l_2d0b00_u" href="#">笔记本电脑</a> | <a title="" class="l_2d0b00_u" href="#">笔记本配件</a> | <a title="" class="l_2d0b00_u" href="#">数码相机、摄像机、图形冲印</a></p>
		</li>
		<li>
			<strong>日用百货</strong>
			<p><a title="" class="l_2d0b00_u" href="#">日化、清洁、护理</a> | <a title="" class="l_2d0b00_u" href="#">居家日用、收纳、礼品</a> | <a title="" class="l_2d0b00_u" href="#">家装饰品、窗帘、地毯</a> | <a title="" class="l_2d0b00_u" href="#">个人护理保健</a> | <a title="" class="l_2d0b00_u" href="#">家具、家具定制、宜家代购</a> | <a title="" class="l_2d0b00_u" href="#">床上用品</a></p>
		</li>
		<li>
			<strong>美食美味</strong>
			<p><a title="" class="l_2d0b00_u" href="#">零食、坚果、茶叶、特产</a> | <a title="" class="l_2d0b00_u" href="#">滋补、生鲜、速食、订餐</a> | <a title="" class="l_2d0b00_u" href="#">保健食品</a></p>
		</li>
		<li>
			<strong>美容美妆</strong>
			<p><a title="" class="l_2d0b00_u" href="#">美容护肤、美体、精油</a> | <a title="" class="l_2d0b00_u" href="#">彩妆、香水、美发工具</a></p>
		</li>
		<li>
			<strong>其&nbsp;&nbsp;他</strong>
			<p><a title="" class="l_2d0b00_u" href="#">奶粉、辅食、营养品</a> | <a title="" class="l_2d0b00_u" href="#">益智玩具、早教、童车床、出行</a> | <a title="" class="l_2d0b00_u" href="#">尿片、洗护、喂哺等用品</a></p>
		</li>
	</ul>
</div>
<%template _comcopyright%>
<%template _comfooter%>