<%template _comheader%>
<!--第一屏 begin-->
<div class="cot">
	<!--左边 begin-->
	<div class="hylt hyltw1 mar_top_8" id="hylt">
		<div class="hyltit">
			<ul id="hyltit1">
				<li>浙商活动</li>
				<li>淘之购活动</li>
			</ul>
			<p class="hyltit2"></p>
		</div>
		<div id="hyltcon">
			<div class="con">
				<ul class="hyltnr">
				<%loop (ActivityInfo) hyactinfo hyactlist%>
				    <li>▪&nbsp;<a target="_blank" title="{hyactinfo.atitle}" href="activity-{hyactinfo.id}.html">{hyactinfo.atitle}</a></li>
			    <%/loop%>
			    <%if {hyactinfo__loop__id}<8%><%repeat("<li>▪&nbsp;</li>", 8-{hyactinfo__loop__id})%><%/if%>
				</ul>
			</div>
			<div class="con">
				<ul class="hyltnr">
				<%loop (ActivityInfo) hytaoactinfo hytaoactlist%>
				    <li>▪&nbsp;<a target="_blank" title="{hytaoactinfo.atitle}" href="activity-{hytaoactinfo.id}.html">{hytaoactinfo.atitle}</a></li>
			    <%/loop%>
			    <%if {hytaoactinfo__loop__id}<8%><%repeat("<li>▪&nbsp;</li>", 8-{hytaoactinfo__loop__id})%><%/if%>
				</ul>
			</div>
		</div>
	</div>
	<!--左边 end-->
	<!--中间 begin-->
	<div class="hyce mar_left_10 mar_top_8">
		<div class="hyce1" id="bill">
			<div id="hyce1con">
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
				<div class="con"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa3.jpg" /></a></div>
			</div>
			<ul id="hyce1t">
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
		<div class="hyce2">
			<strong><img alt="数据动态" src="templates/{templatepath}/images/hy_data.gif" /></strong>
			<ul class="hyce2nr">
				<li>收录企业：<em class="col_blu">{allcount}</em></li>
				<li>审核通过：<em class="col_gre">{passcount}</em></li>
				<li>今日收录：<em class="col_red">{todaycount}</em></li>
				<li>待审核数：<em class="col_yel">{waitcount}</em></li>
			</ul>
		</div>
	</div>
	<!--中间 end-->
	<!--右边 begin-->
	<div class="hylt hyrt mar_top_8">
		<p class="hyrtit"><strong>最新审核通过企业</strong></p>
		<ul id="hyrtnr">
		    <%loop (Companys) hyupdatecompanyinfo hyupdatecompanylist%>
		    <%set (string){mancatalogname}=Utils.CutString({hyupdatecompanyinfo.catalogName},0,6)%>
				<li>[<a class="l_f00" title="{hyupdatecompanyinfo.catalogName}" href="zshy-{hyupdatecompanyinfo.tempCatalogID}.html">{mancatalogname}</a>] <a title="{hyupdatecompanyinfo.en_name}" href="company-{hyupdatecompanyinfo.en_id}.html" target="_blank">{hyupdatecompanyinfo.en_name}</a></li>
			<%/loop%>
		</ul>
	</div>
	<!--右边 end-->
</div>
<!--第二屏 begin-->
<div class="cot">
	<div class="hytlt mar_top_8">
		<strong>活跃企业展示区</strong>
		<div class="hytltnr">
			<ul class="hytltcot">
			<%loop (Companys) scoredcompanyinfo hyscoredcompanylist%>
			<%if {scoredcompanyinfo__loop__id}==1%>
			    <li class="hytltcot1">
					<p><a title="{scoredcompanyinfo.en_name}" href="company-{scoredcompanyinfo.en_id}.html" target="_blank">{scoredcompanyinfo.en_name}</a></p>
					<span>网络评分：{scoredcompanyinfo.enScored}分</span>
					<em>[<a class="l_f00" title="{scoredcompanyinfo.en_name}" href="promotion-{scoredcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%else%>
			    <li class="hytltcot2">
					<p><a title="{scoredcompanyinfo.en_name}" href="company-{scoredcompanyinfo.en_id}.html" target="_blank">{scoredcompanyinfo.en_name}</a></p>
					<em>[<a class="l_f00" title="{scoredcompanyinfo.en_name}" href="promotion-{scoredcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%/if%>
			<%/loop%>
			</ul>
			<p class="hytltline"></p>
			<ul class="hytltcot">
			<%loop (Companys) creditcompanyinfo hycreditcompanylist%>
			<%if {creditcompanyinfo__loop__id}>8%><%break%><%/if%>
			<%if {creditcompanyinfo__loop__id}==1%>
				<li class="hytltcot1">
					<p><a title="{creditcompanyinfo.en_name}" href="company-{creditcompanyinfo.en_id}.html" target="_blank">{creditcompanyinfo.en_name}</a></p>
					<span>企业信誉：{creditcompanyinfo.en_credits}</span>
					<em>[<a class="l_f00" title="{creditcompanyinfo.en_name}" href="promotion-{creditcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%else%>
				<li class="hytltcot2">
					<p><a title="{creditcompanyinfo.en_name}" href="company-{creditcompanyinfo.en_id}.html" target="_blank">{creditcompanyinfo.en_name}</a></p>
					<em>[<a class="l_f00" title="{creditcompanyinfo.en_name}" href="promotion-{creditcompanyinfo.en_id}.html" target="_blank">立即推广</a>]</em>
				</li>
			<%/if%>
			<%/loop%>
			</ul>
		</div>
	</div>
	<div class="hytrt mar_top_8">
		<strong>主题企业</strong>
		<ul class="hytrtnr">
			<li class="hytrtnr1"><a title="" href="#" target="_blank"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
			<li class="hytrtnr2"></li>
			<li class="hytrtnr1"><a title="" href="#" target="_blank"><img alt="" src="templates/{templatepath}/images/aa/aa4.jpg" /></a></li>
		</ul>
	</div>
</div>
<!--第二屏 end-->
<!--第三屏 begin-->
<div class="cot">
    <%loop (DataRow) cataloginfo cataloglist1%>
	<div class="hyindy mar_top_18">	
		<p class="hyindyt">
			<strong><img alt="{cataloginfo[name]}" src="templates/{templatepath}/images/hy_tit{cataloginfo__loop__id}.gif" /></strong>
			<em><a title="{cataloginfo[name]}" href="zshy-{cataloginfo[id]}.html">更多&gt;&gt;</a></em>
		</p>
		<div class="hyindy1" id="hyindy{cataloginfo__loop__id}">
			<ul id="hyindy{cataloginfo__loop__id}t">
			<%loop (DataRow) cityinfo indexcity%>
				<%if {cityinfo__loop__id}>3%>
				<%break%>
				<%/if%>
				<li>{cityinfo[CityName]}</li>
			<%/loop%>
			</ul>
			<div id="hyindy{cataloginfo__loop__id}con">
			    <%loop (DataRow) cityinfo1 indexcity%>
				    <%if {cityinfo1__loop__id}>3%>
				    <%break%>
				    <%/if%>
				<div class="con">
					<ul class="hyindynr">
					<%set {hycitycompanylist}=Companies.GetCompanyListByCityAndCatalog({strtoint({cityinfo1[CityID]})},{strtoint({cataloginfo[id]})},20)%>
					<%loop (Companys) hycitycompanyinfo hycitycompanylist%>
						<li>·<a title="{hycitycompanyinfo.en_name}" href="company-{hycitycompanyinfo.en_id}.html" target="_blank"><%getsubstring({hycitycompanyinfo.en_name},34,"...")%></a></li>
					<%/loop%>
					</ul>
				</div>
				<%/loop%>
			</div>
		</div>
		<%set (int) {btn1num}={cataloginfo__loop__id}*2-1%>
		<%set (int) {btn2num}={cataloginfo__loop__id}*2%>
		<div class="hyindy2">
			<p class="lt"><img id="btn{btn1num}" alt="左边" src="templates/{templatepath}/images/icon/arrow10.gif" /></p>
			<div id="hyindy2c{cataloginfo__loop__id}">
				<ul class="hyindy2nr">
				<%set {hycardcompanylist}=Companies.GetCompanyListByCityAndCatalog(0,{strtoint({cataloginfo[id]})},6)%>
				<%loop (Companys) hycordcompanyinfo hycardcompanylist%>
					<li><a title="{hycordcompanyinfo.en_name}" href="company-{hycordcompanyinfo.en_id}.html"><img alt="{hycordcompanyinfo.en_name}" src="showcardimg_{hycordcompanyinfo.en_id}.html" /></a></li>
				<%/loop%>
				</ul>
			</div>
			<p class="rt"><img id="btn{btn2num}" alt="右边" src="templates/{templatepath}/images/icon/arrow11.gif" /></p>
		</div>
	</div>
	<%if {cataloginfo__loop__id}==2%><div class="hyad mar_top_8"><a title="" href="#"><img alt="" src="templates/{templatepath}/images/aa/aa6.jpg" /></a></div><%/if%>
	<%set %>
	<%/loop%>
</div>
<!--第三屏 end-->
<%template _comcopyright%>
<%template _comfooter%>