<%template _comheader%>
<div class="cot">
    <%if {page_err}==0%>
	<!--企业信息开始-->
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a href="#">首页</a> &gt; <a href="zshy.html">浙商黄页</a> &gt; {companyshowinfo.provinceName} {companyshowinfo.cityName} {companyshowinfo.en_name}</span>
	</p>
	<div class="osw mar_top_8" id="put">
		<h1>{companyshowinfo.en_name}</h1>
		<div class="oswlt mar_top_8">
		    <p><span class="oswlt1">手&nbsp;&nbsp;&nbsp;&nbsp;机：</span><span class="oswlt2">{companyshowinfo.en_mobile}</span></p>
			<p><span class="oswlt1">传&nbsp;&nbsp;&nbsp;&nbsp;真：</span><span class="oswlt2">{companyshowinfo.en_fax}</span></p>
			<p><span class="oswlt1">邮&nbsp;&nbsp;&nbsp;&nbsp;编：</span><span class="oswlt2">{companyshowinfo.en_post}</span></p>
			<p><span class="oswlt1">电子邮箱：</span><span class="oswlt2">{companyshowinfo.en_mail}</span></p>
			<p><span class="oswlt1">网&nbsp;&nbsp;&nbsp;&nbsp;址：</span><span class="oswlt2">{companyshowinfo.en_web}</span></p>
			<p><span class="oswlt1">主营商品：</span><span class="oswlt2"><%set {companyshowinfo.En_main}=Utils.ReplaceString({companyshowinfo.en_main},",,",",",false).Trim(',')%>{companyshowinfo.en_main}</span></p>
			<span class="oswmore"><a title="查看工商注册信息" href="tipmsg.aspx?msgenid={companyshowinfo.en_id}&msgtype=1" rel="tipmsg.aspx?msgenid={companyshowinfo.en_id}&msgtype=1" class="l_f00">更多详情</a></span>
			<strong class="oswpf">网络评分：<b class="f_f60_24" id="commentscored">4.5</b> 分</strong>
		</div>
		<p class="oswrt mar_top_8"><img alt="浙江贝因美妇幼保健发展有限公司" src="showcardimg_{companyshowinfo.en_id}.html" /></p>
		<div class="tswlt">
			<p class="tswltp1">
				<span>评论：<em class="f_e00101">{companyshowinfo.en_sell}</em> | 阅读次数：{companyviews}</span>
				<span>发布时间：{companyshowinfo.en_createdate} | 更新时间：{companyshowinfo.en_update}</span>
			</p>
			<p class="tswltp2 tswltpf1"><a title="点击我要评论" href="#pinglun"></a></p>
		</div>
		<div class="tswrt"><a title="点击进入推广" href="#"></a></div>
	</div>
	<!--企业信息结束-->
	<!--企业简介开始-->
	<div class="tsw mar_top_8" id="swinf">
		<b>企业简介</b>
		<div class="tswnr" id="swinfcot">{companyshowinfo.en_desc}</div>
		<p class="tswan"><em><img src="templates/{templatepath}/images/icon/arrow-icon1.gif" /></em>点击查看全部介绍</p>
	</div>
	<!--企业简介结束-->
	<!--企业证书开始-->
	<div class="fsw mar_top_18">
		<p class="fswt">
			<em></em><strong>企业证书</strong>
		</p>
		<ul class="fswnr">
			<li><img alt="证书名称" src="templates/{templatepath}/images/aa/aa11.jpg" /></li>
			<li><img alt="证书名称" src="templates/{templatepath}/images/aa/aa11.jpg" /></li>
			<li><img alt="证书名称" src="templates/{templatepath}/images/aa/aa11.jpg" /></li>
			<li><img alt="证书名称" src="templates/{templatepath}/images/aa/aa11.jpg" /></li>
		</ul>
	</div>
	<!--企业证书结束-->
	<!--最新评论开始-->
	<form class="fsw mar_top_8" id="form1" name="form1" onsubmit="return validate(this);" method="post">
		<p class="fswt">
			<em></em><strong>最新评论</strong>
		</p>
		<div class="fsw2">
			<ul class="fswnr2" id="commentlist">
				<li>
					<p class="fswnr2zi">
						<span class="fswnr2zi1">网络评分：<b class="f_f60_24">3</b> 分</span>
						<span class="fswnr2zi2">小优 发表于 2010-05-12 12:12:12</span>
					</p>
					<p class="fswnr2zt">因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure</p>
				</li>
				<li>
					<p class="fswnr2zi">
						<span class="fswnr2zi1">网络评分：<b class="f_f60_24">5</b> 分</span>
						<span class="fswnr2zi2">小优 发表于 2010-05-12 12:12:12</span>
					</p>
					<p class="fswnr2zt">因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure</p>
				</li>
				<li>
					<p class="fswnr2zi">
						<span class="fswnr2zi1">网络评分：<b class="f_f60_24">4</b> 分</span>
						<span class="fswnr2zi2">小优 发表于 2010-05-12 12:12:12</span>
					</p>
					<p class="fswnr2zt">因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure的文章因为在BAIDU搜索一些关于Axure</p>
				</li>
			</ul>
			<div class="page f_666" id="commentlist_page">
				<a title="上一页" href="#">上一页</a>
				<a title="1" href="#">1</a>
				<span class="page2">2</span>
				<a title="3" href="#">3</a>
				<a title="4" href="#">4</a>
				<a title="5" href="#">5</a>
				<a title="6" href="#">6</a>
				<a title="7" href="#">7</a>
				<a title="5" href="#">8</a>
				<a title="6" href="#">9</a>
				<a title="7" href="#">10</a>
				<a title="下一页" href="#">下一页</a>
				共100页　到第
				<input type="text" name="textfield" class="input2_soout" style="width:25px;" />
				页
				<input type="button" name="button1" class="agree1" value="确 定" />
			</div>
		</div>
		<strong class="fswt2" id="pinglun">发表评论</strong>
		<div class="fswnr3">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="fsw3">
				<tr>
					<td>网络评分：</td>
					<td>
					<input name="star1" type="radio" value="1" class="starshow"/>
					<input name="star1" type="radio" value="2" class="starshow"/>
				    <input name="star1" type="radio" value="3" class="starshow"/>
				    <input name="star1" type="radio" value="4" class="starshow"/>
				    <input name="star1" type="radio" value="5" class="starshow"/>
					<span class="fsw3zi">(<em>0</em>分)</span>
					</td>
				</tr>
				<tr>
					<td>用户昵称：</td>
					<td><input type="text" name="nickname" class="input2_soout" style="width:150px;" /></td>
				</tr>
				<tr>
					<td>评论内容：</td>
					<td><textarea class="input2_soout" style="width:700px; height:120px;" name="commentmsg" cols="" rows=""></textarea></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" name="Submit" class="tswltpan" value="" /><input type="hidden" name="scores" id="scores" value="0"/></td>
				</tr>
			</table>
		</div>
		
	</form>
	<!--最新评论结束-->
	<%else%>
	<%template _commsgbox%>
	<%/if%>
</div>
<%template _comcopyright%>
<%template _comfooter%>
