<%template _comheader%>
<%if {infloat}!=1%>
<div class="cot">
	<p class="zshysite mar_top_8">
		<i class="zslt"></i><i class="zsrt"></i>
		<span class="zshysnr">您当前的位置：<a href="#" class="l_666">首页</a> &gt; <a href="#" class="l_666">浙商黄页</a> &gt; 浙江台州市黄岩恒鑫模塑有限公司</span>
	</p>
	<!--左边 begin-->
  <div class="zsshowlt mar_top_8">
		<h1 class="zsshowlt1 f_666">杭州枫林纺织服装有限公司</h1>
	    <table border="0" cellspacing="0" cellpadding="0" class="tbshow mar_top_8">
          <tr>
            <td width="50%"><b>经营模式：</b> 生产加工</td>
            <td width="50%"><b>企业类型：</b> 有限责任公司</td>
          </tr>
          <tr>
            <td colspan="2"><b>主  营：</b> 外贸服装加工；外贸服装定单；时尚女装、吊带、睡衣、背心、裙子、套裙、套装、衬衫、上衣</td>
          </tr>
          <tr>
            <td colspan="2"><b>注册年份：</b> 3年</td>
          </tr>
          <tr>
            <td colspan="2"><b>联系人：</b> 某某某</td>
          </tr>
          <tr>
            <td colspan="2"><b>电  话：</b> 86 0571 88538670-8590</td>
          </tr>
          <tr>
            <td colspan="2"><b>传  真：</b> 86 0571 88315435</td>
          </tr>
          <tr>
            <td colspan="2"><b>地  址：</b> 中国 浙江 杭州市 余杭区瓶窑镇凤都工业园区</td>
          </tr>
          <tr>
            <td colspan="2"><b>邮  编：</b> 310014</td>
          </tr>
          <tr>
            <td colspan="2"><b>公司主页：</b> <a title="" href="#" class="l_e00101">http://www.hzfenglin.cn</a>   <a title="" href="#" class="l_e00101">http://www.hzfenglin.com</a>   <a title="" href="#" class="l_e00101">http://hzfenglin.cn.alibaba.com</a></td>
          </tr>
        </table>
		<div class="zsshowltnr f_666">
		    杭州枫林纺织服装有限公司前身是国有杭州市丝绸控股公司直属工厂—浙高丝绸服装有限公司。现位于杭州市余杭
区瓶窑镇凤都工业园区。
    公司现有厂房7000平方米，员工宿舍等后勤设施4000余平方米。拥有从美国、日本、意大利和香港引进的各类制衣
专业设备400余台（其中平缝机220台）。我公司专业生产真丝类、化纤类、棉布类服装产品，主要生产加工中高档服装
品牌产品，为ZARA、MANGO、EXPRESS、SEARS、MARKS&SPENCER等品牌来样定货生产，通过国家ISO9001质量认证。产品
远销欧洲、美国、加拿大。各部门均配有专业管理技术人员，生产技术力量雄厚，员工400余人，专业技术人员占20%。
    公司依靠得天独厚的面料资源以及20余年的艰苦奋斗，现年销售额超过4000万元，为浙江省领先的中型服装生产企
业。我司本着“质量第一，诚信服务”的宗旨，热忱欢迎新老朋友前来洽谈商贸、莅临指导。
    杭州枫林纺织服装有限公司前身是国有杭州市丝绸控股公司直属工厂—浙高丝绸服装有限公司。现位于杭州市余杭
区瓶窑镇凤都工业园区。
    公司现有厂房7000平方米，员工宿舍等后勤设施4000余平方米。拥有从美国、日本、意大利和香港引进的各类制衣
专业设备400余台（其中平缝机220台）。我公司专业生产真丝类、化纤类、棉布类服装产品，主要生产加工中高档服装
品牌产品，为ZARA、MANGO、EXPRESS、SEARS、MARKS&SPENCER等品牌来样定货生产，通过国家ISO9001质量认证。产品
远销欧洲、美国、加拿大。各部门均配有专业管理技术人员，生产技术力量雄厚，员工400余人，专业技术人员占20%。
    公司依靠得天独厚的面料资源以及20余年的艰苦奋斗，现年销售额超过4000万元，为浙江省领先的中型服装生产企
业。我司本着“质量第一，诚信服务”的宗旨，热忱欢迎新老朋友前来洽谈商贸、莅临指导。
		</div>
		<p class="zsshowltnr1"><a title="" href="#"><img alt="" src="images/aa/aa9.jpg" /></a></p>
		<table border="0" cellpadding="0" cellspacing="1" class="tbhot mar_top_8">
          <tr>
            <td width="50%" colspan="2"><b>近期热点推荐</b></td>
          </tr>
          <tr>
            <td width="50%">▪&nbsp;<a title="杭州精绘服装研发中心" href="#" class="l_666">杭州精绘服装研发中心</a></td>
            <td width="50%">▪&nbsp;<a title="建德市中天服装贸易有限公司" href="#" class="l_666">建德市中天服装贸易有限公司</a></td>
          </tr>
		  <tr>
            <td width="50%">▪&nbsp;<a title="杭州萧山南阳七跷板服装厂" href="#" class="l_666">杭州萧山南阳七跷板服装厂</a></td>
            <td width="50%">▪&nbsp;<a title="杭州成帅服装有限公司" href="#" class="l_666">杭州成帅服装有限公司</a></td>
          </tr>
		  <tr>
            <td width="50%">▪&nbsp;<a title="杭州萧山戴村镇颖炅服装手工加工场" href="#" class="l_666">杭州萧山戴村镇颖炅服装手工加工场</a></td>
            <td width="50%">▪&nbsp;<a title="浙江旧货交易市场金蚂蚁服装经营部" href="#" class="l_666">浙江旧货交易市场金蚂蚁服装经营部</a></td>
          </tr>
		  <tr>
            <td width="50%" colspan="2" bgcolor="#FFFFFF"><span><a title="更多热点" href="#" class="l_805952">更多热点&gt;&gt;</a></span></td>
          </tr>
    </table>
	<p class="zsshowltnr2">本文标签： <b><a title="服装" href="#" class="l_805952">服装</a></b>&nbsp;&nbsp;<b><a title="生产加工" href="#" class="l_805952">生产加工</a></b>&nbsp;&nbsp;<b><a title="外贸" href="#" class="l_805952">外贸</a></b></p>
	<p class="zsshowltnr3">
		<b class="f_000_14">找企业：</b>
		<span><input name="" type="text" class="input2_soout" onfocus="this.className='input2_soon'" onBlur="this.className='input2_soout'" style="width:420px;" /></span>
		<span>
			<select name="">
				<option>选择城市</option>
			</select>
		</span>
		<span class="zsshowltnr3so"><a title="企业搜索" href="#"></a></span>
	</p>
  </div>
	<!--左边 end-->
	<!--右边 begin-->
	<div class="zshyrt mar_top_8">
		<p class="zshyrt1"><a title="" href="#"><img alt="企业名称" src="images/aa/aa2.jpg" /></a></p>
		<p class="zshyrt2sub mar_top_8"><a title="" href="#"></a></p>
		<div class="zsk mar_top_8">
			<p class="zskt">
				<em></em><strong>企业信息点击量排行</strong>
			</p>
			<ul class="zstop2">
				<li>
					<em class="zstopem1">1</em>
					<p><a title="成都金岚地服饰有限公司" href="#" class="l_666">成都金岚地服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem1">2</em>
					<p><a title="杭州浪漫一身服饰有限公司" href="#" class="l_666">杭州浪漫一身服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem1">3</em>
					<p><a title="杭州水之恋服饰有限公司" href="#" class="l_666">杭州水之恋服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">4</em>
					<p><a title="香港普菲特服饰有限公司" href="#" class="l_666">香港普菲特服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">5</em>
					<p><a title="杭州千百惠服饰有限公司" href="#" class="l_666">杭州千百惠服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">6</em>
					<p><a title="成都金岚地服饰有限公司" href="#" class="l_666">成都金岚地服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">7</em>
					<p><a title="广州市歌莉娅女性服饰有限公司" href="#" class="l_666">广州市歌莉娅女性服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">8</em>
					<p><a title="杭州素非服饰有限公司" href="#" class="l_666">杭州素非服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">9</em>
					<p><a title="杭州江南布衣服饰有限公司" href="#" class="l_666">杭州江南布衣服饰有限公司</a></p>
				</li>
				<li>
					<em class="zstopem2">10</em>
					<p><a title="成都金岚地服饰有限公司" href="#" class="l_666">成都金岚地服饰有限公司</a></p>
				</li>
			</ul>
		</div>
		<p class="zshyrtad mar_top_8"><a title="" href="#"><img alt="" src="images/aa/aa5.jpg" /></a></p>
		<div class="zsk mar_top_8">
			<p class="zskt">
				<em></em><strong>最新认证的企业信息</strong>
			</p>
			<ul class="zstop2">
				<li>▪&nbsp;<a title="成都金岚地服饰有限公司" href="#" class="l_666">成都金岚地服饰有限公司</a>
				</li><li>▪&nbsp;<a title="杭州浪漫一身服饰有限公司" href="#" class="l_666">杭州浪漫一身服饰有限公司</a></li>
				<li>▪&nbsp;<a title="杭州水之恋服饰有限公司" href="#" class="l_666">杭州水之恋服饰有限公司</a></li>
				<li>▪&nbsp;<a title="香港普菲特服饰有限公司" href="#" class="l_666">香港普菲特服饰有限公司</a></li>
				<li>▪&nbsp;<a title="杭州千百惠服饰有限公司" href="#" class="l_666">杭州千百惠服饰有限公司</a></li>
				<li>▪&nbsp;<a title="杭州千百惠服饰有限公司" href="#" class="l_666">杭州千百惠服饰有限公司</a></li>
				<li>▪&nbsp;<a title="广州市歌莉娅女性服饰有限公司" href="#" class="l_666">广州市歌莉娅女性服饰有限公司</a></li>
				<li>▪&nbsp;<a title="杭州素非服饰有限公司" href="#" class="l_666">杭州素非服饰有限公司</a></li>
				<li>▪&nbsp;<a title="杭州江南布衣服饰有限公司" href="#" class="l_666">杭州江南布衣服饰有限公司</a></li>
				<li>▪&nbsp;<a title="香港普菲特服饰有限公司" href="#" class="l_666">香港普菲特服饰有限公司</a></li>
			</ul>
		</div>
	</div>
	<!--右边 end-->
</div>
<%else%>
<div id="copys">
	<b class="f_805952_14">小丫儿 <em style="color:#999;">（女士）</em></b>
	<p>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：86 0577 85216517</p>
	<p>移动电话：13736780228</p>
	<p>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：86 0577 85223517</p>
	<p>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：中国 浙江 温州市龙湾区海城街道锦泉街56号</p>
	<p>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：320000</p>
	<p>公司主页：<a href="#" class="l_333">http://www.sirius.com</a></p>
</div>
<%/if%>
<%template _comcopyright%>
<%template _comfooter%>
