@charset "utf-8";
body{ font:12px '宋体', Verdana, Arial; color:#000; background:#fff; margin:0px; padding:0px;}
span,p,ol,ul,li,form,input,ul,li,dt,dl,dd,em,a,h1,h2,h3,h4,h5,h6,i,iframe,center,del,ins,strong{ margin:0px; padding:0px;}
input,ul,li{list-style-type:none;}
em{ font-style:normal;}
img{ border:0px;}
.cot{ width:960px; height:auto; margin:0 auto;}
.mar_top{ margin-top:15px;}
.mar_top_10{ margin-top:9px;}
.mar_top_5{ margin-top:5px;}
.mar_left{ margin-left:10px;}
/*font*/
.f_333{ color:#333;}
.f_f00{ color:#f00;}
.f_999{ color:#999;}
.f_fe8f00{ color:#fe8f00;}
/*link*/
a:link, a:visited{ color:#000; text-decoration:none;}
a:hover{ color:#e00000; text-decoration:underline;}
.l_000:link, .l_fff:visited{ color:#000; text-decoration:none;}
.l_000:hover{ color:#aa852b; text-decoration:underline;}
.l_fff:link, .l_fff:visited{ color:#fff; text-decoration:none;}
.l_fff:hover{ color:#f00; text-decoration:underline;}
.l_fcc556:link, .l_fcc556:visited{ color:#fcc556; text-decoration:underline;}
.l_fcc556:hover{ color:#fff; text-decoration:underline;}
.l_fff:link, .l_fff:visited{ color:#fff; text-decoration:none;}
.l_fff:hover{ color:#fcc556; text-decoration:underline;}
.l_f18c08:link, .l_f18c08:visited{ color:#f18c08; text-decoration:none;}
.l_f18c08:hover{ color:#e00000; text-decoration:underline;}
.l_999:link, .l_999:visited{ color:#999; text-decoration:none;}
.l_999:hover{ color:#e00000; text-decoration:underline;}
.l_666:link, .l_666:visited{ color:#666; text-decoration:none;}
.l_666:hover{ color:#000; text-decoration:underline;}
.l_b09b4b:link, .l_b09b4b:visited{ color:#b09b4b; text-decoration:none;}
.l_b09b4b:hover{ color:#e00000; text-decoration:underline;}
.l_734d01:link, .l_734d01:visited{ color:#734d01; text-decoration:none;}
.l_734d01:hover{ color:#e00000; text-decoration:underline;}
.l_e00000:link, .l_e00000:visited{ color:#e00000; text-decoration:none;}
.l_e00000:hover{ color:#e00000; text-decoration:underline;}
/*信誉图*/
.rankbg{ background:url(../images/rank_bg.gif) repeat-x;}
.rank1{ height:13px; background-position:0 -1px;}
.rank2{ height:13px; background-position:0 -34px;}
.rank3{ height:16px; background-position:0 -64px;}
.rank4{ height:16px; background-position:0 -80px;}
.rank5{ height:14px; background-position:0 -17px;}
.rank6{ height:13px; background-position:0 -50px;}
.rankw1{ width:17px;}
.rankw2{ width:34px;}
.rankw3{ width:51px;}
.rankw4{ width:68px;}
.rankw5{ width:85px;}
/*input*/
.input_soout{ width:331px; height:24px; line-height:24px; font-size:14px; color:#ccc; border:1px solid #989898; background:#fff; padding:0 2px;}
.input_soon{ width:331px; height:24px; line-height:24px; font-size:14px; color:#000; border:1px solid #9b8d6f; background:#fbfafa; padding:0 2px;}
.input_jiaout{ height:18px; line-height:18px; font-size:12px; color:#ccc; border:1px solid #c7c6c6; background:#fff; padding:0 2px;}
.input_jiaon{ height:18px; line-height:18px; font-size:12px; color:#000; border:1px solid #308ed1; background:#fbfafa; padding:0 2px;}

select{ background:#fff;}
/*按钮*/
input.so{ width:71px; height:26px; line-height:26px; background:url(../images/soso.gif) top no-repeat; border:0; cursor:pointer;}
input.so:hover{ width:71px; height:26px; line-height:26px; background:url(../images/soso.gif) bottom no-repeat; border:0; cursor:pointer;}
input.jia{ width:40px; height:19px; line-height:19px; background:url(../images/an1.gif) repeat-x; border:0; cursor:pointer;}
/*头－尾*/
.hd{ width:100%; height:auto; float:left;}
.hd1{ width:955px; height:60px; margin:0 auto; padding:0 0 0 5px;}
.hd1 strong{ width:auto; height:60px; float:left;}
.hd1 em{ width:1px; height:43px; background:url(../images/nav_line1.gif) no-repeat; margin:8px 10px 0 15px; float:left;}
.hd1 b{ width:auto; height:60px; float:left;}
.nav{ width:955px; height:30px; margin:5px auto 0; padding:0 0 0 5px; position:relative;}
.nav1, .nav1 a, .nav1 a:hover, .nav2, .nav2 a, .nav2 a:hover{ width:79px; text-align:center; font-size:14px; text-decoration:none; float:left;}
.nav1 a, .nav2 a{ height:27px; line-height:27px; padding:3px 0 0 0;}
.nav1, .nav2{ margin:0 1px 0 0; display:inline;}
.nav1{ color:#fff; font-weight:bold;}
.nav1 a, .nav1 a:hover, .nav1 a:link, .nav1 a:visited{ color:#fff; font-weight:bold; background:url(../images/nav_bg1.gif) top no-repeat;}
.nav2{ color:#555;}
.nav2 a, .nav2 a:link, .nav2 a:visited{ color:#555; background:url(../images/nav_bg1.gif) bottom no-repeat;}
.nav2 a:hover{ color:#333; background:url(../images/nav_bg1.gif) 0 -30px no-repeat;}
.nav3{ width:21px; height:14px; position:absolute; bottom:27px; left:550px;}
.nav_tipic{ width:145px; height:60px; bottom:0; right:60px; position:absolute; z-index:100; float:left;}
.nav_tipic img{ width:145px; height:60px; float:left;}
.hd2{ width:100%; height:40px; background:#000; float:left; position:relative;}
.hd2nr{ width:960px; height:33px; margin:0 auto; padding:7px 0 0 0; position:relative;}
.menu1{ width:210px; height:27px; background:url(../images/menu_bg2.gif) repeat-x; float:left; position:absolute; left:0; top:7px;}
.menu1 strong{ width:165px; height:27px; line-height:27px; font-size:14px; background:url(../images/arrow1.gif) right center no-repeat; padding:0 15px; float:left;}
.menu1 .lt, .menu1 .rt{ width:3px; height:27px; background:url(../images/menu_bg1.gif) no-repeat; top:0; position:absolute;}
.menu1 .lt{ left:0;}
.menu1 .rt{ background-position:-3px 0; right:0;}
.menu1 .nr, .menu1 .other{ display:none;}
.menu2{ width:210px; height:302px; background:url(../images/menu_bg4.gif) repeat-x; float:left; position:absolute; left:0; top:7px; z-index:80;}
.menu2 strong{ width:165px; height:27px; line-height:27px; font-size:14px; padding:0 15px; float:left;}
.menu2 .lt, .menu2 .rt{ width:6px; height:302px; background:url(../images/menu_bg3.gif) no-repeat; top:0; position:absolute; z-index:-1}
.menu2 .lt{ left:0;}
.menu2 .rt{ background-position:-2px 0; right:0;}
.menu2 .nr{ width:192px; height:auto; padding:2px 6px 0; float:left; margin-right:-3px; position:relative; z-index:101;}
.menu2 .nrli1{ width:176px; height:38px; line-height:38px; padding:0 10px; text-decoration:none; cursor:pointer; float:left; margin-right:-3px;}
.menu2 .mntu{ width:13px; height:11px; margin:13px 12px 0 0; display:inline; float:left;}
.menu2 .mnzi{ width:147px; height:38px; color:#734d01; background:url(../images/arrow2.gif) right center no-repeat; float:left; margin-right:-3px;; text-decoration:none;}
.menu2 .mnzi em{ color:#d3c6ac;}
.menu2 .nrli1 a:hover{ text-decoration:none; cursor:pointer;}
.menu2 .nrli2{ width:172px; height:32px; line-height:32px; background:#fffaf1; border:3px solid #927e56; border-right:0; padding:0 10px 0 7px; text-decoration:none; float:left; cursor:pointer;}
.menu2 .nrli2 .mntu{ width:13px; height:11px; margin:10px 12px 0 0; display:inline; float:left;}
.menu2 .nrli2 .mnzi{ width:147px; height:32px; color:#734d01; background:url(../images/arrow2.gif) right center no-repeat; float:left; margin-right:-3px; text-decoration:none;}
.menu2 .cot{ width:490px; height:260px; background:#fffaf1; border:3px solid #927e56; position:absolute; top:2px; left:195px; z-index:-1; overflow:hidden; display:none; cursor:text;}
.menu2 .cotlt{ width:280px; height:243px; padding:7px 10px 10px; float:left;}
.menu2 .cotlt .tit, .menu2 .cotlt .tit1{ width:280px; height:21px; line-height:21px; margin:0 -3px 0 0; float:left;}
.menu2 .cotlt .tit{ color:#734d01; margin:0 0 4px 0;}
.menu2 .cotlt .tit .titlt, .menu2 .cotlt .tit .titrt{ width:auto; font-style:normal;}
.menu2 .cotlt .tit .titlt{ float:left;}
.menu2 .cotlt .tit .titrt{ float:right; font-weight:normal;}
.menu2 .cotlt .tit .titrt a:hover{ text-decoration:underline;}
.menu2 .cotlt .tit1{ color:#e00000;}
.menu2 .cotlt .type{ width:auto; height:auto; line-height:20px; color:#ecdcac; float:left;}
.menu2 .cotlt .type a, .menu2 .cotlt .type a:hover{ width:auto; height:auto; color:#555; background:none; line-height:20px;}
.menu2 .cotlt .type a:hover{ border:0; color:#e00000; text-decoration:underline;}
.menu2 .cotlt .line{ width:280px; height:0; line-height:0px; border-bottom:1px dashed #d3c6ac; margin-top:4px; margin-bottom:4px; overflow:hidden; float:left; margin-right:-3px;}
.menu2 .cotrt{ width:170px; height:243px; background:#f7f0e5; padding:7px 10px 10px; float:left;}
.menu2 .cotrt .tit{ width:170px; height:20px; line-height:20px; color:#734d01; margin:0 -3px 7px 0; float:left;}
.menu2 .cotrt .tit .titlt, .menu2 .cotrt .tit .titrt{ width:auto; font-style:normal;}
.menu2 .cotrt .tit .titlt{ float:left;}
.menu2 .cotrt .tit .titrt{ float:right; font-weight:normal;}
.menu2 .cotrt .tit .titrt a:hover{ text-decoration:underline;}
.menu2 .cotrt .bra{ width:85px; height:22px; line-height:22px; float:left; margin-right:-2px;}
.menu2 .cotrt .bra a, .menu2 .cotrt .bra a:hover{ width:85px; height:22px; color:#555; background:none; line-height:20px; padding:0; margin:0 0 0 0; float:left;}
.menu2 .cotrt .bra a:hover{ border:0; color:#e00000; text-decoration:underline;}
.menu2 .other{ width:137px; height:30px; line-height:32px; color:#734d01; background:url(../images/menu_7.gif) left center no-repeat; padding:0 10px 0 25px; margin-left:17px; display:inline; float:left;}
.menu2 .other a{ width:137px; height:32px; float:left;}
.soso{ width:430px; height:26px; margin:0 0 0 220px; display:inline; float:left;}
.soso p{ width:auto; height:26px; margin:0 2px 0 0; display:inline; float:left;}
.tdrec{ width:280px; height:33px; line-height:33px; float:right;}
.tdrec strong{ font-weight:bold; color:#fff;}
.foot{ width:100%; height:68px; background:#000; float:left;}
.ftnr{ width:960px; height:60px; margin:0 auto; padding:8px 0 0 0;}
.ftnr strong{ width:auto; height:auto; float:left;}
.ftnr .line{ width:1px; height:44px; background:#666; margin:5px 20px 0; display:inline; float:left;}
.ftnr p{ width:800px; height:18px; line-height:18px; color:#fff; margin:6px 0 0; display:inline; float:left;}
/*专题-头－尾*/
.xcot{ width:950px; height:auto; margin:0 auto;}
.xhd{ width:950px; height:60px; float:left;}
.xhd strong{ width:auto; height:60px; float:left;}
.xhd span{ width:auto; height:26px; background:#000; padding:1px; margin:17px 0 0 0; display:inline; float:right;}
.xhd em{ width:auto; height:24px; line-height:24px; color:#ccc; text-align:center; background:#000; border:1px solid #fff; padding:0 25px; float:left;}
.xtopic{ width:950; height:auto; float:left;}
.xft{ width:950px; height:50px; border-top:1px solid #eee; color:#999; padding:5px 0 0 0; float:left;}
.xft span{ width:950px; height:22px; line-height:22px; text-align:center; float:left;}
/*面包屑导航*/
.site{ width:940px; height:30px; line-height:30px; background:url(../images/arrow7.gif) left center no-repeat; padding:0 0 0 20px; float:left;}
/*分页*/
.page{ width:auto; height:23px; text-align:left; margin:25px 0 0 0; float:right;}
.page a{ width:auto; height:18px; line-height:18px; text-align:center; background:#fff; border:1px solid #ccc; margin:0 2px 0 0; padding:0 6px; float:left;}
.page a:hover{ width:auto; height:18px; line-height:18px; border:1px solid #ccc; background:#fff3dd; padding:0 6px; float:left;}
.page a:active{ width:auto; height:18px; line-height:18px; text-align:center; color:#f28c03; background:#fff3dd; border:1px solid #ccc; padding:0 6px; margin:0 2px 0 0; float:left;}
.page span.current{ width:auto; height:18px; line-height:18px; text-align:center; color:#f28c03; background:#fff3dd; border:1px solid #ccc; padding:0 6px; margin:0 2px 0 0; float:left;}
.page span.disabled{ width:auto; height:18px; line-height:18px; text-align:center; color:#f28c03; background:#fff3dd; border:1px solid #ccc; padding:0 6px; margin:0 2px 0 0; float:left;}
/*错误页*/
.error{ width:400px; height:auto; margin:0 auto;}
.errortu{ width:48px; height:50px; margin-top:150px; display:inline; float:left;}
.errorrt{ width:340px; height:400px; margin-top:150px; display:inline; float:right;}
.errorrt strong{ width:340px; line-height:25px; font-size:18px; color:#e00000; float:left;}
.errorrt span{ width:340px; height:auto; line-height:25px; font-size:14px; margin-top:2px; display:inline; float:left;}
.errorrt em{ width:340px; height:auto; line-height:25px; margin-top:8px; display:inline; float:left;}