@charset "utf-8";
/*类目一栏*/
.ban{ width:507px; height:260px; margin-left:220px; display:inline; float:left;}
.bantu{ width:380px; height:260px; float:left;}
.bantu img{ width:380px; height:260px; float:left;}
.banxtu{ width:126px; height:260px; overflow:hidden; margin-left:1px; display:inline; float:left;}
.banxtu li{ width:126px; height:86px; margin-top:1px; display:inline; cursor:pointer; float:left;}
.banxtu li img{ width:126px; height:86px; float:left;}
.hpin{ width:222px; height:auto; float:right;}
.hpin strong{ width:222px; height:22px; line-height:22px; background:#000; color:#fff; text-align:center; float:left; overflow:hidden;}
.hpinnr{ width:212px; height:auto; padding:6px 5px 0; float:left;}
.hpinnr li{ width:212px; height:22px; line-height:22px; overflow:hidden; float:left;}
.hpinnr li em{ color:#f18c08;}
.onead{ width:222px; height:95px; float:left;}
.onead img{ width:222px; height:95px; float:left;}
/*优惠活动场一栏*/
.pref{ width:727px; height:auto; float:left;}
.pref strong{ width:auto; height:30px; float:left;}
.pref em{ width:auto; height:30px; line-height:30px; margin-right:5px; display:inline; float:right;}
.prefnr{ width:725px; height:243px; border:1px solid #eee; float:left;}
.prefnr p{ width:auto; height:243px; float:left;}
.prefzi{ width:161px; height:220px; border-left:3px solid #000; margin-top:12px; display:inline; padding:0 0 0 10px; float:right;}
.prefzi li{ width:161px; height:20px; line-height:20px; text-align:left; float:left;}
.twoad{ width:222px; height:auto; margin-top:15px; display:inline; position:relative; float:right;}
#twoadtit{ width:60px; height:14px; position:absolute; top:8px; right:0; float:left;}
#twoadtit li{ width:14px; height:14px; background:url(../images/tit_1.gif) right no-repeat; cursor:pointer; margin:0 0 0 3px; display:inline; z-index:10; position:relative; float:left;}
#twoadtit li.current{ background:url(../images/tit_1.gif) no-repeat;}
#twoadtit li.usual{ background:url(../images/tit_1.gif) right no-repeat;}
#twoadnr{ width:220px; height:269px; float:left; border:1px solid #eee; position:absolute;}
#twoadnr .con{ width:220px; height:269px; display:none; float:left;}
#twoadnr .con img{ width:220px; height:269px; float:left;}
/*潮我喜欢一栏*/
.liketit{ width:960px; height:30px; float:left;}
.liketit strong{ width:auto; height:30px; float:left;}
#likert{ width:auto; height:18px; margin-top:8px; display:inline; float:right;}
#likert li{ width:18px; height:18px; line-height:18px; background:url(../images/tit_2.gif) right no-repeat; cursor:pointer; margin:0 0 0 3px; text-align:center; color:#fff; display:inline; z-index:10; position:relative; float:left;}
#likert li.current{ background:url(../images/tit_2.gif) no-repeat;}
#likert li.usual{ background:url(../images/tit_2.gif) right no-repeat;}
#likenr{ width:960px; height:350px; float:left; margin-right:-3px;}
#likenr .con{ width:960px; height:350px; display:none; position:relative; float:left; margin-right:-3px;}
#likenr .con p{ width:175px; height:340px; float:left;}
.mar1{ margin-top:10px;}
.mar2{ margin-left:21px;}
.mar3{ margin:10px 0 0 21px;}
.mar4{ margin:10px 0 0 21px;}
.mar5{ margin:0 -3px 0 22px;}
#likenr .con span{ width:960px; height:8px; background:#000; position:absolute; z-index:-1; bottom:30px; left:0; margin-right:-3px;}
/*品牌*/
.inxbrd{ width:958px; height:52px; border:1px solid #eee; padding:10px 0; float:left;}
.inxbrd li{ width:70px; height:50px; border:1px solid #eee; margin:0 2px 0 12px; display:inline; float:left;}
.inxbrd li img{ width:70px; height:50px; float:left;}
/*皇冠店铺一栏*/
.three{ width:727px; height:auto; float:left;}
.threead{ width:200px; height:285px; border:1px solid #eee; display:inline; float:left;}
.threead img{ width:200px; height:285px; float:left;}
.crown{ width:515px; height:287px; float:left; overflow:hidden;}
.crowntit{ width:510px; height:35px; padding:0 0 0 5px; float:left;}
.crowntit strong{ width:auto; height:30px; float:left;}
.crowntit em{ width:auto; height:30px; line-height:30px; margin-right:5px; display:inline; float:right;}
.crownr{ width:503px; height:240px; border:1px solid #eee; padding:5px; float:left;}
.crownlt, .crownrt{ width:14px; height:29px; background:url(../images/arrow3.gif) no-repeat; margin-top:90px; display:inline; cursor:pointer;}
.crownlt{ float:left;}
.crownrt{ background-position:-14px 0; float:right;}
.crowncot{ width:460px; height:240px; margin:0 7px; display:inline; float:left; overflow:hidden;}
.crowncot li{ width:100px; height:230px; text-align:center; margin:5px 0 0 0; display:inline; float:left;}
.crowncot li a{ width:100px; height:146px; float:left;}
.crowncot li p img{ width:100px; height:100px; float:left;}
.crowncot li span{ width:100px; height:40px; line-height:20px; margin:5px 0 0 0; display:inline; float:left;}
.crowncot li strong{ width:100px; height:16px; margin:3px 0 5px 0; text-align:center; display:inline; float:left;}
.crowncot li ins{display:-moz-display-box;display:inline-block;*display:block;}
.crowncot li em{ width:97px; height:20px; line-height:20px; float:left;}
.crowncot li b{ width:42px; height:32px; background:url(../images/tit_3.gif) no-repeat; text-align:left; color:#fff; font-size:14px; font-family:Georgia, "Times New Roman", Times, serif; margin-top:-230px; padding:15px 0 0 5px; float:left;}
.crowncot li i{ font-style:normal;}
.crowncot .li2{ width:20px; height:230px; float:left;}
.brand{ width:222px; height:287px; float:right; overflow:hidden;}
.brand li{ width:222px; height:35px; margin:1px 0 0 0; display:inline; float:left;}
.brand li a{ width:222px; height:35px; float:left;}
/*友情链接*/
.link{ width:956px; height:46px; border:1px solid #eee; float:left;}
.link strong, .link em{  background:url(../images/index_bg.gif) repeat-x;}
.link strong{ width:34px; height:40px; line-height:20px; color:#fff; font-weight:normal; text-align:center; padding:3px 8px; float:left;}
.link em{ width:5px; height:46px; float:right;}
.link span{ width:880px; height:46px; line-height:23px; color:#ddd; padding:0 10px; float:left;}