@charset "utf-8";
body{ font:12px '宋体', Verdana, Arial; background:#fff; margin:0px; padding:0px;}
span,p,ol,ul,li,form,input,ul,li,dt,dl,dd,em,a,h1,h2,h3,h4,h5,h6,i,iframe,center,del,ins,strong{ margin:0px; padding:0px;}
input,ul,li{list-style-type:none;}
em{ font-style:normal;}
img{ border:0px;}
/*bg*/
.tit_bg{ height:9px; background:url(../images/bg2.jpg) top right no-repeat; overflow:hidden;}
/*font*/
.f_333{ color:#333;}
.f_666{ color:#666;}
.f_999{ color:#999;}
.f_000{ color:#000;}
.f_fff{ color:#fff;}
.f_b5b5b5{ color:#b5b5b5;}
.f_403635{ color:#403635;}
.f_e00101{ color:#e00101;}
.f_0e8202{ color:#0e8202;}
.f_ff8a00{ color:#ff8a00;}
.f_000_14{ color:#000; font-size:14px;}
.f_a48b87_14{ color:#a48b87; font-size:14px;}
.f_805952_18{ color:#805952; font:18px  Verdana, Arial, '宋体'; font-weight:bold;}
.f_fff_14{ color:#fff; font-size:14px;}
.f_e00101_14{ color:#e00101; font-size:14px;}
.f_294100_18{ color:#294100; font:18px  Verdana, Arial, '宋体'; font-weight:bold;}
.f_805952_14{ color:#805952; font-size:14px;}
.f_f60_24{ color:#f60; font-size:26px; font-style:italic;}
.line{ line-height:1px; word-break:break-all; overflow:hidden; display:inline;}
.mar_top_8{ margin-top:8px;}
.mar_top_5{ margin-top:5px;}
.mar_top_3{ margin-top:3px;}
.mar_top_18{ margin-top:18px;}
.mar_left_10{ margin-left:10px; display:inline;}
.mar_left_7{ margin-left:7px;}
.mar_left_30{ margin-left:30px;}
/*link*/
a:link, a:visited{ color:#666; text-decoration:none;}
a:hover{ color:#e00201; text-decoration:underline;}
.l_000:link, .l_000:visited{ color:#000; text-decoration:none;}
.l_000:hover{ color:#e00201; text-decoration:underline;}
.l_333:link, .l_333:visited{ color:#333; text-decoration:none;}
.l_333:hover{ color:#e00201; text-decoration:underline;}
.l_e00101:link, .l_e00101:visited{ color:#be002f; text-decoration:none;}
.l_e00101:hover{ color:#e00201; text-decoration:underline;}
.l_fff:link, .l_fff:visited{ color:#fff; text-decoration:none;}
.l_fff:hover{ color:#f6f3f2; text-decoration:underline;}
.l_805952:link, .l_805952:visited{ color:#805952; text-decoration:none;}
.l_805952:hover{ color:#805952; text-decoration:underline;}
.l_999:link, .l_999:visited{ color:#999; text-decoration:none;}
.l_999:hover{ color:#e00201; text-decoration:underline;}
.l_252525:link, .l_252525:visited{ color:#252525; text-decoration:none;}
.l_252525:hover{ color:#e00201; text-decoration:underline;}
.l_294100:link, .l_294100:visited{ color:#294100; text-decoration:none;}
.l_294100:hover{ color:#000; text-decoration:underline;}
.l_f00:link, .l_f00:visited{ color:#f00; text-decoration:none;}
.l_f00:hover{ color:#e00201; text-decoration:underline;}
.l_f00_u:link, .l_f00_u:visited{ color:#f00; text-decoration:underline;}
.l_f00_u:hover{ color:#e00201; text-decoration:underline;}
.l_2d0b00_u:link, .l_2d0b00_u:visited{ color:#2d0b00; text-decoration:none;}
.l_2d0b00_u:hover{ color:#e00201; text-decoration:underline;}
/*input*/
.input_soout{ width:230px; height:18px; line-height:18px; font-size:12px; border:1px solid #c7c1c1; background:#fff; padding:0 2px;}
.input_soon{ width:230px; height:18px; line-height:18px; font-size:12px; border:1px solid #aea6a6; background:#fbfafa; padding:0 2px;}
.input2_soout{ height:18px; line-height:18px; font-size:12px; border:1px solid #7f9db9; background:#fff; padding:0 2px;}
.input2_soon{ height:18px; line-height:18px; font-size:12px; border:1px solid #467aab; background:#f5f8fa; padding:0 2px;}
.input3_soout{ height:18px; line-height:18px; font-size:12px; border:1px solid #906e69; background:#f6f2f1; padding:0 2px;}
.input3_soon{ height:18px; line-height:18px; font-size:12px; border:1px solid #b2938e; background:#fff; padding:0 2px;}
.input4_soout{ height:22px; line-height:22px; font-size:12px; border:1px solid #a68a86; background:#fff; padding:0 2px;}
.input4_soon{ height:22px; line-height:22px; font-size:12px; border:1px solid #a68a86; background:#f5f8fa; padding:0 2px;}
.input5_soout{ height:22px; line-height:22px; font-size:12px; border:1px solid #7f9db9; background:#fff; padding:0 2px;}
.input5_soon{ height:22px; line-height:22px; font-size:12px; border:1px solid #467aab; background:#f5f8fa; padding:0 2px;}
/*按钮*/
input.agree1{ width:39px; height:20px; line-height:20px; text-align:center; background:url(../images/agree1.gif) no-repeat; color:#fff; border:0px; cursor:pointer;}
input.tijiaoan1{ width:93px; height:30px; line-height:30px; text-align:center; background:url(../images/tijiao-an1.gif) no-repeat; color:#fff; font-size:16px; font-weight:bold; border:0px; cursor:pointer;}
input.tijiaoan2{ width:93px; height:30px; line-height:30px; text-align:center; background:url(../images/tijiao-an2.gif) no-repeat; color:#000; font-size:16px; font-weight:bold; border:0px; cursor:pointer;}
input.so1{ width:53px; height:21px; line-height:21px; text-align:center; background:url(../images/soso2.gif) bottom no-repeat; color:#fff; border:0px; cursor:pointer;}
input.so1:hover{ width:53px; height:21px; line-height:21px; text-align:center; background:url(../images/soso2.gif) no-repeat; color:#fff; border:0px; cursor:pointer;}
input.so2{ width:71px; height:24px; background:url(../images/soso5.gif) top no-repeat; border:0; float:left; cursor:pointer;}
input.so2:hover{ width:71px; height:24px; background:url(../images/soso5.gif) bottom no-repeat; border:0; float:left; cursor:pointer;}
/*select*/
.select_type{ width:90px; height:22px; line-height:22px; background:#fff; border:0px solid #a68a86;}
.select_type2{ width:150px; height:22px; line-height:22px; background:#fff; border:0px solid #a68a86;}
/*导航*/
.zshysite{ width:100%; height:24px; position:relative; float:left;}
.zshysnr{ width:99%; height:22px; line-height:22px; background:#eee; border:solid #d6d6d6; border-width:1px 0; color:#666; position:absolute; padding:0 0 0 1%; float:left; clear:left;}
.zslt, .zsrt{ width:1px; height:22px; background:#d6d6d6; border:solid #fff; border-width:1px 0; position:absolute; z-index:10; top:0; float:left;}
.zshysite .zslt{ left:0;}
.zshysite .zsrt{ right:0;}
/*内容部分*/
.cot{ width:960px; height:auto; margin:0 auto; position:relative;}
/* 分页 */
.page{ width:auto; height:23px; text-align:left; margin:25px 0 0 0; float:right;}
.page a{ width:auto; height:17px; line-height:17px; text-align:center; background:#fff; border:1px solid #b4b4b4; margin:0 7px 0 0; padding:0 6px; float:left;}
.page a:hover{ width:auto; height:17px; line-height:17px; border:1px solid #9c827d; padding:0 6px; float:left}
.pagei1{ line-height:14px; margin:2px 0 0 0; float:left;}
.pagei2{ line-height:14px; margin:2px 0 0 0; float:right;}
.page2{ width:auto; height:17px; line-height:17px; text-align:center; color:#834338; background:#f2e8e7; border:1px solid #9c827d; padding:0 6px; margin:0 7px 0 0; float:left;}
/*搜索模块*/
.soso{ width:940px; height:73px; background:url(../images/soso-bg1.gif) no-repeat; float:left; position:relative; overflow:hidden; padding:0 10px;}
.soso1{ width:125px; height:54px; line-height:18px; padding:13px 0 10px 5px; cursor:pointer; color:#fff; padding-top:10px; float:left;}
.soso1 *{ margin:0; padding:0; line-height:18px;}
.soso1 h6{ font-size:13px; padding-top:10px;}
.soso1 span.img{ float:left; display: block;}
.soso1 p{ float:left; margin:0; padding:0;}
.soso1 div{ font-size:12px; font-family:tahoma,宋体;}
.soso2{ width:585px; height:61px; margin:12px 0 0 45px; display:inline; float:left;}
.soso2t{ width:585px; height:33px; float:left;}
.soso2t span{ margin:0 3px 0 0; display:inline; float:left;}
.soso2t input{ margin:0 0 0 0; display:inline; float:left;}
.soso2t1{ width:auto; height:22px; border:1px solid #a48b87; background:#fff; position:relative;}
.soso2tan{ width:71px; height:24px; background:url(../images/soso-an1.gif) top no-repeat; border:0; float:left; cursor:pointer;}
.soso2tan:hover{ width:71px; height:24px; background:url(../images/soso-an1.gif) bottom no-repeat; float:left;}
.tswltpan{ width:93px; height:30px; background:url(../images/an-pinlun.gif) top no-repeat; border:0; float:left; cursor:pointer;}
.tswltpan:hover{ width:93px; height:30px; background:url(../images/an-pinlun.gif) bottom no-repeat; border:0; float:left;}
.soso2b{ width:585px; height:27px; line-height:27px; text-align:left; float:left;}
.soso2b span{ float:left;}
.soso2line{ width:0px; height:10px; margin:9px 20px 0; border-left:1px solid #c5b7b4; border-right:1px solid #82605b; display:inline; float:left;}
.soso3{ width:170px; height:73px; float:right;}
.soso3 p{ width:170px; height:73px; float:left;}
.soso3 a{ width:170px; height:73px; float:left;}
/*提示*/
.tishi{ width:400px; height:auto; margin:0 auto;}
.tstu{ width:48px; height:48px; margin:152px 10px 0 0; padding:0 0 150px 0; display:inline; float:left;}
.tszi{ width:342px; height:auto; margin:150px 0 0 0; padding:0 0 150px 0; display:inline; float:left;}
.tszi strong{ font-size:22px; color:#be002f; line-height:25px; margin:12px 0; display:block;}
.tszi span{ font-size:14px; line-height:30px; display:block;}
/*评分选星*/
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/icon/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/icon/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}