@charset "utf-8";
/* 第一屏-left */
.onelt{ width:208px; height:auto; background:#f6f2f1; padding:6px 6px 3px; overflow:hidden; float:left;}
.onelt1{ width:206px; height:auto; border:solid #eee6e3; border-width:1px 1px 0; background:#fff; float:left;}
.onelt1tit1{ width:206px; height:28px; line-height:28px; text-align:center; color:#92665e; font-size:13px; font-weight:bold; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #eee6e3; cursor:pointer; float:left;}
.onelt1nr{ width:186px; height:auto; padding:4px 10px; border-bottom:1px solid #eee6e3; float:left;}
.onelt1nr li{ width:186px; height:23px; line-height:23px; text-align:left; word-break:break-all; overflow:hidden; float:left;}
.onelt2{ width:192px; height:auto; border:1px solid #eee6e3; background:#fff; padding:10px 7px; float:left;}
#onelt2tit{ width:192px; height:22px; position:relative; float:left;}
#onelt2tit li{ width:65px; height:22px; line-height:22px; text-align:center; color:#92665e; background:url(../images/tab-tit2.gif) no-repeat; cursor:pointer; margin:0 0 0 5px; display:inline; z-index:10; position:relative; float:left;}
#onelt2tit li.current{ background:url(../images/tab-tit2.gif) right no-repeat;}
#onelt2tit li.usual{ background:url(../images/tab-tit2.gif) no-repeat;}
#onelt2con{ width:192px; height:auto; border-top:1px solid #e7dfdd; margin:-1px 0 0 0; float:left;}
#onelt2con .con{ width:192px; height:auto; display:none; float:left;}
.onelt2nr{ width:192px; height:auto; float:left;}
.onelt2nr li{ width:192px; height:52px; margin:10px 0 0 0; float:left;}
.onelt2nrtu{ width:50px; height:50px; border:1px solid #eee; float:left;}
.onelt2nrtu img{ width:50px; height:50px;}
.onelt2nrzi{ width:132px; height:52px; line-height:18px; float:right;}
.onelt2nrzi1{ width:132px; height:36px; line-height:18px; float:left;}
.onelt2nrzi2{ height:16px; background:url(../images/icon/hg1.gif) no-repeat; float:left;}
.onelt3{ width:206px; height:7px; background:url(../images/bg3.jpg) no-repeat; float:left;}
/*第一屏-center*/
.onece{ width:430px; height:auto; float:left; overflow:hidden;}
.onece1{ width:430px; height:180px; float:left;}
#onece1t{ width:60px; height:20px; z-index:1; position:relative; margin:-25px 8px 0 0; display:inline; float:right;}
#onece1t li{ width:15px; height:15px; line-height:14px; color:#fff; margin-right:3px; text-align:center; background:#a48b87; border:1px solid #e7dad8; cursor:pointer; float:left;}
#onece1t li.current{ color:#fff; background:#b10101; border:1px solid #e7dad8;}
#onece1t li.usual{ color:#333; background:#a48b87; border:1px solid #e7dad8;}
#onece1con{ width:430px; height:180px; float:left;}
#onece1con .con{ width:430px; height:180px; display:none; float:left;}
#onece1con img{ width:430px; height:180px; float:left;}
.onece2{ width:428px; height:185px; border:1px solid #e7e7e9; float:left;}
.onece2t{ width:368px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 50px 0 10px; float:left;}
.onece2t em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.onece2t strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}
.onece2t1{ width:auto; height:19px; line-height:19px; margin:1px 0 0 0; display:inline; float:right;}
.onece2t1 a{ width:40px; height:19px; line-height:19px; text-align:center; display:inline; float:left;}
.onece2t1 a:hover{ width:40px; height:19px; line-height:19px; text-align:center; background:url(../images/tab-tit3.gif) no-repeat; text-decoration:underline; float:left;}
.onece2nr{ width:408px; height:auto; padding:5px 10px 0; float:left;}
.onece2nr li{ width:408px; height:25px; line-height:25px; float:left;}
/*第一屏-right*/
.onert{ width:290px; height:auto; float:right;}
.onert1{ width:268px; height:35px; background:url(../images/line-bg3.jpg) repeat-x; border:solid #e7e7e9; border-width:1px 0; position:relative; padding:11px 10px; float:left;}
.onert1 .lt{ width:1px; height:56px; background:#e7e7e9; position:absolute; top:1px; left:-1px;}
.onert1 .rt{ width:1px; height:56px; background:#e7e7e9; position:absolute; top:1px; right:-1px;}
.onert1an1{ width:129px; height:35px; }
.onert1an1 a{ width:129px; height:35px; background:url(../images/an1.jpg) top no-repeat; float:left;}
.onert1an1 a:hover{ width:129px; height:35px; background:url(../images/an1.jpg) bottom no-repeat; float:left;}
.onert1an2{ width:129px; height:35px; }
.onert1an2 a{ width:129px; height:35px; background:url(../images/an2.jpg) top no-repeat; float:right;}
.onert1an2 a:hover{ width:129px; height:35px; background:url(../images/an2.jpg) bottom no-repeat; float:right;}
.onert2{ width:278px; height:30px; background:#f6f2f1; border:1px solid #e7e7e9; padding:0 5px; float:left;}
.onert2 span{ width:90px; height:27px; line-height:27px; color:#f00; background:url(../images/icon/gb.gif) left center no-repeat; padding:3px 0 0 20px; float:left;}
.onecomp{ width:168px; height:30px; overflow:hidden; float:left;}
.onecomp li{ width:auto; height:27px; line-height:27px; padding:3px 0 0 0; float:left;}
.onert3{ width:288px; height:266px; border:1px solid #e7e7e9; position:relative; float:left;}
.onert3tit{ width:288px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; position:relative; float:left;}
#onert3t{ width:165px; height:28px; background:url(../images/line-bg2.jpg) repeat-x; position:relative; float:left;}
.onert3tr{ width:121px; height:28px; line-height:28px; text-align:right; position:absolute; border-bottom:1px solid #e7e7e9; right:0; top:0; padding:0 5px 0 0; float:left;}
#onert3t li{ width:80px; height:28px; line-height:28px; color:#92665e; text-align:center; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #e7e7e9; border-right:1px solid #e7dad8; cursor:pointer; float:left;}
#onert3t li.current{ color:#92665e; font-weight:bold; background:#fff; border-bottom:0px; border-right:1px solid #e7e7e9;}
#onert3t li.usual{ color:#92665e; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #e7e7e9; border-right:1px solid #e7e7e9;}
#onert3con{ width:288px; height:auto; float:left;}
#onert3con .con{ width:288px; height:auto; display:none; float:left;}
.onert3nr{ width:268px; height:auto; padding:5px 10px 0; float:left;}
.onert3nr li{ width:268px; height:23px; line-height:23px; overflow:hidden; float:left;}
/*第二屏-left*/
.type{ height:auto; border:1px solid #e7e7e9; float:left;}
.typew1{ width:658px;}
.typew2{ width:958px;}
.type1{ height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.type1w1{ width:638px;}
.type1w2{ width:938px;}
.type1 em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.type1 strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}
.type1 span{ width:auto; height:24px; line-height:24px; float:right;}
.type2{ width:658px; height:auto; float:left;}
.type2t{ width:638px; height:30px; line-height:30px; color:#ff7e00; padding:0 5px; margin:5px 5px 0; display:inline; background:url(../images/line.gif) left bottom repeat-x; float:left;}
.type2nr{ width:658px; height:auto; float:left;}
.type2nr li{ width:300px; height:76px; padding:5px 19px 5px 10px; float:left;}
.type2nr strong{ width:300px; height:30px; line-height:30px; font-size:14px; color:#b10101; float:left;}
.type2nr p{ width:300px; height:46px; line-height:23px; color:#666; overflow:hidden; float:left;}
.tpbg{ background:#fbf9f9;}
/*第二屏-right*/
.tprt{ width:290px; height:auto; float:right;}
.card{ width:289px; height:auto; border:1px solid #e7e7e9; float:left; overflow:hidden;}
.cardt{ width:269px; height:24px; background:url(../images/line-bg2.jpg) repeat-x; border-bottom:1px solid #ede6e4; padding:4px 10px 0; float:left;}
.cardt em{ width:4px; height:7px; background:url(../images/icon/arrow5.gif) no-repeat; margin:7px 8px 0 0; float:left;}
.cardt strong{ width:auto; height:24px; line-height:24px; font-size:13px; color:#92665e; float:left;}
.cardt span{ width:auto; height:24px; line-height:24px; float:right;}
.card1{ height:308px;}
.card2{ height:289px;}
.card3{ height:165px;}
.catop{ width:269px; height:auto; padding:5px 10px; float:left;}
.catop li{ width:269px; height:25px; float:left;}
.catopem1, .catopem2{ width:15px; height:13px; line-height:13px; text-align:center; margin:5px 8px 0 0; display:inline; float:left;}
.catopem1{ color:#ff4e00; background:url(../images/icon/sort.gif) left no-repeat;}
.catopem2{ color:#6f3d33; background:url(../images/icon/sort.gif) right no-repeat;}
.catop p{ width:210px; height:25px; line-height:25px; overflow:hidden; float:left;}
.catop span{ width:35px; height:25px; line-height:25px; color:#ff7e00; text-align:right; float:right;}
.cahelp{ width:269px; height:auto; color:#666; padding:5px 10px; float:left;}
.cahelp li{ width:269px; height:25px; line-height:25px; overflow:hidden; float:left;}
.cardad{ width:290px; height:115px; float:left;}
.cardad img{ width:290px; height:115px;}
.link{ width:918px; height:41px; line-height:41px; background:#f6f2f1; border:1px solid #e7e7e9; padding:0 20px; float:left;}
.link b{ width:65px; height:41px; font-size:13px; color:#b10101; float:left;}
.link span{ width:21px; height:41px; background:url(../images/icon-arrow.gif) no-repeat; float:left;}
.link p{ width:815px; height:41px; overflow:hidden; float:right;}

.catop2{ width:269px; height:auto; padding:5px 10px; float:left;}
.catop2 li{ width:249px; height:17px; line-height:17px; background:url(../images/icon/shang.gif) left center no-repeat; padding:0 0 0 20px; margin:5px 0; display:inline; float:left;}

/*名片*/
.mcd{ width:958px; height:auto; padding:0 0 5px 0; float:left;}
.mcd li{ width:225px; height:140px; vertical-align:baseline; margin:5px 5px 0; display:inline; position:relative; overflow:hidden; float:left; cursor:pointer;}
.mcd li a:hover{ text-decoration:none; cursor:pointer;}
.mcd li img{ width:225px; height:140px;}
.overlay{ position:absolute; top:0; bottom:0; left:0; right:0; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.ic_caption{ line-height:18px; position:absolute; overflow:hidden; left:0; right:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
.ic_category{ text-transform:uppercase; font-size:14px; padding:1px 5px; margin:5px 0 0; display:block;}
.ic_zi{ padding:1px 5px; margin:0px; display:block;}
.ic_text{ padding:1px 5px; text-align:justify; display:block;}