@charset "utf-8";
/* 第一屏-left */
.onelt{ width:210px; height:auto; float:left; overflow:hidden;}
/*new*/
.new{ width:196px; height:400px; background:#f6f2f1; padding:7px; position:relative; overflow:hidden; float:left;}
.newtu{ width:43px; height:43px; z-index:1; position:absolute; top:0; right:0; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/new.png');
 background:url(../images/new.png) no-repeat;*background:none;}
.aspect{ width:182px; height:auto; background:#fff; padding:7px; float:left;}
.aspect dt{ width:182px; height:22px; line-height:22px; letter-spacing:1px; text-align:left;}
.line{ width:182px; height:2px; background:#eee; float:left;}
.line em{ height:2px; background:#a48b87; float:left;}
.line1{ width:64px;}
.line2{ width:51px;}
.asp1lt{ width:50px; height:50px; float:left;}
.asp1lt img{ width:48px; height:48px; padding:1px; border:1px solid #eee; float:left;}
.asp1rt{ width:120px; height:auto; line-height:18px; color:#666; text-align:left; float:left;}
.asp2{ width:179px; height:18px; line-height:18px; text-align:left; float:left;}
.asp1ltnr{ margin:0 0 3px 0; display:inline; float:left;}
.asp1lt1{ width:50px; height:50px; float:left;}
.asp1lt1 img{ width:49px; height:49px; border:1px solid #eee; float:left;}
.asp1rt img{ margin-right:3px;}
.aspline{ width:192px; height:9px; background:url(../images/bg3.jpg) no-repeat; float:left;}
/*商家信息*/
.merinf{ width:200px; height:25px; line-height:25px; background:#a48b87; padding:0 0 0 10px; position:relative; float:left;}
.merinf strong{ float:left;}
.merinf span{ margin:0 5px 0 0; float:right;}
.merinf i{ width:1px; height:23px; background:#a48b87; border:solid #fff; border-width:1px 0; position:absolute; z-index:1; top:0; right:0;}
.merinfbg{ width:210px; float:left;}
.merinf2{ width:210px; height:auto; float:left;}
.merinf2 li{ width:210px; height:22px; line-height:22px; color:#666; text-align:left; float:left; overflow:hidden; display:inline;}
/*中间*/
.onece{ width:480px; height:auto; float:left; overflow:hidden;}
.onece1 img{ width:480px; height:70px; float:left;}
.onece2{ width:480px; height:208px; float:left;}
#onece2tit{ width:55px; height:20px; z-index:1; position:relative; margin:-25px 8px 0 0; display:inline; float:right;}
#onece2tit li{ width:15px; height:15px; color:#fff; line-height:15px; margin-right:3px; text-align:center; background:#a48b87; cursor:pointer; float:left;}
#onece2tit li.current{ color:#fff; background:#403635;}
#onece2tit li.usual{ color:#333; background:#a48b87;}
#onece2con{ width:480px; height:208px; float:left;}
#onece2con .con{ width:480px; height:208px; display:none; float:left;}
#onece2con img{ width:480px; height:208px; float:left;}
.onece3{ width:480px; height:155px; float:left;}
.onece3li1{ width:155px; height:155px; background:url(../images/firmbg1.gif) no-repeat; color:#666; float:left;}
.onece3li1 a:hover{ width:155px; height:155px; text-decoration:none; cursor:pointer;}
.onece3li1:hover{ color:#a48b87; background:url(../images/firmbg1.gif) -155px 0 no-repeat; cursor:pointer; float:left;}
.onece3li1 a:hover{ color:#a48b87; background:url(../images/firmbg1.gif) -155px 0 no-repeat; cursor:pointer; float:left;}
.onece3li2{ width:7px; height:139px; float:left;}
.onece3li1 img{ width:135px; height:60px; margin:10px 10px 5px; display:inline; float:left;}
.onece3li1zt{ width:135px; height:36px; line-height:18px; text-align:left; margin:5px 10px 0 10px; display:inline; float:left;}
.onece4{ width:480px; height:190px; position:relative; float:left;}
.ce4lt, .ce4rt{ width:1px; height:188px; background:#e7dfdd; border:solid #fff; border-width:1px 0; position:absolute; z-index:10; float:left;}
.onece4 .ce4lt{ left:0;}
.onece4 .ce4rt{ right:0;}
#onece4tit{ width:460px; height:25px; background:#f6f2f1; border:solid #e7dfdd; border-width:1px 0; padding:4px 10px 0; display:inline; font-size:14px; float:left; position:relative; overflow:none;*overflow:hidden;}
#onece4tit b{  height:25px; line-height:25px; color:#413736; margin:0 10px 0 0; float:left}
#onece4tit li{ width:72px; height:25px; color:#a48c88; line-height:25px; font-weight:bold; margin-right:3px; text-align:center; background:url(../images/tab-tit1.gif) -72px 0 no-repeat; cursor:pointer; position:relative; z-index:1; margin-top:1px; float:left;}
#onece4tit li.current{ background:url(../images/tab-tit1.gif) no-repeat;}
#onece4tit li.usual{ font-weight:normal; background:url(../images/tab-tit1.gif) -72px 0 no-repeat;}
#onece4con{ width:480px; height:158px; border-bottom:1px solid #e7dfdd; position:relative; float:left; overflow:hidden;}
#onece4con .con{ width:458px; height:138px; line-height:24px; font-size:14px; color:#999; padding:10px; display:none; float:left;}
/*右边*/
.onert{ width:250px; height:auto; float:right; overflow:hidden;}
.onert1{ width:230px; height:36px; background:#eee; position:relative; padding:12px 10px; float:left;}
.rt1lt, .rt1rt{ width:1px; height:58px; background:#eee; border:solid #fff; border-width:1px 0; position:absolute; z-index:10; top:0; float:left;}
.onert1 .rt1lt{ left:0;}
.onert1 .rt1rt{ right:0;}
.onert1an1, .onert1an2{ width:110px; height:35px;}
.onert1an1 a, .onert1an1 a:hover, .onert1an2 a, .onert1an2 a:hover{ width:110px; height:35px; float:left;}
.onert1an1{ float:left;}
.onert1an1 a{ background:url(../images/an1.jpg) top no-repeat;}
.onert1an1 a:hover{ background:url(../images/an1.jpg) bottom no-repeat;}
.onert1an2{ float:right;}
.onert1an2 a{ background:url(../images/an2.jpg) top no-repeat;}
.onert1an2 a:hover{ background:url(../images/an2.jpg) bottom no-repeat;}
.onert2{ width:240px; height:auto; float:left;}
.onert2tit{ width:240px; height:25px; line-height:25px; background:#666; padding:0 0 0 10px; position:relative; float:left;}
.onert2tit strong{ float:left;}
.onert2tit span{ margin:0 5px 0 0; float:right;}
.onert2tit i{ width:1px; height:23px; background:#666; border:solid #fff; border-width:1px 0; position:absolute; z-index:1; top:0; right:0;}
.onert2bg{ width:250px; float:left;}
.onert2nr1{ width:250px; height:60px; line-height:20px; color:#666; font-weight:bold; border-bottom:1px solid #ccc; padding:0 0 5px 0; margin:0 0 5px 0; float:left;}
.onert2nr2{ width:250px; height:auto; float:left;}
.onert2nr2 li{ width:250px; height:23px; line-height:23px; color:#666; letter-spacing:1px; overflow:hidden; display:inline; float:left;}
.onert2ad{ width:250px; height:65px; margin:3px 0 0 0; float:left;}
.onert2ad img{ width:250px; height:65px; float:left;}
/*横条广告*/
.adbar{ width:960px; height:60px; float:left;}
.adbar img{ width:960px; height:60px; float:left;}
/*商业快迅*/
.trade{ height:226px; position:relative;}
.tradew{ width:700px!important;width:auto;}
.tradew2{ width:250px!important;width:auto;}
.tradelt{ float:left;}
.tradert{ float:right;}
.tralt, .trart{ width:1px; height:224px; background:#e7dfdd; border:solid #fff; border-width:1px 0; position:absolute; z-index:10; top:0; float:left;}
.trade .tralt{ left:0;}
.trade .trart{ right:0;}
.tradenr{ width:auto; height:218px; background:#fff; border:solid #e7dfdd; border-width:1px 0; position:relative; padding:3px 4px; float:left; overflow:hidden;}
.tradetit{ height:25px; line-height:25px; background:#a48b87; position:relative; float:left;}
.tradw{ width:692px;}
.tradw2{ width:242px;}
.tradetit strong{ padding: 0 0 0 10px; float:left;}
.tradetit .tratlt{ width:1px; height:23px; background:#a48b87; border:solid #fff; border-width:1px 0; position:absolute; z-index:1; top:0; left:0;}
.tradetit .tratrt{ width:1px; height:23px; background:#a48b87; border:solid #fff; border-width:1px 0; position:absolute; z-index:1; top:0; right:0;}
.tradecot{ width:692px; height:183px; float:left;}
.trade1{ width:138px; height:183px; float:left;}
.trade1 img{ width:130px; height:157px; padding:3px; border:1px solid #eee; float:left;}
.trade1zi{ width:136px; height:18px; line-height:18px; background:#fff; border:solid #eee; border-width:0 1px 1px; text-align:center; float:left;}
.trade2{ width:300px; height:auto; float:left;}
.trade2 dt{ width:300px; height:25px; line-height:25px; text-align:left; float:left;}
.trade2 dd{ width:300px; height:auto; float:left;}
.trade2 dd span{ width:99px; height:20px; line-height:20px; color:#666; text-align:left; overflow:hidden; float:left;}
.trade2 dd p{ width:300px; height:24px; line-height:24px; color:#666; text-align:left; overflow:hidden; float:left;}
.trade4{ width:230px; height:auto; float:left;}
.trade4 li{ width:230px; height:78px; margin:6px 0; float:left;}
.trade4 img{ width:72px; height:72px; padding:3px; border:1px solid #eee; float:left;}
.trade4 span{ width:140px; height:78px; line-height:20px; text-align:left; overflow:hidden; float:right;}
.help{ width:242px; height:auto; float:left;}
.help dt{ width:61px; height:134px; overflow:hidden; float:left;}
.help dt img{ width:60px; height:60px; border:1px solid #eee; margin:6px 0; float:left;}
.help dd{ width:170px; height:auto; color:#666; float:left;}
.helpdd1{ width:170px; height:23px; line-height:23px; overflow:hidden; float:left;}
.helpdd2{ width:240px; height:23px; line-height:23px; overflow:hidden; float:left;}
